/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 base color
 *    1.2 font
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. variable */

:root
{
	/* @section 1.1 base color */

	--rs-console-color-primary: #00ff00;
	--rs-console-color-secondary: #222;

	/* @section 1.2 font */

	--rs-console-font-primary: monospace, arial, sans-serif;
}