/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 base color
 *    1.2 font
 */

/** @section 1. variable */

:root
{
	/** @section 1.1 base color */

	--rs-color-primary: #300a24;

	/** @section 1.2 font */

	--rs-font-primary: 'ubuntu mono', monospace, arial, sans-serif;
}
