/**
 * @tableofcontents
 *
 * 1. console
 */

/** @section 1. console */

.rs-body
{
	background: var(--rs-color-primary);
	color: gray(100);
	font: 1em var(--rs-font-primary);
	padding: 0.25em;
}

.rs-box-default
{
	font-size: 1.125em;
	white-space: pre-wrap;
}

.rs-form-default
{
	display: flex;
	font-size: 1.125em;
	overflow: hidden;
}

.rs-label-default:after
{
	content: '\00a0';
}

.rs-field-text
{
	background: transparent;
	color: inherit;
	flex-basis: 100%;
}
