/**
 * @tableofcontents
 *
 * 1. console
 */

/** @section 1. console */

.rs-console-body
{
	background: var(--rs-console-color-primary);
	color: gray(100);
	font: 1em var(--rs-console-font-primary);
	padding: 0.25em;
}

.rs-console-box-default
{
	white-space: pre-wrap;
}

.rs-console-form-default
{
	display: flex;
	overflow: hidden;
}

.rs-console-label-default:after
{
	content: '\00a0';
}

.rs-console-field-text
{
	background: transparent;
	color: inherit;
	flex-basis: 100%;
}