/**
 * @tableofcontents
 *
 * 1. font face
 * 2. list share this
 * 3. link share this
 *    3.1 icons
 *    3.1.1 facebook
 *    3.1.2 google plus one
 *    3.1.3 twitter
 *    3.1.4 pinterest
 *    3.1.5 tumblr
 *    3.1.6 linkedin
 *    3.1.7 stumbleupon
 *    3.1.8 delicious
 *    3.2 counter
 *
 * @since 2.0.2
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon share this';
	src: url('modules/share_this/fonts/icon.woff') format('woff'), url('modules/share_this/fonts/icon.ttf') format('truetype');
}

/* @section 2. list share this */

.list_share_this
{
	margin-bottom: 3em;
	margin-top: 2em;
}

.list_share_this li
{
	float: left;
	margin-right: 3.25em;
}

/* @section 3. link share this */

.link_share_this
{
	display: inline-block;
	height: 2.75em;
	position: relative;
	text-indent: -999em;
}

/* @section 3.1 icons */

.link_share_this:before
{
	-moz-border-radius: 2em;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	-webkit-border-radius: 2em;
	-webkit-transition: background 0.3s;
	background: #bbb;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 2em;
	color: #fff;
	content: 'a';
	font: 1.125em/2.25em 'icon share this';
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	transition: background 0.3s;
	width: 2.25em;
}

/* @section 3.1.1 facebook */

.link_share_this.link_facebook:before
{
	content: 'b';
}

.link_share_this.link_facebook:hover:before
{
	background: #3b5998;
}

/* @section 3.1.2 google plus one */

.link_share_this.link_googleplusone:before
{
	content: 'c';
}

.link_share_this.link_googleplusone:hover:before
{
	background: #d34836;
}

/* @section 3.1.3 twitter */

.link_share_this.link_twitter:before
{
	content: 'd';
}

.link_share_this.link_twitter:hover:before
{
	background: #00aced;
}

/* @section 3.1.4 pinterest */

.link_share_this.link_pinterest:before
{
	content: 'e';
}

.link_share_this.link_pinterest:hover:before
{
	background: #cb2027;
}

/* @section 3.1.5 tumblr */

.link_share_this.link_tumblr:before
{
	content: 'f';
}

.link_share_this.link_tumblr:hover:before
{
	background: #32506d;
}

/* @section 3.1.6 linkedin */

.link_share_this.link_linkedin:before
{
	content: 'g';
}

.link_share_this.link_linkedin:hover:before
{
	background: #007bb6;
}

/* @section 3.1.7 stumbleupon */

.link_share_this.link_stumbleupon:before
{
	content: 'h';
}

.link_share_this.link_stumbleupon:hover:before
{
	background: #f74425;
}

/* @section 3.1.8 delicious */

.link_share_this.link_delicious:before
{
	content: 'i';
}

.link_share_this.link_delicious:hover:before
{
	background: #205cc0;
}

/* @section 3.2 counter */

.link_share_this:after
{
	color: #bbb;
	color: rgba(0, 0, 0, 0.15);
	content: attr(data-counter);
	bottom: -1.25em;
	font: bold 1em arial;
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	width: 2.5em;
}