/**
 * @tableofcontents
 *
 * 1. font face
 * 2. list share this
 * 3. link share this
 *    3.1 facebook
 *    3.2 google
 *    3.3 twitter
 *    3.4 pinterest
 *    3.5 tumblr
 *    3.6 linkedin
 *    3.7 stumbleupon
 *    3.8 delicious
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon share this';
	src: url('modules/share_this/fonts/icon.woff') format('woff');
}

/* @section 2. list share this */

.list_share_this
{
	margin: 2em 0;
}

.list_share_this li
{
	float: left;
	margin-right: 3em;
}

/* @section 3. link share this */

.link_share_this
{
	display: inline-block;
	height: 2.75em;
	position: relative;
	text-indent: -999em;
}

.link_share_this:before
{
	-moz-border-radius: 2em;
	-webkit-border-radius: 2em;
	background: #aaa;
	border-radius: 2em;
	color: #fff;
	content: 'a';
	font: 1em/2.25em 'icon share this';
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	width: 2.25em;
}

/* @section 3.1 facebook */

.link_share_this.link_facebook:before
{
	background: #3b5998;
	content: 'b';
}

/* @section 3.2 google */

.link_share_this.link_google:before
{
	background: #d34836;
	content: 'c';
}

/* @section 3.3 twitter */

.link_share_this.link_twitter:before
{
	background: #00aced;
	content: 'd';
}

/* @section 3.4 pinterest */

.link_share_this.link_pinterest:before
{
	background: #cb2027;
	content: 'e';
}

/* @section 3.5 tumblr */

.link_share_this.link_tumblr:before
{
	background: #32506d;
	content: 'f';
}

/* @section 3.6 linkedin */

.link_share_this.link_linkedin:before
{
	background: #007bb6;
	content: 'g';
}

/* @section 3.7 stumbleupon */

.link_share_this.link_stumbleupon:before
{
	background: #f74425;
	content: 'h';
}

/* @section 3.8 delicious */

.link_share_this.link_delicious:before
{
	background: #205cc0;
	content: 'i';
}