/**
 * @tableofcontents
 *
 * 1. font face
 * 2. editor toolbar
 * 3. editor control
 *    3.1 icons
 * 4. editor preview
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon editor';
	src: url('modules/Editor/assets/fonts/icon.woff') format('woff'), url('modules/Editor/assets/fonts/icon.ttf') format('truetype');
}

/* @section 2. editor toolbar */

.rs-editor-toolbar
{
	background: url('modules/Editor/assets/images/carbon.png') #222;
	font-size: 0.875rem;
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8);
}

.rs-editor-toolbar, .rs-editor-toolbar a
{
	color: #b9b9b9;
}

/* @section 3. editor control */

.rs-editor-control
{
	cursor: pointer;
	float: left;
	height: 3.125em;
	position: relative;
	text-indent: -999em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	transition: padding 0.4s ease;
	width: 3.375em;
}

.rs-editor-control:hover
{
	background: linear-gradient(#3db1f1, #0090db);
	color: #000;
	padding: 0 0.25em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

/* unformat */

.rs-editor-control.rs-unformat:hover
{
	background: linear-gradient(#d50000, #a20000);
}

.rs-editor-control:before,
.rs-editor-preview codequote:before,
.rs-editor-preview language:before,
.rs-editor-preview module:before,
.rs-editor-preview readmore:before,
.rs-editor-preview registry:before,
.rs-editor-preview template:before
{
	font: 1.25em/2.5em 'icon editor';
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
}

/* @section 3.1 icons */

.rs-editor-control.rs-source-code:before
{
	content: 'a';
}

.rs-editor-control.rs-wysiwyg:before
{
	content: 'b';
}

.rs-editor-control.rs-bold:before
{
	content: 'c';
}

.rs-editor-control.rs-italic:before
{
	content: 'd';
}

.rs-editor-control.rs-underline:before
{
	content: 'e';
}

.rs-editor-control.rs-strike:before
{
	content: 'f';
}

.rs-editor-control.rs-superscript:before
{
	content: 'g';
}

.rs-editor-control.rs-subscript:before
{
	content: 'h';
}

.rs-editor-control.rs-paragraph:before
{
	content: 'i';
}

.rs-editor-control.rs-h1:before
{
	content: 'j';
}

.rs-editor-control.rs-h2:before
{
	content: 'k';
}

.rs-editor-control.rs-h3:before
{
	content: 'l';
}

.rs-editor-control.rs-h4:before
{
	content: 'm';
}

.rs-editor-control.rs-h5:before
{
	content: 'n';
}

.rs-editor-control.rs-h6:before
{
	content: 'o';
}

.rs-editor-control.rs-ordered-list:before
{
	content: 'p';
}

.rs-editor-control.rs-unordered-list:before
{
	content: 'q';
}

.rs-editor-control.rs-outdent:before
{
	content: 'r';
}

.rs-editor-control.rs-indent:before
{
	content: 's';
}

.rs-editor-control.rs-align-left:before
{
	content: 't';
}

.rs-editor-control.rs-align-center:before
{
	content: 'u';
}

.rs-editor-control.rs-align-right:before
{
	content: 'v';
}

.rs-editor-control.rs-align-justify:before
{
	content: 'w';
}

.rs-editor-control.rs-undo:before
{
	content: 'x';
}

.rs-editor-control.rs-redo:before
{
	content: 'y';
}

.rs-editor-control.rs-cut:before
{
	content: 'z';
}

.rs-editor-control.rs-copy:before
{
	content: '1';
}

.rs-editor-control.rs-paste:before
{
	content: '2';
}

.rs-editor-control.rs-insert-link:before
{
	content: '3';
}

.rs-editor-control.rs-unlink:before
{
	content: '4';
}

.rs-editor-control.rs-insert-image:before
{
	content: '5';
}

.rs-editor-control.rs-insert-readmore:before, .rs-editor-preview readmore:before
{
	content: '6';
}

.rs-editor-control.rs-insert-codequote:before, .rs-editor-preview codequote:before
{
	content: '7';
}

.rs-editor-preview language:before,
.rs-editor-preview module:before,
.rs-editor-preview registry:before,
.rs-editor-preview template:before
{
	content: '8';
}

.rs-editor-control.rs-unformat:before
{
	content: '9';
}

/* @section 4. editor preview */

.rs-editor-preview
{
	background: #eee;
	border: 1px solid #c9c9c9;
	border-radius: 0.25em;
	min-height: 20em;
	padding: 0.5em;
}

/* pseudo tags */

.rs-editor-preview codequote,
.rs-editor-preview language,
.rs-editor-preview module,
.rs-editor-preview readmore,
.rs-editor-preview registry,
.rs-editor-preview template
{
	border: 2px dashed;
	color: #b9b9b9;
	display: inline-block;
	height: 3em;
	margin: 0.5em;
	position: relative;
	text-indent: -999em;
	user-select: none;
	width: 3em;
}
