/**
 * @tableofcontents
 *
 * 1. box accordion default
 * 2. box code
 * 3. box default
 * 4. box dialog default
 * 5. box line
 * 6. box note
 * 7. box sidebar
 * 8. box tab default
 * 9. space between elements
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box accordion default */

.box_accordion_default
{
	background: #fff;
	border: 1px solid #ddd;
	border-top: 0;
	border-radius: 0 0 0.25em 0.25em;
	padding: 0.75em 1.25em;
}

/* @section 2. box code */

.box_code
{
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	display: block;
	font: 1em/1.25em consolas, arial;
	padding: 1em;
}

/* @section 3. box default */

.box_default
{
	background: #eee;
	border-radius: 0.25em;
	padding: 1em 1.5em;
}

/* @section 4. box dialog default */

.box_dialog_default
{
	padding: 1em;
}

/* @section 5. box line */

.box_line
{
	border-bottom: 1px solid #ddd;
	margin-bottom: 3em;
	margin-top: 3em;
}

/* @section 6. box note */

.box_note
{
	border: 1px solid;
	padding: 1em;
}

/* @section 7. box sidebar */

.box_sidebar
{
	background: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	margin-bottom: 2em;
	margin-top: 2em;
}

/* @section 8. box tab default */

.box_tab_default
{
	background: #fff;
	border: 1px solid #ddd;
	padding: 1em 1.5em;
}

/* @section 9. space between elements */

.box_note + .box_note, .form_default .box_note
{
	margin-top: 1em;
}