/**
 * @tableofcontents
 *
 * 1. dialog default
 * 2. dialog overlay default
 * 3. fadein effect
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog default */

.dialog_default
{
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* @section 2. dialog overlay default */

.dialog_overlay_default
{
	background: #000;
	background: rgba(0, 0, 0, 0.4);
}

/* @section 3. fadein effect */

.dialog_default, .dialog_overlay_default
{
	-webkit-animation: fade 0.4s;
	animation: fade 0.4s;
}