/**
 * @tableofcontents
 *
 * 1. dialog default
 * 2. dialog overlay default
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog default */

.dialog_default
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	background: #fff;
	border: 1px solid #d5d5d5;
	border-color: rgba(0, 0, 0, 0.15);
	border-radius: 0.25em;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* @section 2. dialog overlay default */

.dialog_overlay_default
{
	background: #000;
}