/* tag styling */

button
{
	cursor: pointer;
}

textarea
{
	resize: vertical;
}

/* button */

.field_button
{
	font: 1em arial;
}

.field_button_large
{
	font: 1.25em arial;
}

.field_button, .field_button_large
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background: #f5f5f5;
	background: linear-gradient(top, #ffffff, #e6e6e6);
	background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
	background: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-radius: 0.25em;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
}

.field_button:hover, .field_button_large:hover
{
	background: #e6e6e6;
}

.field_button:active, .field_button_large:active, .field_button:focus, .field_button_large:focus
{
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background: #e6e6e6;
}

.field_button span, .field_button_large span
{
	display: inline-block;
}

.field_button span span, .field_button_large span span
{
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	line-height: 2.25em;
	padding: 0 0.5em;
}

/* default form */

.form_default
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	background: #f5f5f5;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 0.25em;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 1.5em;
}

.form_default .label
{
	display: block;
}