/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. footer
 * 3. header
 * 4. grid elements
 * 5. wrapper
 */

/* @section 1. tag styling */

body
{
	background: #fff;
}

/* @section 2. footer */

.footer
{
	background: #f5f5f5;
	border-top: 1px solid #d5d5d5;
	border-top-color: rgba(0, 0, 0, 0.15);
	color: #777;
	margin-top: 4em;
	padding: 4em 2em;
}

/* @section 3. header */

.header
{
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	background: #2c2c2c;
	background: -moz-linear-gradient(top, #333, #222);
	background: -ms-linear-gradient(top, #333, #222);
	background: -o-linear-gradient(top, #333, #222);
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222));
	background: -webkit-linear-gradient(top, #333, #222);
	background: linear-gradient(top, #333, #222);
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	margin-bottom: 2em;
}

/* @section 4. grid elements */

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul, .line_space
{
	margin-left: 20px;
	margin-right: 20px;
}

.line, .line_space
{
	margin-bottom: 20px;
	margin-top: 20px;
}

/* @section 5. wrapper */

.wrapper
{
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	width: 980px;
}

.wrapper_body
{
	min-width: 980px;
}
	
.wrapper_table_default
{
	overflow: hidden;
}

.wrapper_table_default > .table
{
	width: 100%;
}