/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. footer
 * 3. header
 * 4. grid elements
 * 5. wrapper
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

body
{
	background: #fff;
}

/* @section 2. footer */

.footer
{
	background: #f5f5f5;
	border-top: 1px solid #ddd;
	margin-top: 4em;
	padding: 4em 2em;
}

/* @section 3. header */

.header
{
	background: #2c2c2c;
	background: -webkit-linear-gradient(#333, #222);
	background: linear-gradient(#333, #222);
	margin-bottom: 2em;
}

/* @section 4. grid elements */

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul, .line_space
{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.line, .line_space
{
	margin-bottom: 1rem;
	margin-top: 1rem;
}

/* @section 5. wrapper */

.wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}

.wrapper_body
{
	min-width: 70em;
}

.wrapper_table_default
{
	overflow: hidden;
}

.wrapper_table_default > .table_default
{
	width: 100%;
}