body
{
	background: #fff;
}

/* footer */

.footer
{
	margin-top: 4em;
}

/* header */

.header
{
	-moz-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	background: #2c2c2c;
	background: linear-gradient(top, #333, #222);
	background: -moz-linear-gradient(top, #333, #222);
	background: -ms-linear-gradient(top, #333, #222);
	background: -o-linear-gradient(top, #333, #222);
	background: -webkit-linear-gradient(top, #333, #222);
	box-shadow: inset 0 -1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.25);
	margin-bottom: 4em;
	padding: 0.75em 0;
}

/* grid elements */

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul, .line_space
{
	margin-left: 10px;
	margin-right: 10px;
}

.line, .line_space
{
	margin-bottom: 20px;
	margin-top: 20px;
}

/* wrapper */

.wrapper
{
	margin: auto;
	width: 980px;
}

.wrapper_body
{
	min-width: 980px;
}