/**
 * @tableofcontents
 *
 * 1. list breadcrumb
 * 2. list default
 * 3. list header
 * 4. list pagination
 * 5. list sidebar
 * 6. list tab default
 *    6.1 javascript enabled
 * 7. list search result
 * 8. tooltip
 * 9. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list breadcrumb */

.list_breadcrumb
{
	background: #fbfbfb;
	background: -webkit-linear-gradient(#fff, #f5f5f5);
	background: linear-gradient(#fff, #f5f5f5);
	border: 1px solid #ddd;
	border-radius: 0.25em;
	margin-bottom: 2em;
	padding: 0.75em 1.25em;
	text-shadow: 0 1px #fff;
}

.list_breadcrumb li
{
	display: inline-block;
}

.list_breadcrumb .divider
{
	color: #999;
	margin: 0 0.5em;
}

/* @section 2. list default */

.list_default li
{
	list-style: inherit;
	margin: 1em 1.5em;
}

/* @section 3. list header */

.list_header
{
	margin-left: 1.5em;
	margin-right: 1.5em;
}

.list_header a
{
	color: #999;
	line-height: 3.5em;
	padding: 0 2em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

.list_header a:hover, .list_header .item_active a
{
	color: #fff;
}

.list_header li
{
	display: inline-block;
}

.list_header li:last-child
{
	margin-right: 0;
}

.list_header .item_active
{
	background: #222;
}

/* @section 4. list pagination */

.list_pagination
{
	margin: 2em 0;
	text-align: center;
}

.list_pagination li
{
	display: inline-block;
}

.list_pagination li:first-child a, .list_pagination li:first-child span
{
	border-radius: 0.25em 0 0 0.25em;
	border-left-width: 1px;
}

.list_pagination li:last-child a, .list_pagination li:last-child span
{
	border-radius: 0 0.25em 0.25em 0;
}

.list_pagination a, .list_pagination span
{
	background: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
	padding: 0.75em 1em;
}

.list_pagination a:hover, .list_pagination span
{
	background: #f5f5f5;
}

.list_pagination span
{
	color: #999;
}

/* @section 5. list sidebar */

.list_sidebar
{
	color: #999;
	text-indent: 1.5em;
}

.list_sidebar a
{
	display: block;
}

.list_sidebar a:hover
{
	background: #eee;
}

.list_sidebar li
{
	line-height: 3em;
}

.list_sidebar li.item_active > a
{
	background: #0088cc;
	color: #fff;
}

/* children list */

.list_sidebar .list_children
{
	text-indent: 2em;
}

/* @section 6. list tab default */

.list_tab_default li
{
	background: #fff;
	border: 1px solid;
	border-color: #fff #fff #ddd;
	border-radius: 0.25em 0.25em 0 0;
	margin-bottom: -1px;
	margin-right: 0.25em;
}

.list_tab_default li:hover
{
	background: #f5f5f5;
}

.list_tab_default a
{
	font: 1em/2.75em arial;
	padding: 0 1em;
}

/* @section 6.1 javascript enabled */

.js .list_tab_default .item_active
{
	border-color: #ddd #ddd #fff;
}

.js .list_tab_default .item_active:hover
{
	background: #fff;
}

.js .list_tab_default .item_active a
{
	cursor: default;
	color: #555;
}

/* @section 7. list search result */

.list_search_result
{
	font-size: 1.125em;
}

.list_search_result .date_search_result
{
	font-size: 0.875em;
}

.list_search_result .item_search_result
{
	list-style: decimal-leading-zero;
	margin: 1em 0 1em 2em;
}

.list_search_result .link_search_result
{
	display: block;
	text-decoration: underline;
}

/* @section 8. tooltip */

.tooltip:after
{
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 0.25em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #555;
	left: 100%;
	margin-left: 1em;
	top: -0.625em;
	-webkit-transition: opacity 0.4s 0.4s ease;
	transition: opacity 0.4s 0.4s ease;
	padding: 1em;
}

/* @section 9. space between elements */

.set_accordion_default + .set_accordion_default
{
	margin-top: 0.25em;
}
