/* sidebar general list */

.sidebar li
{
	line-height: 2.25em;
}

.sidebar li a
{
	display: block;
	padding: 0 1em;
	text-decoration: none;
}

.sidebar li a:hover
{
	background: #eee;
}

.sidebar li.item_active > a
{
	background: #0088cc;
	color: #fff;
}

.sidebar .list_children a
{
	padding-left: 1.5em;
}

/* breadcrumbs list */

.list_breadcrumbs
{
	-moz-border-radius: 0.125em;
	-moz-box-shadow: inset 0 1px #fff;
	-webkit-border-radius: 0.125em;
	-webkit-box-shadow: inset 0 1px #fff;
	background: #fbfbfb;
	background: linear-gradient(top, #fff, #f5f5f5);
	background: -moz-linear-gradient(top, #fff, #f5f5f5);
	background: -ms-linear-gradient(top, #fff, #f5f5f5);
	background: -o-linear-gradient(top, #fff, #f5f5f5);
	background: -webkit-linear-gradient(top, #fff, #f5f5f5);
	border: 1px solid #ddd;
	border-radius: 0.125em;
	box-shadow: inset 0 1px #fff;
	margin-bottom: 2em;
	padding: 0.75em 1.25em;
	text-shadow: 0 1px #fff;
}

.list_breadcrumbs li
{
	display: inline-block;
}

.list_breadcrumbs .divider
{
	color: #999;
	margin: 0 0.5em;
}

/* default list */

.list_default li
{
	margin: 0.5em 1.5em;
	list-style: inherit;
}

/* header list */

.list_header
{
	display: inline-block;
}

.list_header a
{
	color: #999;
	line-height: 3.5em;
	padding: 0 0.75em;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}

.list_header a:hover, .list_header .item_active a
{
	color: #fff;
	text-decoration: none;
}

.list_header li
{
	display: inline-block;
	margin-left: 0.5em;
}

.list_header .item_active
{
	background: #222;
}

/* pagination list */

.list_pagination
{
	margin: 2em 0;
	text-align: center;
}

.list_pagination li
{
	display: inline-block;
}

.list_pagination li:first-child a, .list_pagination li:first-child span
{
	border-radius: 0.25em 0 0 0.25em;
	border-left-width: 1px;
}

.list_pagination li:last-child a, .list_pagination li:last-child span
{
	border-radius: 0 0.25em 0.25em 0;
}

.list_pagination a, .list_pagination span
{
	background: #fff;
	border: 1px solid #ddd;
	border-left-width: 0;
	padding: 0.75em 1em;
}

.list_pagination a:hover
{
	text-decoration: none;
}

.list_pagination a:hover, .list_pagination span
{
	background: #f5f5f5;
}

.list_pagination span
{
	color: #999;
}

/* default tab menue */

.list_tab_menue_default
{
	border-bottom: 1px solid #ddd;
}

.list_tab_menue_default li
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: #fff;
	border: 1px solid;
	border-color: #fff #fff #ddd;
	border-radius: 0.25em 0.25em 0 0;
	margin-bottom: -1px;
	margin-right: 1px;
}

.list_tab_menue_default li:hover
{
	background: #f5f5f5;
}

.list_tab_menue_default a
{
	font: 1em/2.75em arial;
	padding: 0 1em;
}

.list_tab_menue_default a:hover
{
	text-decoration: none;
}

/* javascript enabled */

.js .list_tab_menue_default .item_active
{
	border-color: #ddd #ddd #fff;
}

.js .list_tab_menue_default .item_active:hover
{
	background: #fff;
}

.js .list_tab_menue_default .item_active a
{
	cursor: default;
	color: #555;
}

/* search list */

.list_search_result
{
	font-size: 1.125em;
}

.list_search_result .date_search_result
{
	font-size: 0.875em;
}

.list_search_result .item_search_result
{
	list-style: decimal-leading-zero;
	margin: 1em 0 1em 2em;
}

.list_search_result .link_search_result
{
	display: block;
	text-decoration: underline;
}

/* space between elements */

.set_accordion_default + .set_accordion_default
{
	margin-top: 0.25em;
}

/* default tooltip */

.tooltip_default
{
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #fff;
	border: 1px solid #999;
	border-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	color: #555;
	left: 100%;
	margin-left: 1em;
	top: -0.625em;
	padding: 1em;
	width: 200px;
}