/* print */

@media print
{
	body
	{
		color: #000;
		font-size: 1em;
	}

	.footer, .header, .sidebar
	{
		display: none;
	}
}

/* screen */

@media screen and (max-width: 800px)
{
	.content
	{
		min-height: 200px;
	}

	.content, .sidebar
	{
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 640px)
{
	.player
	{
		height: 400px;
		width: 600px;
	}
}

@media screen and (max-width: 480px)
{
	.dialog_default
	{
		margin: -50px 0 0 -40%;
		width: 80%;
	}

	.list_pagination .item_number
	{
		display: none;
	}

	.list_pagination .item_active
	{
		display: inline-block;
	}

	.player
	{
		height: 300px;
		width: 400px;
	}
}

@media screen and (max-width: 320px)
{
	.player
	{
		height: 180px;
		width: 240px;
	}
}

@media screen and (max-width: 240px)
{
	.dialog_default
	{
		margin: -50px 0 0 -100px;
		width: 200px;
	}

	.player
	{
		height: 140px;
		width: 180px;
	}
}

/* mobile */

.mobile .field_select, .mobile .field_text, .mobile .field_textarea_small
{
	width: 50%;
}

/* rtl direction */

.rtl
{
	direction: rtl;
	text-align: right;
}