/**
 * @tableofcontents
 *
 * 1. print
 * 2. screen max 50em
 * 3. screen max 30em
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. print */

@media print
{
	.footer, .header, .sidebar
	{
		display: none;
	}
}

/* @section 2. screen max 50em */

@media screen and (max-width: 50em)
{
	.content
	{
		min-height: 10em;
	}

	.content, .sidebar
	{
		float: none;
	}

	.content, .sidebar, .wrapper
	{
		width: 100%;
	}

	.wrapper_body
	{
		min-width: 0;
	}
}

/* @section 3. screen min 30em */

@media screen and (min-width: 30em)
{
	.button + .button, .button_large + .button_large, .field_text + .button
	{
		margin-left: 0.5em;
	}
}

/* @section 4. screen max 30em */

@media screen and (max-width: 30em)
{
	.button + .button, .button_large + .button_large
	{
		margin-top: 0.75em;
	}
}

/* @section 5. screen max 30em */

@media screen and (max-width: 30em)
{
	.box_tab_default
	{
		border-top-width: 1px;
	}

	.list_pagination .item_previous, .list_pagination .item_next
	{
		display: none;
	}
}