/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *    1.2 head and foot
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

.table_default
{
	background: #fff;
}

.table_default td, .table_default th
{
	border-left: 1px solid #ddd;
	border-left-color: rgba(0, 0, 0, 0.1);
	padding: 0.75em;
}

.table_default td:first-child, .table_default th:first-child
{
	border-left: 0;
}

/* @section 1.1 body */

.table_default tbody tr, .table_default thead th
{
	border-bottom: 1px solid #ddd;
	border-bottom-color: rgba(0, 0, 0, 0.1);
}

.table_default tbody tr:hover
{
	background: #f5f5f5;
}

.table_default tbody tr:last-child
{
	border-bottom: 0;
}

/* @section 1.2 head and foot */

.table_default tfoot tr
{
	border-top: 1px solid #ddd;
	border-top-color: rgba(0, 0, 0, 0.1);
}

.table_default tfoot tr, .table_default thead tr
{
	font: bold 1em arial;
}