/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. title accordion default
 *    2.1 javascript enabled
 * 3. several titles
 * 4. title dialog default
 * 5. title extra
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

a
{
	color: #0088cc;
	text-decoration: none;
}

a:hover
{
	color: #005580;
}

body
{
	color: #333;
	font: 0.75em arial;
}

p
{
	font: 1em/1.5em arial;
}

pre
{
	font: 1em/1.5em monospace, arial;
	white-space: pre-wrap;
}

/* @section 2. title accordion default */

.title_accordion_default
{
	-moz-border-radius: 0.25em 0.25em;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 0.25em 0.25em;
	-webkit-box-sizing: border-box;
	background: #fff;
	border: 1px solid #d5d5d5;
	border-color: rgba(0, 0, 0, 0.15);
	border-radius: 0.25em 0.25em;
	box-sizing: border-box;
	font: 1em/3em arial;
	text-indent: 1em;
	width: 100%
}

/* @section 2.1 javascript enabled */

.js .title_accordion_default
{
	cursor: pointer;
}

.js .title_accordion_default:hover
{
	background: #f5f5f5;
	color: #005580;
}

.js .title_accordion_default, .js .title_accordion_default a
{
	color: #0088cc;
}

.js .title_accordion_default.title_active
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	color: #555;
	cursor: default;
}

.js .title_accordion_default.title_active:hover
{
	background: #fff;
}

/* @section 3. several titles */

.title_comment, .title_content, .title_content_sub
{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* @section 4. title dialog default */

.title_dialog_default
{
	border-bottom: 1px solid #d5d5d5;
	border-bottom-color: rgba(0, 0, 0, 0.15);
	font: bold 1.375em/2em arial;
	padding: 0 0.75em;
}

/* @section 5. title extra */

.sidebar .title_extra
{
	color: #999;
	font-size: 0.875em;
	margin-bottom: 0.5em;
	margin-top: 1em;
	padding: 0 1em;
	text-transform: uppercase;
}