/* tag styling */

a
{
	color: #0088cc;
	text-decoration: none;
}

a:hover
{
	color: #005580;
	text-decoration: underline;
}

body
{
	color: #333;
	font: 0.75em helvetica, arial;
}

p
{
	font: 1em/1.5em arial;
}

pre
{
	font: italic 1em/1.5em arial;
}

/* descriptions */

.description_website
{
	color: #111;
	text-shadow: 0 1px rgba(255, 255, 255, 0.05);
}

/* serveral titles */

.title_content, .title_content_sub, .title_extra
{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* title website */

.title_website
{
	font: bold 2em arial;
	display: inline-block;
	text-shadow: 0 1px rgba(255, 255, 255, 0.1);
}

.title_website, .title_website a
{
	color: #000;
	text-decoration: none;
}