/**
 * @tableofcontents
 *
 * 1. rank sorter
 *    1.1 move
 *    1.2 dragula
 */

/** @section 1. rank sorter */

/** @section 1.1 move */

.rs-admin-col-move
{
	direction: rtl;
	padding: 1.25em 0;
	pointer-events: none;
	position: relative;
	text-indent: -999em;

	&:before
	{
		background: svg-load('@mdi/svg/svg/drag-vertical.svg', fill = gray(70)) center no-repeat;
		bottom: 0;
		content: '';
		position: absolute;
		right: 1.25em;
		text-indent: 0;
		top: 0;
		transform: scale(1.5);
		width: 1em;
	}

	&.rs-admin-is-active
	{
		&:before
		{
			background-image: svg-load('@mdi/svg/svg/drag-vertical.svg', fill = gray(30));
			cursor: move;
			pointer-events: all;
		}

		@svg-load rs-icon-drag-hover url('@mdi/svg/svg/drag-vertical.svg')
		{
			fill: var(--rs-admin-color-primary);
		}

		&:hover:before
		{
			background-image: svg-inline(rs-icon-drag-hover);
		}
	}
}

/** @section 1.2 dragula */

.gu-mirror
{
	background: gray(90);
	box-shadow: inset 0 0 0 0.25em var(--rs-admin-color-primary);
	color: gray(30);
	display: table;
	font: 1.25rem var(--rs-admin-font-primary);
	position: fixed;

	& td
	{
		padding: 1em;
	}
}

.gu-hide
{
	display: none;
}

.gu-transit
{
	background: gray(85);
}
