{
	"env":
	{
		"browser": true,
		"es6": true,
		"mocha": true,
		"node": true
	},
	"globals":
	{
		"rs": true
	},
	"extends":
	[
		"eslint-config-redaxmedia"
	],
	"plugins":
	[
		"i18n-json"
	],
	"settings":
	{
		"i18n-json/ignore-keys":
		[
			"_language",
			"_package"
		]
	},
	"parserOptions":
	{
		"ecmaVersion": 9
	}
}
