{
	"env":
	{
		"browser": true,
		"es6": true,
		"mocha": true,
		"node": true
	},
	"globals":
	{
		"rs": true
	},
	"extends":
	[
		"eslint-config-redaxmedia"
	],
	"parserOptions":
	{
		"ecmaVersion": 9
	}
}
