<filesmatch \.(mysql|pgsql|sqlite|php|phtml)$>
	deny from all
</filesmatch>
<filesmatch (console.php|index.php|install.php)>
	allow from all
</filesmatch>
<ifmodule mod_deflate.c>
	<filesmatch \.(css|js|php|svg|ttf|woff|woff2)$>
		setoutputfilter deflate
	</filesmatch>
</ifmodule>
<ifmodule mod_security.c>
	secfilterengine off
	secfilterscanpost off
</ifmodule>
<ifmodule mod_rewrite.c>
	rewriteengine on
	rewritecond %{request_filename} -f
	rewriterule ^(.*) $1 [l]
	rewritecond %{request_filename} !-d
	rewriterule ^([^.]*)$ ?p=$1 [l]
	rewritecond %{request_filename} !-d
	rewriterule ^([^.]*).([\w]{2})$ ?p=$1&l=$2 [l]
	rewritecond %{request_filename} !-d
	rewriterule ^([^.]*).([\w]{3,})$ ?p=$1&t=$2 [l]
</ifmodule>
<ifmodule mod_headers.c>
	<filesmatch \.(css|gif|ico|jpg|js|svg|ttf|png|woff|woff2)$>
		header set cache-control max-age=604800
	</filesmatch>
</ifmodule>
fileetag none