parameters:
	bootstrap: includes\bootstrap.php
	excludes_analyse:
	- includes\Admin\View
	- includes/admin_admin.php
	- includes/admin_list.php
	- includes/admin_query.php
	- includes/admin_router.php
	- includes/comments.php
	- includes/contents.php
	- includes/navigation.php
	- includes/query.php
	- includes/router.php
