<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" strict="true">

	<!-- filter -->

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">includes</directory>
			<exclude>
				<file>includes/admin_admin.php</file>
				<file>includes/admin_list.php</file>
				<file>includes/admin_query.php</file>
				<file>includes/admin_router.php</file>
				<file>includes/bootstrap.php</file>
				<file>includes/comments.php</file>
				<file>includes/contents.php</file>
				<file>includes/head.php</file>
				<file>includes/loader.php</file>
				<file>includes/login.php</file>
				<file>includes/navigation.php</file>
				<file>includes/query.php</file>
				<file>includes/router.php</file>
				<file>includes/search.php</file>
				<file>includes/startup.php</file>
				<file>index.php</file>
				<file>install.php</file>
			</exclude>
		</whitelist>
	</filter>

	<!-- testsuites -->

	<testsuites>

		<!-- admin -->

		<testsuite name="admin">
			<directory>tests/includes/Admin</directory>
		</testsuite>

		<!-- client -->

		<testsuite name="client">
			<directory>tests/includes/Client</directory>
		</testsuite>

		<!-- controller -->

		<testsuite name="controller">
			<directory>tests/includes/Controller</directory>
		</testsuite>

		<!-- detector -->

		<testsuite name="detector">
			<directory>tests/includes/Detector</directory>
		</testsuite>

		<!-- filter -->

		<testsuite name="filter">
			<directory>tests/includes/Filter</directory>
		</testsuite>

		<!-- html -->

		<testsuite name="html">
			<directory>tests/includes/Html</directory>
		</testsuite>

		<!-- router -->

		<testsuite name="router">
			<directory>tests/includes/Router</directory>
		</testsuite>

		<!-- server -->

		<testsuite name="server">
			<directory>tests/includes/Server</directory>
		</testsuite>

		<!-- validator -->

		<testsuite name="validator">
			<directory>tests/includes/Validator</directory>
		</testsuite>

		<!-- view -->

		<testsuite name="view">
			<directory>tests/includes/View</directory>
		</testsuite>

		<!-- autoload -->

		<testsuite name="autoload">
			<file>tests/includes/AutoloaderTest.php</file>
		</testsuite>

		<!-- breadcrumb -->

		<testsuite name="breadcrumb">
			<file>tests/includes/BreadcrumbTest.php</file>
		</testsuite>

		<!-- captcha -->

		<testsuite name="captcha">
			<file>tests/includes/CaptchaTest.php</file>
		</testsuite>

		<!-- config -->

		<testsuite name="config">
			<file>tests/includes/ConfigTest.php</file>
		</testsuite>

		<!-- db -->

		<testsuite name="db">
			<file>tests/includes/DbTest.php</file>
		</testsuite>

		<!-- directory -->

		<testsuite name="_directory">
			<file>tests/includes/DirectoryTest.php</file>
		</testsuite>

		<!-- hash -->

		<testsuite name="hash">
			<file>tests/includes/HashTest.php</file>
		</testsuite>

		<!-- helper -->

		<testsuite name="helper">
			<file>tests/includes/HelperTest.php</file>
		</testsuite>

		<!-- hook -->

		<testsuite name="hook">
			<file>tests/includes/HookTest.php</file>
		</testsuite>

		<!-- installer -->

		<testsuite name="installer">
			<file>tests/includes/InstallerTest.php</file>
		</testsuite>

		<!-- language -->

		<testsuite name="language">
			<file>tests/includes/LanguageTest.php</file>
		</testsuite>

		<!-- mailer -->

		<testsuite name="mailer">
			<file>tests/includes/MailerTest.php</file>
		</testsuite>

		<!-- minifier -->

		<testsuite name="minifier">
			<file>tests/includes/MinifierTest.php</file>
		</testsuite>

		<!-- module -->

		<testsuite name="module">
			<file>tests/includes/ModuleTest.php</file>
		</testsuite>

		<!-- parser -->

		<testsuite name="parser">
			<file>tests/includes/ParserTest.php</file>
		</testsuite>

		<!-- registry -->

		<testsuite name="registry">
			<file>tests/includes/RegistryTest.php</file>
		</testsuite>

		<!-- request -->

		<testsuite name="request">
			<file>tests/includes/RequestTest.php</file>
		</testsuite>

		<!-- singleton -->

		<testsuite name="singleton">
			<file>tests/includes/SingletonTest.php</file>
		</testsuite>

		<!-- template -->

		<testsuite name="template">
			<file>tests/includes/TemplateTest.php</file>
		</testsuite>

		<!-- messenger -->

		<testsuite name="messenger">
			<file>tests/includes/MessengerTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
