<?xml version="1.0"?>
<phpunit forceCoversAnnotation="true" executionOrder="default" convertErrorsToExceptions="true" convertWarningsToExceptions="true" bootstrap="tests/unit/bootstrap.php">

	<!-- filter -->

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">includes</directory>
			<exclude>
				<file>includes/Bootstrap/Config.php</file>
				<file>includes/bootstrap.php</file>
				<file>console.php</file>
				<file>index.php</file>
				<file>install.php</file>
			</exclude>
		</whitelist>
	</filter>

	<!-- testsuites -->

	<testsuites>
		<!-- admin controller -->

		<testsuite name="admin-controller">
			<directory>tests/unit/Admin/Controller</directory>
		</testsuite>

		<!-- admin html -->

		<testsuite name="admin-html">
			<directory>tests/unit/Admin/Html</directory>
		</testsuite>

		<!-- admin model -->

		<testsuite name="admin-model">
			<directory>tests/unit/Admin/Model</directory>
		</testsuite>

		<!-- admin router -->

		<testsuite name="admin-router">
			<directory>tests/unit/Admin/Router</directory>
		</testsuite>

		<!-- admin template -->

		<testsuite name="admin-template">
			<directory>tests/unit/Admin/Template</directory>
		</testsuite>

		<!-- admin view -->

		<testsuite name="admin-view">
			<directory>tests/unit/Admin/View</directory>
		</testsuite>

		<!-- asset -->

		<testsuite name="asset">
			<directory>tests/unit/Asset</directory>
		</testsuite>

		<!-- bootstrap -->

		<testsuite name="_bootstrap">
			<directory>tests/unit/Bootstrap</directory>
		</testsuite>

		<!-- client -->

		<testsuite name="client">
			<directory>tests/unit/Client</directory>
		</testsuite>

		<!-- console -->

		<testsuite name="console">
			<directory>tests/unit/Console</directory>
		</testsuite>

		<!-- content -->

		<testsuite name="content">
			<file>tests/unit/Content/ParserTest.php</file>
		</testsuite>

		<!-- controller -->

		<testsuite name="controller">
			<directory>tests/unit/Controller</directory>
		</testsuite>

		<!-- detector -->

		<testsuite name="detector">
			<directory>tests/unit/Detector</directory>
		</testsuite>

		<!-- filesystem -->

		<testsuite name="filesystem">
			<directory>tests/unit/Filesystem</directory>
		</testsuite>

		<!-- filter -->

		<testsuite name="filter">
			<directory>tests/unit/Filter</directory>
		</testsuite>

		<!-- head -->

		<testsuite name="head">
			<directory>tests/unit/Head</directory>
		</testsuite>

		<!-- html -->

		<testsuite name="html">
			<directory>tests/unit/Html</directory>
		</testsuite>

		<!-- navigation -->

		<testsuite name="navigation">
			<directory>tests/unit/Navigation</directory>
		</testsuite>

		<!-- model -->

		<testsuite name="model">
			<directory>tests/unit/Model</directory>
		</testsuite>

		<!-- module -->

		<testsuite name="module">
			<directory>tests/unit/Module</directory>
		</testsuite>

		<!-- router -->

		<testsuite name="router">
			<directory>tests/unit/Router</directory>
		</testsuite>

		<!-- server -->

		<testsuite name="server">
			<directory>tests/unit/Server</directory>
		</testsuite>

		<!-- template -->

		<testsuite name="template">
			<directory>tests/unit/Template</directory>
		</testsuite>

		<!-- validator -->

		<testsuite name="validator">
			<directory>tests/unit/Validator</directory>
		</testsuite>

		<!-- view -->

		<testsuite name="view">
			<directory>tests/unit/View</directory>
		</testsuite>

		<!-- auth -->

		<testsuite name="auth">
			<file>tests/unit/AuthTest.php</file>
		</testsuite>

		<!-- autoloader -->

		<testsuite name="autoloader">
			<file>tests/unit/AutoloaderTest.php</file>
		</testsuite>

		<!-- captcha -->

		<testsuite name="captcha">
			<file>tests/unit/CaptchaTest.php</file>
		</testsuite>

		<!-- config -->

		<testsuite name="config">
			<file>tests/unit/ConfigTest.php</file>
		</testsuite>

		<!-- dater -->

		<testsuite name="dater">
			<file>tests/unit/DaterTest.php</file>
		</testsuite>

		<!-- db -->

		<testsuite name="db">
			<file>tests/unit/DbTest.php</file>
		</testsuite>

		<!-- hash -->

		<testsuite name="hash">
			<file>tests/unit/HashTest.php</file>
		</testsuite>

		<!-- header -->

		<testsuite name="header">
			<file>tests/unit/HeaderTest.php</file>
		</testsuite>

		<!-- installer -->

		<testsuite name="installer">
			<file>tests/unit/InstallerTest.php</file>
		</testsuite>

		<!-- language -->

		<testsuite name="language">
			<file>tests/unit/LanguageTest.php</file>
		</testsuite>

		<!-- mailer -->

		<testsuite name="mailer">
			<file>tests/unit/MailerTest.php</file>
		</testsuite>

		<!-- registry -->

		<testsuite name="registry">
			<file>tests/unit/RegistryTest.php</file>
		</testsuite>

		<!-- reader -->

		<testsuite name="reader">
			<file>tests/unit/ReaderTest.php</file>
		</testsuite>

		<!-- request -->

		<testsuite name="request">
			<file>tests/unit/RequestTest.php</file>
		</testsuite>

		<!-- singleton -->

		<testsuite name="singleton">
			<file>tests/unit/SingletonTest.php</file>
		</testsuite>
	</testsuites>
</phpunit>
