/* default box */

.box_default
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #2c2c2c;
	border-radius: 0.25em;
	padding: 1em;
}

/* several boxes */

.box_dialog_default, .sidebar .box_extra
{
	-moz-border-radius: 0.125em 0.125em 0.25em 0.25em;
	-webkit-border-radius: 0.125em 0.125em 0.25em 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.125em 0.125em 0.25em 0.25em;
	color: #fff;
	font: 1.125em/1.75em marmelad, serif;
	padding: 1em;
}

/* box note */

.box_note
{
	border: 1px solid;
	padding: 1em;
}

.box_note a
{
	text-decoration: underline;
}

/* space between elements */

.box_note + .box_note, .form_default .box_note
{
	margin-top: 1em;
}