/**
 * @tableofcontents
 *
 * 1. box code
 * 2. box comment
 * 3. box default
 * 4. several boxes
 * 5. box line
 * 6. box note
 * 7. space between elements
 */

/* @section 1. box code */
 
.box_code
{
	background: #222;
	background: rgba(255, 255, 255, 0.05);
	display: block;
	font: 0.875em/1.25em monospace, arial;
	padding: 2em;
}

/* @section 2. box comment */
 
.box_comment
{
	margin-bottom: 2em;
}

/* @section 3. box default */

.box_default
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #2c2c2c;
	border-radius: 0.25em;
	padding: 1em;
}

/* @section 4. several boxes */

.box_dialog_default, .sidebar .box_extra
{
	-moz-border-radius: 0.125em 0.125em 0.25em 0.25em;
	-webkit-border-radius: 0.125em 0.125em 0.25em 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.125em 0.125em 0.25em 0.25em;
	color: #fff;
	font: 1.125em/1.75em marmelad, serif;
	padding: 1em;
}

/* @section 5. box line */

.box_line
{
	background: url('templates/candy/images/sprite.png') no-repeat;
	height: 25px;
	opacity: 0.8;
	width: 318px;
}

.box_line:hover
{
	opacity: 1;
}

.content .box_line
{
	margin: 1em auto;
}

/* @section 6. box note */

.box_note
{
	border: 1px solid;
	padding: 1em;
}

.box_note a
{
	text-decoration: underline;
}

/* @section 7. space between elements */

.box_note + .box_note, .form_default .box_note
{
	margin-top: 1em;
}