/**
 * @tableofcontents
 *
 * 1. box default
 * 2. several boxes
 * 3. box line
 * 4. box note
 * 5. space between elements
 */

/* @section 1. box default */

.box_default
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #2c2c2c;
	border-radius: 0.25em;
	padding: 1em;
}

/* @section 2. several boxes */

.box_dialog_default, .sidebar .box_extra
{
	-moz-border-radius: 0.125em 0.125em 0.25em 0.25em;
	-webkit-border-radius: 0.125em 0.125em 0.25em 0.25em;
	background: #111;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0.125em 0.125em 0.25em 0.25em;
	color: #fff;
	font: 1.125em/1.75em marmelad, serif;
	padding: 1em;
}

/* @section 3. box line */

.box_line
{
	background: url('templates/candy/images/sprite.png') no-repeat;
	height: 25px;
	margin: 1em auto;
	opacity: 0.8;
	width: 318px;
}

.box_line:hover
{
	opacity: 1;
}

/* @section 4. box note */

.box_note
{
	border: 1px solid;
	padding: 1em;
}

.box_note a
{
	text-decoration: underline;
}

/* @section 5. space between elements */

.box_note + .box_note, .form_default .box_note
{
	margin-top: 1em;
}