/* tag styling */

textarea
{
	resize: vertical;
}

/* button */

.field_button, .field_button_search
{
	font: 0.875em marmelad, serif;
}

.field_button_large
{
	font: 1.25em marmelad, serif;
}

.field_button, .field_button_large, .field_button_search
{
	-moz-border-radius: 0.375em;
	-moz-box-shadow: inset 0 1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	-webkit-border-radius: 0.375em;
	-webkit-box-shadow: inset 0 1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	background: #303030;
	background: -moz-linear-gradient(top, #474747, #303030);
	background: -ms-linear-gradient(top, #474747, #303030);
	background: -o-linear-gradient(top, #474747, #303030);
	background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030));
	background: -webkit-linear-gradient(top, #474747, #303030);
	background: linear-gradient(top, #474747, #303030);
	border-radius: 0.375em;
	box-shadow: inset 0 1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	cursor: pointer;
	display: inline-block;
}

.field_button:active, .field_button_large:active, .field_button_search:active
{
	-moz-box-shadow: inset 0 -1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	-webkit-box-shadow: inset 0 -1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	background: #3b3b3b;
	background: -moz-linear-gradient(bottom, #3b3b3b, #303030);
	background: -ms-linear-gradient(bottom, #3b3b3b, #303030);
	background: -o-linear-gradient(bottom, #3b3b3b, #303030);
	background: -webkit-gradient(linear, left top, left bottom, from(#3b3b3b), to(#303030));
	background: -webkit-linear-gradient(bottom, #3b3b3b, #303030);
	background: linear-gradient(bottom, #3b3b3b, #303030);
	box-shadow: inset 0 -1px #5e5e5e, 0 1px 1px #000, 0 0 0 4px rgba(255, 255, 255, 0.05);
	position: relative;
	text-decoration: none;
	top: 1px;
}

.field_button span, .field_button_large span, .field_button_search span
{
	display: inline-block;
}

.field_button span span, .field_button_large span span, .field_button_search span span
{
	color: #c6c6c6;
	text-shadow: 0 1px #000;
	text-transform: uppercase;
	line-height: 2.75em;
	padding: 0 0.75em;
}

/* default fields */

.field_select, .field_text, .field_textarea_small
{
	width: 40%;
}

.dialog .field_text
{
	width: 100%;
}

.field_search, .field_select, .field_text, .field_textarea, .field_textarea_small
{
	-moz-border-radius: 0.375em;
	-moz-box-shadow: inset 0 -1px #262626;
	-moz-box-sizing: border-box;
	-webkit-border-radius: 0.375em;
	-webkit-box-shadow: inset 0 -1px #262626;
	-webkit-box-sizing: border-box;
	background: #1F1F1F;
	background: -moz-linear-gradient(top, #282828, #1F1F1F);
	background: -ms-linear-gradient(top, #282828, #1F1F1F);
	background: -o-linear-gradient(top, #282828, #1F1F1F);
	background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#1F1F1F));
	background: -webkit-linear-gradient(top, #282828, #1F1F1F);
	background: linear-gradient(top, #282828, #1F1F1F);
	border: 1px solid #262626;
	border-radius: 0.375em;
	box-shadow: inset 0 -1px #262626;
	box-sizing: border-box;
	color: #c6c6c6;
	font: 1.125em marmelad, serif;
	padding: 0.5em;
}

.field_search:hover, .field_select:hover, .field_text:hover, .field_textarea:hover, .field_textarea_small:hover
{
	-moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.05);
	-webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.05);
	box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.05);
}

.field_search:focus, .field_select:focus, .field_text:focus, .field_textarea:focus, .field_textarea_small:focus
{
	-moz-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1), 0 0 10px rgba(255, 255, 255, 0.1);
}

/* uniform option font */

.field_select option
{
	font: 1em marmelad, serif;
}

.field_textarea
{
	min-height: 100px;
	width: 100%;
}

.field_textarea_small
{
	min-height: 50px;
}

/* default form */

.form_default li
{
	margin: 0.5em 0;
}

.form_default .label
{
	display: block;
	font-size: 1.125em;
}

/* space between elements */

.box_dialog_default .field_button, .box_notification .field_button, .form_default .field_button, .form_default .field_button_large
{
	margin-top: 1em;
}

.field_button + .field_button, .field_button_large + .field_button_large, .field_text + .field_button
{
	margin-left: 1em;
}