/**
 * @tableofcontents
 *
 * 1. image
 *    1.1 image default
 * 2. player
 *    2.1 player default
 */

/* @section 1. image */

.image
{
	max-width: 100%;
}

/* @section 1.1 image default */

.image_default
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	border-radius: 0.25em;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

/* @section 2. player */

.player
{
	height: 480px;
	max-width: 100%;
	width: 640px;
}

/* @section 2.1 player default */

.player_default
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #2c2c2c;
	border-radius: 0.25em;
	padding: 0.5em;
}

.player_default:hover
{
	-moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}