/**
 * @tableofcontents
 *
 * 1. image default
 * 2. player default
 *    2.1 hover effect
 */

/* @section 1. image default */

.image_default
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
	border-radius: 0.25em;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

/* @section 2. player default */

.player_default
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #2c2c2c;
	border-radius: 0.25em;
	padding: 0.5em;
}

/* @section 2.1 hover effect */

.player_default:hover
{
	-moz-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}