/**
 * @tableofcontents
 *
 * 1. print
 * 2. screen max 50em
 * 3. screen max 40em
 * 4. screen max 30em
 * 5. screen max 20em
 * 6. rtl direction
 */

/* @section 1. print */

@media print
{
	body
	{
		color: #000;
		font-size: 1em;
	}

	.footer, .header, .sidebar
	{
		display: none;
	}
}

/* @section 2. screen max 50em */

@media screen and (max-width: 50em)
{
	.content
	{
		min-height: 10em;
	}

	.content, .sidebar
	{
		float: none;
	}

	.content, .sidebar, .wrapper
	{
		width: 100%;
	}

	.wrapper_body
	{
		min-width: 0;
	}
}

/* @section 3. screen max 40em */

@media screen and (max-width: 40em)
{
	.list_pagination .item_first, .list_pagination .item_last
	{
		display: none;
	}

	.player
	{
		font-size: 0.875em;
	}
}

/* @section 4. screen max 30em */

@media screen and (max-width: 30em)
{
	.dialog_default
	{
		margin: -5em 0 0 -40%;
		width: 80%;
	}

	.field_select, .field_text, .field_textarea_small
	{
		width: 100%;
	}

	.header, .footer
	{
		font-size: 0.875em;
	}

	.list_pagination .item_previous, .list_pagination .item_next
	{
		display: none;
	}

	.player
	{
		font-size: 0.75em;
	}
}

/* @section 5. screen max 20em */

@media screen and (max-width: 20em)
{
	.header, .footer
	{
		font-size: 0.75em;
	}

	.player
	{
		font-size: 0.5em;
	}
}

/* @section 6. rtl direction */

.rtl
{
	direction: rtl;
	text-align: right;
}