/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. several links
 * 3. text footer
 * 4. title content
 * 5. title content sub
 * 6. title comment
 * 7. several titles
 * 8. title website
 */

/* @section 1. tag styling */

a
{
	color: #c8c8c8;
	text-decoration: none;
}

a:hover
{
	color: #fff;
	text-decoration: underline;
}

body
{
	color: #ababab;
	font: 0.75em marmelad, serif;
}

p
{
	font: 1em/1.5em marmelad, serif;
}

pre
{
	font: 1em/1.5em monospace, arial;
	white-space: pre-wrap;
}

/* @section 2. several links */

.link_default
{
	color: #92901b;
	text-decoration: underline;
}

.link_made_by
{
	display: inline-block;
	padding-right: 2em;
}

.link_read_more
{
	display: inline-block;
	font-weight: bold;
	margin-top: 1em;
}

.link_read_more:after
{
	content: '...';
}

/* @section 3. text footer */

.text_footer
{
	line-height: 2.25em;
}

/* @section 4. title content */

.title_content
{
	font: bold 1.75em marmelad, serif;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	text-shadow: 0 2px #000;
}

.title_content, .title_content a
{
	color: #92901b;
}

.title_content a:hover
{
	text-decoration: underline;
}

/* @section 5. title content sub */

.title_content_sub
{
	margin-bottom: 1em;
	margin-top: 1em;
}

/* @section 6. title comment */

.title_comment
{
	font-size: 1.375em;
	margin-bottom: 1em;
	margin-top: 1em;
}

/* @section 7. several titles */

.title_dialog_default, .sidebar .title_extra
{
	-moz-border-radius: 0.125em;
	-webkit-border-radius: 0.125em;
	background: #fff;
	background: -moz-linear-gradient(top , #fff, #e2e2e2);
	background: -ms-linear-gradient(top, #fff, #e2e2e2);
	background: -o-linear-gradient(top, #fff, #e2e2e2);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
	background: -webkit-linear-gradient(top, #fff, #e2e2e2);
	background: linear-gradient(top, #fff, #e2e2e2);
	border-radius: 0.125em;
	color: #474747;
	font: 1.375em marmelad, serif;
	margin-top: 1.5em;
	padding: 0.375em 0.5em;
	text-shadow: 0 1px #fff;
	text-transform: uppercase;
}

/* @section 8. title website */

.title_website
{
	font: bold italic 3.5em georgia, arial;
	text-shadow: 0 2px #000, 0 0 100px #ddd;
}

.title_website, .title_website a
{
	color: #92901b;
}

.title_website a:hover
{
	text-decoration: none;
}