/**
 * @tableofcontents
 *
 * 1. visual editor
 *    1.1. list
 *    1.2. link
 *    1.3. box
 */

/** @section 1. visual editor */

/**  @section 1.1. list */

.rs-list-visual-editor,
.rs-admin-list-visual-editor
{
	font-size: 1rem;
	margin-bottom: 0.5em;
	user-select: none;

	& li
	{
		display: inline-block;
	}
}

.rs-list-visual-editor
{
	background: var(--rs-color-primary);
	color: gray(80);
}

.rs-admin-list-visual-editor
{
	background: gray(10);
	color: gray(70);
}

/** @section 1.2. link */

.rs-link-visual-editor,
.rs-admin-link-visual-editor
{
	cursor: pointer;
	display: inline-block;

	&:before
	{
		background-position: center 0.75em;
		background-repeat: no-repeat;
		content: '';
		display: inline-block;
		height: 2.75em;
		width: 3.5em;
	}

	&[data-name="toggle"]:before
	{
		background-image: svg-load('@mdi/svg/svg/code-tags.svg', fill = gray(80));
	}

	&[data-name="bold"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-bold.svg', fill = gray(80));
	}

	&[data-name="italic"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-italic.svg', fill = gray(80));
	}

	&[data-name="underline"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-underline.svg', fill = gray(80));
	}

	&[data-name="strike-through"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-strikethrough.svg', fill = gray(80));
	}

	&[data-name="paragraph"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-paragraph.svg', fill = gray(80));
	}

	&[data-name="headline-1"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-1.svg', fill = gray(80));
	}

	&[data-name="headline-2"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-2.svg', fill = gray(80));
	}

	&[data-name="headline-3"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-3.svg', fill = gray(80));
	}

	&[data-name="ordered-list"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-list-numbered.svg', fill = gray(80));
	}

	&[data-name="unordered-list"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-list-bulleted.svg', fill = gray(80));
	}

	&[data-name="remove-format"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-clear.svg', fill = gray(80));
	}

	&[data-name="handle-link"]:before
	{
		background-image: svg-load('@mdi/svg/svg/link-variant.svg', fill = gray(80));
	}

	&[data-name="handle-image"]:before
	{
		background-image: svg-load('@mdi/svg/svg/image.svg', fill = gray(80));
	}

	&[data-name="upload-image"]:before
	{
		background-image: svg-load('@mdi/svg/svg/upload.svg', fill = gray(80));
	}

	&[data-name="undo"]:before
	{
		background-image: svg-load('@mdi/svg/svg/undo.svg', fill = gray(80));
	}

	&[data-name="redo"]:before
	{
		background-image: svg-load('@mdi/svg/svg/redo.svg', fill = gray(80));
	}
}

.rs-admin-link-visual-editor:hover
{
	background: var(--rs-admin-color-primary);

	&[data-name="toggle"]:before
	{
		background-image: svg-load('@mdi/svg/svg/code-tags.svg', fill = gray(0));
	}

	&[data-name="bold"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-bold.svg', fill = gray(0));
	}

	&[data-name="italic"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-italic.svg', fill = gray(0));
	}

	&[data-name="underline"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-underline.svg', fill = gray(0));
	}

	&[data-name="strike-through"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-strikethrough.svg', fill = gray(0));
	}

	&[data-name="paragraph"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-paragraph.svg', fill = gray(0));
	}

	&[data-name="headline-1"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-1.svg', fill = gray(0));
	}

	&[data-name="headline-2"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-2.svg', fill = gray(0));
	}

	&[data-name="headline-3"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-header-3.svg', fill = gray(0));
	}

	&[data-name="ordered-list"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-list-numbered.svg', fill = gray(0));
	}

	&[data-name="unordered-list"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-list-bulleted.svg', fill = gray(0));
	}

	&[data-name="remove-format"]:before
	{
		background-image: svg-load('@mdi/svg/svg/format-clear.svg', fill = gray(0));
	}

	&[data-name="handle-link"]:before
	{
		background-image: svg-load('@mdi/svg/svg/link-variant.svg', fill = gray(0));
	}

	&[data-name="handle-image"]:before
	{
		background-image: svg-load('@mdi/svg/svg/image.svg', fill = gray(0));
	}

	&[data-name="upload-image"]:before
	{
		background-image: svg-load('@mdi/svg/svg/upload.svg', fill = gray(0));
	}

	&[data-name="undo"]:before
	{
		background-image: svg-load('@mdi/svg/svg/undo.svg', fill = gray(0));
	}

	&[data-name="redo"]:before
	{
		background-image: svg-load('@mdi/svg/svg/redo.svg', fill = gray(0));
	}
}

/**  @section 1.3. box */

.rs-box-visual-editor,
.rs-admin-box-visual-editor
{
	background: gray(95);
	border: 0.125rem solid gray(80);
	border-radius: 0.125em;
	font-size: 1.25rem;
	min-height: 10em;
	padding: 0.5em;
	transition: background 0.2s, border-color 0.2s;

	&:hover
	{
		border-color: gray(60);
	}

	& p:after
	{
		background-image: svg-load('@mdi/svg/svg/format-pilcrow.svg', fill = gray(80));
	}
}

.rs-box-visual-editor
{
	&:focus
	{
		background: gray(100);
		border-color: var(--rs-color-secondary);
	}
}

.rs-admin-box-visual-editor
{
	&:focus
	{
		background: gray(100);
		border-color: var(--rs-admin-color-primary);
	}

	& rs-code,
	& rs-language,
	& rs-registry,
	& rs-template,
	& rs-module
	{
		border: 0.125rem dashed gray(80);
		color: gray(70);
		display: block;
		font: 1rem/1.25em var(--rs-admin-font-code);
		padding: 1em;
		white-space: pre-wrap;

		&:before,
		&:after
		{
			color: var(--rs-admin-color-primary);
		}
	}

	& rs-code
	{
		&:before
		{
			content: '<rs-code>';
		}

		&:after
		{
			content: '</rs-code>';
		}
	}

	& rs-language
	{
		&:before
		{
			content: '<rs-language>';
		}

		&:after
		{
			content: '</rs-language';
		}
	}

	& rs-registry
	{
		&:before
		{
			content: '<rs-registry>';
		}

		&:after
		{
			content: '</rs-registry>';
		}
	}

	& rs-template
	{
		&:before
		{
			content: '<rs-template>';
		}

		&:after
		{
			content: '</rs-template>';
		}
	}

	& rs-module
	{
		&:before
		{
			content: '<rs-module>';
		}

		&:after
		{
			content: '</rs-module>';
		}
	}
}
