/**
 * @tableofcontents
 *
 * 1. banner qunit
 * 2. box qunit
 * 3. box fixture
 * 4. title qunit
 * 5. toolbar qunit
 * 6. list qunit
 *    6.1 list qunit assert
 * 7. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. banner qunit */

.rs-banner-qunit
{
	margin-top: 2em;
}

.rs-banner-qunit, .rs-user-agent-qunit
{
	font-size: 0.875em;
}

/* @section 2. box qunit */

.rs-box-qunit
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
	padding: 1em;
}

.rs-box-qunit + .rs-box-qunit
{
	border-top: 0;
}

/* @section 3. box fixture */

.rs-box-fixture
{
	left: -999em;
	position: absolute;
	top: -999em;
}

/* @section 4. title qunit */

.rs-title-qunit
{
	background: linear-gradient(#ccc, #b9b9b9);
	border: 1px solid #a5a5a5;
	border-radius: 0.125em 0.125em 0 0;
	font: 1.5em/1.75em 'pt sans narrow', 'trebuchet ms', arial;
	margin-top: 2em;
	padding: 0 0.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

/* @section 5. toolbar qunit */

.rs-toolbar-qunit input, .rs-toolbar-qunit select
{
	margin-right: 0.5em;
}

.rs-toolbar-qunit input + label, .rs-toolbar-qunit select + label
{
	margin-right: 1.5em;
}

.rs-toolbar-qunit input, .rs-toolbar-qunit label, .rs-toolbar-qunit select
{
	vertical-align: middle;
}

/* @section 6. list qunit */

.rs-list-qunit
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
}

.rs-list-qunit li
{
	padding: 1em;
}

.rs-list-qunit > li
{
	border-bottom: 1px solid #cdcdcd;
	list-style: decimal inside;
}

.rs-list-qunit > li:last-child
{
	border-bottom: 0;
}

.rs-list-qunit > li > a
{
	margin-left: 1em;
	text-decoration: underline;
}

.rs-list-qunit > li > span
{
	font: italic 1em monospace, arial;
	float: right;
}

.rs-list-qunit > li > strong
{
	cursor: pointer;
}

/* @section 6.1 list qunit assert */

.rs-list-qunit-assert
{
	margin-top: 1em;
}

.rs-list-qunit-assert > li
{
	list-style: lower-alpha inside;
}

/* collapsed */

.rs-list-qunit-assert.rs-qunit-collapsed
{
	margin-top: 0;
}

.rs-list-qunit-assert.rs-qunit-collapsed li
{
	display: none;
}

/* @section 7. space between elements */

.rs-box-qunit + .rs-title-qunit
{
	margin-top: 2em;
}
