/**
 * @tableofcontents
 *
 * 1. banner qunit
 * 2. box qunit
 * 3. box fixture
 * 4. title qunit
 * 5. toolbar qunit
 * 6. list qunit
 *    6.1 list qunit assert
 * 7. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. banner qunit */

.banner_qunit
{
	margin-top: 2em;
}

.banner_qunit, .user_agent_qunit
{
	font-size: 0.875em;
}

/* @section 2. box qunit */

.box_qunit
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
	padding: 1em;
}

.box_qunit + .box_qunit
{
	border-top: 0;
}

/* @section 3. box fixture */

.box_fixture
{
	left: -999em;
	position: absolute;
	top: -999em;
}

/* @section 4. title qunit */

.title_qunit
{
	background: #dadada;
	background: -webkit-linear-gradient(#dadada, #dadada 40%, #d1d1d1);
	background: linear-gradient(#dadada, #dadada 40%, #d1d1d1);
	border: 1px solid #cdcdcd;
	border-bottom: 0;
	border-radius: 0.25em 0.25em 0 0;
	font: bold 1em/2.25em arial;
	margin-top: 2em;
	padding: 0 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.title_qunit, .title_qunit a
{
	color: #474747;
}

.title_qunit a:hover
{
	text-decoration: underline;
}

/* @section 5. toolbar qunit */

.toolbar_qunit input, .toolbar_qunit select
{
	margin-right: 0.5em;
}

.toolbar_qunit input + label, .toolbar_qunit select + label
{
	margin-right: 1.5em;
}

.toolbar_qunit input, .toolbar_qunit label, .toolbar_qunit select
{
	vertical-align: middle;
}

/* @section 6. list qunit */

.list_qunit
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
}

.list_qunit li
{
	padding: 1em;
}

.list_qunit > li
{
	border-bottom: 1px solid #cdcdcd;
	list-style: decimal inside;
}

.list_qunit > li:last-child
{
	border-bottom: 0;
}

.list_qunit > li > a
{
	margin-left: 1em;
	text-decoration: underline;
}

.list_qunit > li > span
{
	font: italic 1em monospace, arial;
	float: right;
}

.list_qunit > li > strong
{
	cursor: pointer;
}

/* @section 6.1 list qunit assert */

.list_qunit_assert
{
	margin-top: 1em;
}

.list_qunit_assert > li
{
	list-style: lower-alpha inside;
}

/* collapsed */

.list_qunit_assert.qunit-collapsed
{
	margin-top: 0;
}

.list_qunit_assert.qunit-collapsed li
{
	display: none;
}

/* @section 7. space between elements */

.box_qunit + .title_qunit
{
	margin-top: 2em;
}
