/**
 * @tableofcontents
 *
 * 1. font face
 * 2. editor toolbar
 * 3. editor control
 *    3.1 icons
 *    3.2 divider
 * 4. editor preview
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon editor';
	src: url('modules/editor/fonts/icon.woff') format('woff'), url('modules/editor/fonts/icon.ttf') format('truetype');
}

/* @section 2. editor toolbar */

.editor_toolbar
{
	background: url('templates/admin/images/carbon.png') #232323;
	font-size: 0.875rem;
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8);
}

.editor_toolbar, .editor_toolbar a
{
	color: #b9b9b9;
}

/* @section 3. editor control */

.editor_control
{
	-moz-transition: padding 0.3s ease;
	-ms-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	-webkit-transition: padding 0.3s ease;
	cursor: pointer;
	float: left;
	height: 3.125em;
	position: relative;
	text-indent: -999em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	transition: padding 0.3s ease;
	width: 3.375em;
}

.editor_control:hover
{
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	background: #3db1f1;
	background: -moz-linear-gradient(top, #3db1f1, #0090db);
	background: -ms-linear-gradient(top, #3db1f1, #0090db);
	background: -o-linear-gradient(top, #3db1f1, #0090db);
	background: -webkit-gradient(linear, left top, left bottom, from(#3db1f1), to(#0090db));
	background: -webkit-linear-gradient(top, #3db1f1, #0090db);
	background: linear-gradient(top, #3db1f1, #0090db);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	color: #000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	padding: 0 0.25em;
}

/* unformat */

.editor_control.unformat:hover
{
	background: #d50000;
	background: -moz-linear-gradient(top, #d50000, #a20000);
	background: -ms-linear-gradient(top, #d50000, #a20000);
	background: -o-linear-gradient(top, #d50000, #a20000);
	background: -webkit-gradient(linear, left top, left bottom, from(#d50000), to(#a20000));
	background: -webkit-linear-gradient(top, #d50000, #a20000);
}

.editor_control:before
{
	font: 1.25em/2.5em 'icon editor';
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	width: 100%;
}

/* @section 3.1 icons */

.editor_control.source_code:before
{
	content: 'a';
}

.editor_control.wysiwyg:before
{
	content: 'b';
}

.editor_control.bold:before
{
	content: 'c';
}

.editor_control.italic:before
{
	content: 'd';
}

.editor_control.underline:before
{
	content: 'e';
}

.editor_control.strike:before
{
	content: 'f';
}

.editor_control.superscript:before
{
	content: 'g';
}

.editor_control.subscript:before
{
	content: 'h';
}

.editor_control.paragraph:before
{
	content: 'i';
}

.editor_control.h1:before
{
	content: 'j';
}

.editor_control.h2:before
{
	content: 'k';
}

.editor_control.h3:before
{
	content: 'l';
}

.editor_control.h4:before
{
	content: 'm';
}

.editor_control.h5:before
{
	content: 'n';
}

.editor_control.h6:before
{
	content: 'o';
}

.editor_control.ordered_list:before
{
	content: 'p';
}

.editor_control.unordered_list:before
{
	content: 'q';
}

.editor_control.outdent:before
{
	content: 'r';
}

.editor_control.indent:before
{
	content: 's';
}

.editor_control.align_left:before
{
	content: 't';
}

.editor_control.align_center:before
{
	content: 'u';
}

.editor_control.align_right:before
{
	content: 'v';
}

.editor_control.align_justify:before
{
	content: 'w';
}

.editor_control.undo:before
{
	content: 'x';
}

.editor_control.redo:before
{
	content: 'y';
}

.editor_control.cut:before
{
	content: 'z';
}

.editor_control.copy:before
{
	content: '1';
}

.editor_control.paste:before
{
	content: '2';
}

.editor_control.insert_link:before
{
	content: '3';
}

.editor_control.unlink:before
{
	content: '4';
}

.editor_control.insert_image:before
{
	content: '5';
}

.editor_control.insert_break:before
{
	content: '6';
}

.editor_control.insert_code:before
{
	content: '7';
}

.editor_control.insert_function:before
{
	content: '8';
}

.editor_control.unformat:before
{
	content: '9';
}

/* @section 3.2 divider */

.editor_divider
{
	display: none;
}

/* @section 4. editor preview */

.editor_preview
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #eee;
	border: 1px solid #c9c9c9;
	border-radius: 0.25em;
	min-height: 20em;
	padding: 0.5em;
	white-space: pre-wrap;
}

.editor_preview > div:hover, .editor_preview > img:hover, .editor_preview > ol:hover, .editor_preview > p:hover, .editor_preview > span:hover, .editor_preview > ul:hover
{
	outline: 2px dashed #ddd;
	outline-color: rgba(0, 0, 0, 0.1);
}