/**
 * @tableofcontents
 *
 * 1. editor toolbar
 * 2. editor control
 * 3. editor icons
 * 4. editor divider
 * 5. editor preview
 */

/* @section 1. editor toolbar */

.editor_toolbar
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	background: url('modules/editor/images/carbon.png') #232323;
	border-radius: 0.25em;
	box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0.25em 0.25em 0.5em;
}

/* @section 2. editor control */

.editor_control
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	background: url('modules/editor/images/icons.png') #333;
	border: 1px solid #151515;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	cursor: pointer;
	display: inline-block;
	height: 24px;
	margin: 0.5em;
	width: 24px;
}

.editor_control:hover
{
	background-color: #3b3b3b;
}

/* @section 3. editor icons */

.editor_control.source_code
{
	background-position: -3px -3px;
}

.editor_control.wysiwyg
{
	background-position: -3px -33px;
}

.editor_control.bold
{
	background-position: -3px -63px;
}

.editor_control.italic
{
	background-position: -3px -93px;
}

.editor_control.underline
{
	background-position: -3px -123px;
}

.editor_control.strike
{
	background-position: -3px -153px;
}

.editor_control.superscript
{
	background-position: -3px -183px;
}

.editor_control.subscript
{
	background-position: -3px -213px;
}

.editor_control.paragraph
{
	background-position: -3px -243px;
}

.editor_control.h1
{
	background-position: -3px -273px;
}

.editor_control.h2
{
	background-position: -3px -303px;
}

.editor_control.h3
{
	background-position: -3px -333px;
}

.editor_control.h4
{
	background-position: -3px -363px;
}

.editor_control.h5
{
	background-position: -3px -393px;
}

.editor_control.h6
{
	background-position: -3px -423px;
}

.editor_control.ordered_list
{
	background-position: -3px -453px;
}

.editor_control.unordered_list
{
	background-position: -3px -483px;
}

.editor_control.outdent
{
	background-position: -3px -513px;
}

.editor_control.indent
{
	background-position: -3px -543px;
}

.editor_control.align_left
{
	background-position: -3px -573px;
}

.editor_control.align_center
{
	background-position: -3px -603px;
}

.editor_control.align_right
{
	background-position: -3px -633px;
}

.editor_control.align_justify
{
	background-position: -3px -663px;
}

.editor_control.undo
{
	background-position: -3px -693px;
}

.editor_control.redo
{
	background-position: -3px -723px;
}

.editor_control.insert_image
{
	background-position: -3px -753px;
}

.editor_control.insert_link
{
	background-position: -3px -783px;
}

.editor_control.unlink
{
	background-position: -3px -813px;
}

.editor_control.cut
{
	background-position: -3px -843px;
}

.editor_control.copy
{
	background-position: -3px -873px;
}

.editor_control.paste
{
	background-position: -3px -903px;
}

.editor_control.insert_break
{
	background-position: -3px -933px;
}

.editor_control.insert_code
{
	background-position: -3px -963px;
}

.editor_control.insert_php
{
	background-position: -3px -993px;
}

.editor_control.unformat
{
	background-position: -3px -1023px;
}

/* @section 4. editor divider */

.editor_divider
{
	display: none;
}

/* @section 5. editor preview */

.editor_preview
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #eee;
	border: 1px solid #b9b9b9;
	border-radius: 0.25em;
	min-height: 200px;
	padding: 0.5em;
}

.editor_preview > div:hover, .editor_preview > img:hover, .editor_preview > ol:hover, .editor_preview > p:hover, .editor_preview > span:hover, .editor_preview > ul:hover
{
	outline: 1px dashed #999;
}