/**
 * @tableofcontents
 *
 * 1. font face
 * 2. editor toolbar
 * 3. editor control
 *    3.1 icons
 *    3.2 divider
 * 4. editor preview
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon editor';
	src: url('modules/editor/fonts/icon.woff') format('woff');
}

/* @section 2. editor toolbar */

.editor_toolbar
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	background: url('templates/admin/images/carbon.png') #232323;
	border-radius: 0.25em;
	box-shadow: inset 0 -1px #005da2, inset 0 -2px #3db1f1, inset 0 -3px #25a4e9, inset 0 -4px #0f98e0, inset 0 -5px #0090db, 0 0 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 1px #1b1bb;
}

/* @section 3. editor control */

.editor_control
{
	display: inline-block;
	cursor: pointer;
	height: 2.875em;
	margin: 0 0.5em;
	position: relative;
	text-indent: -999em;
	width: 2em;
}

.editor_control:hover
{
	color: #999;
}

.editor_control:before
{
	font: 1.25em/2.25em 'icon editor';
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	width: 2em;
}

/* @section 3.1 icons */

.editor_control.source_code:before
{
	content: 'a';
}

.editor_control.wysiwyg:before
{
	content: 'b';
}

.editor_control.bold:before
{
	content: 'c';
}

.editor_control.italic:before
{
	content: 'd';
}

.editor_control.underline:before
{
	content: 'e';
}

.editor_control.strike:before
{
	content: 'f';
}

.editor_control.superscript:before
{
	content: 'g';
}

.editor_control.subscript:before
{
	content: 'h';
}

.editor_control.paragraph:before
{
	content: 'i';
}

.editor_control.h1:before
{
	content: 'j';
}

.editor_control.h2:before
{
	content: 'k';
}

.editor_control.h3:before
{
	content: 'l';
}

.editor_control.h4:before
{
	content: 'm';
}

.editor_control.h5:before
{
	content: 'n';
}

.editor_control.h6:before
{
	content: 'o';
}

.editor_control.ordered_list:before
{
	content: 'p';
}

.editor_control.unordered_list:before
{
	content: 'q';
}

.editor_control.outdent:before
{
	content: 'r';
}

.editor_control.indent:before
{
	content: 's';
}

.editor_control.align_left:before
{
	content: 't';
}

.editor_control.align_center:before
{
	content: 'u';
}

.editor_control.align_right:before
{
	content: 'v';
}

.editor_control.align_justify:before
{
	content: 'w';
}

.editor_control.undo:before
{
	content: 'x';
}

.editor_control.redo:before
{
	content: 'y';
}

.editor_control.cut:before
{
	content: 'z';
}

.editor_control.copy:before
{
	content: '1';
}

.editor_control.paste:before
{
	content: '2';
}

.editor_control.insert_link:before
{
	content: '3';
}

.editor_control.unlink:before
{
	content: '4';
}

.editor_control.insert_image:before
{
	content: '5';
}

.editor_control.insert_break:before
{
	content: '6';
}

.editor_control.insert_code:before
{
	content: '7';
}

.editor_control.insert_function:before
{
	content: '8';
}

.editor_control.unformat:before
{
	content: '9';
}

/* @section 3.2 divider */

.editor_divider
{
	display: none;
}

/* @section 4. editor preview */

.editor_preview
{
	-moz-box-shadow: inset 0 1px #fcfcfc;
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 1px #fcfcfc;
	background: #eee;
	border: 1px solid #c9c9c9;
	border-radius: 0.25em;
	box-shadow: inset 0 1px #fcfcfc;
	min-height: 20em;
	padding: 0.5em;
}

.editor_preview > div:hover, .editor_preview > img:hover, .editor_preview > ol:hover, .editor_preview > p:hover, .editor_preview > span:hover, .editor_preview > ul:hover
{
	outline: 1px dashed #aaa;
	outline-color: rgba(0, 0, 0, 0.2)
}