/**
 * @tableofcontents
 *
 * 1. map
 *
 * @since 2.6.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. map */

.rs-component-map
{
	height: 30em;
}

/* mobile */

.rs-is-mobile .rs-component-map
{
	height: 15em;
}

.gm-style-cc
{
	display: none;
}