/**
* @tableofcontents
*
* 1. icon
*
* @since 3.0.0
*
* @package Redaxscript
* @author Henry Ruhs
*/

/* @section 1. icon */

@font-face
{
	font-family: var(--rs-font-icon-directory-lister);
	src: url('../../../../modules/DirectoryLister/dist/fonts/icon.woff2') format('woff2'), url('../../../../modules/DirectoryLister/dist/fonts/icon.woff') format('woff');
}

%rs-icon-insert-drive-file
{
	content: '\f101';
	font-family: var(--rs-font-icon-directory-lister);
	font-weight: normal;
}

%rs-icon-folder
{
	content: '\f102';
	font-family: var(--rs-font-icon-directory-lister);
	font-weight: normal;
}

%rs-icon-folder-open
{
	content: '\f103';
	font-family: var(--rs-font-icon-directory-lister);
	font-weight: normal;
}
