/**
 * @tableofcontents
 *
 * 1. icon
 */

/** @section 1. icon */

@font-face
{
	font-family: var(--rs-font-icon-directory-lister);
	src: url('../../../../modules/DirectoryLister/dist/fonts/icon.woff2') format('woff2'), url('../../../../modules/DirectoryLister/dist/fonts/icon.woff') format('woff');
}
<% glyphs.forEach((value, index) =>
{
%>
%rs-icon-<%=value%>
{
	content: '\<%=codepoints[index]%>';
	font-family: var(--rs-font-icon-directory-lister);
	font-weight: normal;
}
<%
})
%>
