/**
 * @tableofcontents
 *
 * 1. directory lister
 *    1.1 list
 *    1.2 link
 *    1.3 text
 * 2. query
 *    2.1 medium max
 */

/** @section 1. directory lister */

/** @section 1.1 list */

.rs-list-directory-lister
{
	& li
	{
		display: flex;
		justify-content: space-between;
	}

	& li + li
	{
		margin-top: 0.25em;
	}
}

/** @section 1.2 link */

.rs-link-directory-lister
{
	flex-grow: 1;

	&:before
	{
		background-position: center;
		background-repeat: no-repeat;
		content: '';
		display: inline-block;
		height: 1em;
		margin-right: 0.5em;
		vertical-align: middle;
		width: 1em;
	}

	&.rs-is-directory
	{
		&:before
		{
			background-image: svg-load('@mdi/svg/svg/folder.svg', fill = gray(30));
		}

		&.rs-is-parent:before
		{
			background-image: svg-load('@mdi/svg/svg/folder-open.svg', fill = gray(30));
		}
	}

	&.rs-is-file:before
	{
		background-image: svg-load('@mdi/svg/svg/file.svg', fill = gray(30));
	}
}

/** @section 1.3 text */

.rs-text-directory-lister.rs-is-size:after
{
	content: ' ' attr(data-unit);
	margin-right: 1em;
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	.rs-text-directory-lister
	{
		display: none;
	}
}
