/**
 * @tableofcontents
 *
 * 1. directory lister
 *    1.1 list
 *    1.2 link
 *    1.3 text
 *    1.4 query
 *       1.4.1 medium min
 *
 * @since 3.2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. directory lister */

/* @section 1.1 list */

.rs-list-directory-lister
{
	& li + li
	{
		margin-top: 0.25em;
	}
}

/* @section 1.2 link */

.rs-link-directory-lister
{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&:before
	{
		font-size: 1.25em;
		margin-right: 0.5em;
		vertical-align: middle;
	}

	&.rs-is-directory:before
	{
		@extend %rs-icon-folder;
	}

	&.rs-is-directory.rs-is-parent:before
	{
		@extend %rs-icon-folder-open;
	}

	&.rs-is-file:before
	{
		@extend %rs-icon-insert-drive-file;
	}
}

/* @section 1.3 text */

.rs-text-directory-lister
{
	display: none;
	width: 15%;

	&:last-child
	{
		text-align: right;
	}

	&.rs-has-size[data-unit]:after
	{
		content: ' ' attr(data-unit);
	}
}

/* @section 1.4 query */

/* @section 1.4.1 medium min */

@media (--media-medium-min)
{
	.rs-link-directory-lister
	{
		margin-right: 5%;
		width: 65%;
	}

	.rs-link-directory-lister,
	.rs-text-directory-lister
	{
		display: inline-block;
		vertical-align: top;
	}
}