/**
 * @tableofcontents
 *
 * 1. list
 */

/** @section 1. list */

.rs-list-light-gallery
{
	& li
	{
		float: left;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
	}

	& img
	{
		max-width: 100%;
	}
}
