/**
 * @tableofcontents
 *
 * 1. button admin
 *    1.1 hover effect
 *    1.2 active effect
 *    1.3 icons
 * 2. several fields
 *    2.1 hover effect
 *    2.2 focus effect
 * 3. textarea
 * 4. disabled and readonly
 * 5. form admin
 * 6. space between elements
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button admin */

.button_admin
{
	background: #3b3b3b;
	background: -webkit-linear-gradient(#3b3b3b, #303030);
	background: linear-gradient(#3b3b3b, #303030);
	border: 1px solid #151515;
	border-radius: 0.25em;
	color: #ccc;
	cursor: pointer;
	display: inline-block;
	font: bold 0.875em/2.5em arial;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	padding: 0 0.75em;
}

.button_admin.button_large_admin
{
	font-size: 1em;
}

/* @section 1.1 hover effect */

.button_admin:hover
{
	background: #474747;
	background: -webkit-linear-gradient(#474747, #3b3b3b);
	background: linear-gradient(#474747, #3b3b3b);
	color: #eee;
}

/* @section 1.2 active effect */

.button_admin:active
{
	background: #4cb4ff;
	background: -webkit-linear-gradient(#4cb4ff, #0090db);
	background: linear-gradient(#4cb4ff, #0090db);
	border-color: #005da2;
	color: #fff;
}

/* @section 1.3 icons */

.button_admin.button_plus_admin:before, .button_admin.button_cancel_admin:before, .button_admin.button_submit_admin:before
{
	font: 1em 'icon admin';
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

.button_admin.button_plus_admin:before
{
	content: 'f';
}

.button_admin.button_cancel_admin:before
{
	content: 'e';
}

.button_admin.button_submit_admin:before
{
	content: 'd';
}

/* @section 2. several fields */

.field_select_admin, .field_text_admin, .field_textarea_admin.field_small_admin
{
	width: 40%;
}

.dialog_admin .field_text_admin
{
	width: 100%;
}

.field_select_admin, .field_text_admin, .field_textarea_admin
{
	background: #f1f1f1;
	background: -webkit-linear-gradient(#e2e2e2, #f1f1f1);
	background: linear-gradient(#e2e2e2, #f1f1f1);
	border: 1px solid #c9c9c9;
	border-radius: 0.25em;
	color: #6a6a6a;
	font: 1em arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	-webkit-transition: background 0.4s ease;
	transition: background 0.4s ease;
	padding: 0.5em;
}

/* @section 2.1 hover effect */

.field_select_admin:hover, .field_text_admin:hover, .field_textarea_admin:hover
{
	border-color: #adadad;
}

/* @section 2.2 focus effect */

.field_select_admin:focus, .field_text_admin:focus, .field_textarea_admin:focus
{
	background: #e2e2e2;
	background: -webkit-linear-gradient(#f1f1f1, #e2e2e2);
	background: linear-gradient(#f1f1f1, #e2e2e2);
	border-color: #ababab;
	box-shadow: 0 0 3px #fff;
}

/* @section 3. textarea */

.field_textarea_admin
{
	min-height: 20em;
	resize: vertical;
	width: 100%;
}

.field_textarea_admin.field_small_admin
{
	min-height: 5em;
}

/* @section 4. disabled and readonly */

.button_admin[disabled]
{
	background: #ccc;
	border-color: #ababab;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.6);
	color: #9e9e9e;
	cursor: default;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.field_select_admin[disabled], .field_text_admin[disabled], .field_text_admin[readonly], .field_textarea_admin[disabled], .field_textarea_admin[readonly]
{
	background: #d4d4d4;
	background: -webkit-linear-gradient(#d4d4d4, #e2e2e2);
	background: linear-gradient(#d4d4d4, #e2e2e2);
	border-color: #d5d5d5;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
	color: #a4a4a4;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

/* @section 5. form admin */

.form_admin li
{
	margin: 0.5em 0;
}

.form_admin .label
{
	color: #555;
	font: bold 0.875em arial;
	display: block;
}

.form_admin .label_message:after
{
	content: ' ' attr(data-message);
}

/* @section 6. space between elements */

.box_dialog_admin .button_admin, .box_notification_admin .button_admin, .form_admin .button_admin
{
	margin-top: 1em;
}