/**
 * @tableofcontents
 *
 * 1. panel admin
 * 2. wrapper
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. panel admin */

.panel_admin
{
	position: relative;
}

.panel_admin a, .panel_admin a:hover
{
	text-decoration: none;
}

/* @section 2. wrapper */

.wrapper_button_admin
{
	margin-bottom: 1em;
}

.wrapper_table_admin
{
	overflow: hidden;
}

.wrapper_table_admin > .table_admin
{
	width: 100%;
}