/**
 * @tableofcontents
 *
 * 1. panel admin
 * 2. status admin
 * 3. wrapper
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. panel admin */

.panel_admin
{
	position: relative;
}

.panel_admin a, .panel_admin a:hover
{
	text-decoration: none;
}

/* @section 2. status admin */

.battery_admin
{
	height: 100%;
}

.battery_admin.battery_full
{
	background: green;
}

.battery_admin.battery_half
{
	background: orange;
}

.battery_admin.battery_low
{
	background: red;
}

/* @section 3. wrapper */

.wrapper_button_admin
{
	margin-bottom: 1em;
}

.wrapper_table_admin
{
	overflow: hidden;
}

.wrapper_table_admin > .table_admin
{
	width: 100%;
}