/**
 * @tableofcontents
 *
 * 1. link dock admin
 *    1.1 icons
 * 2. list control admin
 * 3. list panel admin
 *    3.1 icons before
 *    3.2 icons after
 *    3.3 javascript enabled
 * 4. list tab admin
 *    4.1 javascript enabled
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. link dock admin */

.link_dock_admin
{
	-moz-transition: padding 0.3s ease;
	-ms-transition: padding 0.3s ease;
	-o-transition: padding 0.3s ease;
	-webkit-transition: padding 0.3s ease;
	float: left;
	height: 3.125em;
	position: relative;
	text-indent: -999em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	transition: padding 0.3s ease;
	width: 3.375em;
}

.link_dock_admin:hover
{
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	background: #3db1f1;
	background: -moz-linear-gradient(top, #3db1f1, #0090db);
	background: -ms-linear-gradient(top, #3db1f1, #0090db);
	background: -o-linear-gradient(top, #3db1f1, #0090db);
	background: -webkit-gradient(linear, left top, left bottom, from(#3db1f1), to(#0090db));
	background: -webkit-linear-gradient(top, #3db1f1, #0090db);
	background: linear-gradient(top, #3db1f1, #0090db);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	color: #000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	padding: 0 0.25em;
}

/* link delete */

.link_dock_admin.link_delete:hover
{
	background: #d50000;
	background: -moz-linear-gradient(top, #d50000, #a20000);
	background: -ms-linear-gradient(top, #d50000, #a20000);
	background: -o-linear-gradient(top, #d50000, #a20000);
	background: -webkit-gradient(linear, left top, left bottom, from(#d50000), to(#a20000));
	background: -webkit-linear-gradient(top, #d50000, #a20000);
}

/* @section 1.1 icons */

.link_dock_admin:before
{
	font: 1.25em/2.5em 'icon admin';
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
}

.link_dock_admin.link_unpublish:before
{
	content: 'p';
}

.link_dock_admin.link_edit:before
{
	content: 'q';
}

.link_dock_admin.link_delete:before
{
	content: 'r';
}

/* @section 2. list control admin */

.item_control_admin
{
	display: inline-block;
	font-size: 0.875em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}

.list_control_admin a, .list_control_admin span
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #ddd;
	background: -moz-linear-gradient(top, #ddd, #c6c6c6);
	background: -ms-linear-gradient(top, #ddd, #c6c6c6);
	background: -o-linear-gradient(top, #ddd, #c6c6c6);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#c6c6c6));
	background: -webkit-linear-gradient(top, #ddd, #c6c6c6);
	background: linear-gradient(top, #ddd, #c6c6c6);
	border: 1px solid #c6c6c6;
	border-radius: 0.25em;
	color: #666;
	display: inline-block;
	line-height: 2em;
	padding: 0 0.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.list_control_admin a:hover
{
	background: #4cb4ff;
	background: -moz-linear-gradient(top, #4cb4ff, #0090db);
	background: -ms-linear-gradient(top, #4cb4ff, #0090db);
	background: -o-linear-gradient(top, #4cb4ff, #0090db);
	background: -webkit-gradient(linear, left top, left bottom, from(#4cb4ff), to(#0090db));
	background: -webkit-linear-gradient(top, #4cb4ff, #0090db);
	background: linear-gradient(top, #4cb4ff, #0090db);
	border-color: #005da2;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}

.list_control_admin span
{
	color: #999;
}

/* @section 3. list panel admin */

.list_panel_admin
{
	font-size: 0.875rem;
}

.item_panel_admin
{
	position: relative;
}

.list_panel_admin a, .list_panel_admin span
{
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px #000;
	-moz-transition: padding-left 0.3s ease;
	-ms-transition: padding-left 0.3s ease;
	-o-transition: padding-left 0.3s ease;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px #000;
	-webkit-transition: padding-left 0.3s ease;
	color: #b9b9b9;
	cursor: pointer;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px #000;
	display: block;
	font: bold 1.25em/2.5em 'open sans condensed', 'trebuchet ms', arial;
	padding: 0 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	transition: padding-left 0.3s ease;
}

.list_panel_admin a:hover, .list_panel_admin span:hover
{
	-moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	background: #3db1f1;
	background: -moz-linear-gradient(top, #3db1f1, #0090db);
	background: -ms-linear-gradient(top, #3db1f1, #0090db);
	background: -o-linear-gradient(top, #3db1f1, #0090db);
	background: -webkit-gradient(linear, left top, left bottom, from(#3db1f1), to(#0090db));
	background: -webkit-linear-gradient(top, #3db1f1, #0090db);
	background: linear-gradient(top, #3db1f1, #0090db);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), inset 0 -1px #000;
	color: #000;
	padding-left: 1.25em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

/* link logout */

.item_panel_admin.item_logout a:hover
{
	background: #d50000;
	background: -moz-linear-gradient(top, #d50000, #a20000);
	background: -ms-linear-gradient(top, #d50000, #a20000);
	background: -o-linear-gradient(top, #d50000, #a20000);
	background: -webkit-gradient(linear, left top, left bottom, from(#d50000), to(#a20000));
	background: -webkit-linear-gradient(top, #d50000, #a20000);
}

/* @section 3.1 icons before */

.item_panel_admin > a:before, .item_panel_admin > span:before
{
	font: 1.25em/1.5em 'icon admin';
	margin-right: 1em;
	vertical-align: middle;
	text-transform: lowercase;
}

.item_panel_admin.item_contents > span:before
{
	content: 'i';
}

.item_panel_admin.item_access > span:before
{
	content: 'j';
}

.item_panel_admin.item_system > span:before
{
	content: 'k';
}

.item_panel_admin.item_profile > a:before, .item_panel_admin.item_profile > span:before
{
	content: 'l';
}

.item_panel_admin.item_logout > a:before
{
	content: 'n';
}

/* @section 3.2 icons after */

.item_panel_admin > span:after
{
	font: 1.5em/1.75em 'icon admin';
	position: absolute;
	right: 0.75em;
	top: 0;
}

.item_panel_admin > span:after
{
	content: '˃';
}

.item_panel_admin.item_active > span:after
{
	content: '˅';
}

/* @section 3.3 javascript enabled */

.js .list_panel_children_admin
{
	display: none;
}

.js .list_panel_children_admin ul
{
	left: 100%;
	top: 0;
}

/* @section 4. list tab admin */

.list_tab_admin li
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: url('templates/admin/images/carbon.png') #232323;
	border: 1px solid #232323;
	border-radius: 0.25em 0.25em 0 0;
	margin-bottom: -1px;
	margin-right: 1px;
	vertical-align: bottom;
}

.list_tab_admin a
{
	color: #ccc;
	font: bold 1.25em/2em 'open sans condensed', 'trebuchet ms', arial;
	padding: 0 1em;
	text-transform: uppercase;
}

.list_tab_admin a:hover
{
	text-decoration: none;
}

/* @section 4.1 javascript enabled */

.js .list_tab_admin .item_active
{
	-moz-box-shadow: inset 0 1px #fff;
	-webkit-box-shadow: inset 0 1px #fff;
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -ms-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -o-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(#e2e2e2, 40%), to(#e2e2e2));
	background: -webkit-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	border: 1px solid #b9b9b9;
	border-bottom-color: #e2e2e2;
	box-shadow: inset 0 1px #fff;
}

.js .list_tab_admin .item_active a
{
	color: #474747;
	cursor: default;
	line-height: 2.5em;
}