/* admin dock link */

.link_dock_admin
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	background: url('templates/admin/images/sprite.png') #333;
	border: 1px solid #151515;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	display: inline-block;
	height: 24px;
	margin: 0.5em;
	text-indent: -999em;
	width: 24px;
}

.link_dock_admin:hover
{
	background-color: #3b3b3b;
}

/* admin dock icons */

.link_dock_admin.link_unpublish
{
	background-position: -3px -453px;
}

.link_dock_admin.link_edit
{
	background-position: -3px -483px;
}

.link_dock_admin.link_delete
{
	background-position: -3px -513px;
}

/* admin panel link */

.link_panel_admin
{
	-moz-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-moz-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-webkit-border-radius: 0.25em;
	background: #333;
	border: 1px solid #151515;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	display: inline-block;
	font: bold 0.875em arial;
	text-shadow: 0 1px #1b1b1b;
	text-transform: uppercase;
	margin-right: 1em;
	padding: 0.375em 0.75em;
}

.link_panel_admin, .link_panel_admin:hover
{
	color: #ccc;
}

.link_panel_admin:hover
{
	background: #3b3b3b;
}

/* admin panel logout */

.link_panel_admin.link_logout
{
	padding-left: 2.5em;
	position: relative;
}

.link_panel_admin.link_logout:before
{
	background: url('templates/admin/images/sprite.png') -158px 0;
	content: '';
	display: block;
	height: 30px;
	left: 5px;
	margin-top: -15px;
	position: absolute;
	top: 50%;
	width: 14px;
}

.link_panel_admin.link_logout:hover.link_logout:before
{
	-moz-box-shadow: 0 0 3px #b90000;
	-webkit-box-shadow: 0 0 3px #b90000;
	box-shadow: 0 0 3px #b90000;
}

/* admin control list */

.list_control_admin li
{
	float: left;
	font-size: 0.75em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	text-transform: uppercase;
}

.list_control_admin a, .list_control_admin span
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 0 0 1px #dadada;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px #dadada;
	background: #ddd;
	background: linear-gradient(top, #ddd, #c6c6c6);
	background: -moz-linear-gradient(top, #ddd, #c6c6c6);
	background: -ms-linear-gradient(top, #ddd, #c6c6c6);
	background: -o-linear-gradient(top, #ddd, #c6c6c6);
	background: -webkit-linear-gradient(top, #ddd, #c6c6c6);
	border: 1px solid #c6c6c6;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #dadada;
	color: #666;
	display: inline-block;
	line-height: 1.75em;
	padding: 0 0.75em;
	text-shadow: 0 1px #eee;
}

.list_control_admin a:hover
{
	-moz-box-shadow: inset 0 0 0 1px #5ec5f3;
	-webkit-box-shadow: inset 0 0 0 1px #5ec5f3;
	background: #62c5ff;
	background: linear-gradient(top, #62c5ff, #0090db);
	background: -moz-linear-gradient(top, #62c5ff, #0090db);
	background: -ms-linear-gradient(top, #62c5ff, #0090db);
	background: -o-linear-gradient(top, #62c5ff, #0090db);
	background: -webkit-linear-gradient(top, #62c5ff, #0090db);
	border-color: #005da2;
	box-shadow: inset 0 0 0 1px #5ec5f3;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px #005da2;
}

.list_control_admin span
{
	color: #999;
}

/* admin panel list */

.list_panel_admin
{
	font: bold 1.125em arial;
	display: inline-block;
	text-shadow: 0 1px #1b1b1b;
	text-transform: uppercase;
}

.list_panel_admin, .list_panel_admin a
{
	color: #ccc;
}

/* admin panel list menu area */

.list_panel_admin li
{
	background-color: #333;
	padding: 0.25em 0.75em;
}

.list_panel_admin li:hover, .list_panel_admin > .item_touch
{
	background-color: #3b3b3b;
}

/* admin panel list dropdown area */

.list_panel_admin > li
{
	-moz-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-moz-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	-webkit-border-radius: 0.25em;
	background: url('templates/admin/images/sprite.png') -18px -49px #333;
	border: 1px solid #151515;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px #585858, 0 0 1px #474747;
	display: inline-block;
	margin-right: 1em;
	padding-left: 1.75em;
}

.list_panel_admin > li:hover, .list_panel_admin > li.item_touch
{
	background-color: #3b3b3b;
}

/* admin panel list hover spaces */

.list_panel_admin > li > ul
{
	border-top: 4px solid transparent;
}

.list_panel_admin > li ul ul
{
	border-left: 4px solid transparent;
}

.list_panel_admin ul
{
	margin-top: -1px;
	margin-left: -1px;
}

.list_panel_admin ul > li
{
	border: 1px solid #585858;
	border-top-width: 0;
}

/* first and last children rounded */

.list_panel_admin ul li:first-child
{
	-moz-border-radius-topleft: 0.25em;
	-moz-border-radius-topright: 0.25em;
	-webkit-border-top-left-radius: 0.25em;
	-webkit-border-top-right-radius: 0.25em;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	border-top-width: 1px;
}

.list_panel_admin ul li:last-child
{
	-moz-border-radius-bottomleft: 0.25em;
	-moz-border-radius-bottomright: 0.25em;
	-webkit-border-bottom-left-radius: 0.25em;
	-webkit-border-bottom-right-radius: 0.25em;
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

/* admin tab */

.list_tab_admin
{
	margin-bottom: -1px;
}

.list_tab_admin li
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: url('templates/admin/images/carbon.png') #232323;
	border: 1px solid #232323;
	border-radius: 0.25em 0.25em 0 0;
	margin-right: 1px;
	vertical-align: bottom;
}

.list_tab_admin a
{
	color: #ccc;
	font: bold 1.125em/2em arial;
	padding: 0 1em;
	text-transform: uppercase;
}

.list_tab_admin a:hover
{
	text-decoration: none;
}

/* javascript enabled */

.js .list_tab_admin .item_active
{
	-moz-box-shadow: inset 0 1px #fff;
	-webkit-box-shadow: inset 0 1px #fff;
	background: #e2e2e2;
	background: linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -moz-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -ms-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -o-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	background: -webkit-linear-gradient(top, #dadada, #e2e2e2 40%, #e2e2e2);
	border: 1px solid #b9b9b9;
	border-bottom-color: #e2e2e2;
	box-shadow: inset 0 1px #fff;
}

.js .list_tab_admin .item_active a
{
	color: #474747;
	cursor: default;
	line-height: 2.5em;
}