/**
 * @tableofcontents
 *
 * 1. screen max 40em
 * 2. screen max 30em
 * 4. rtl direction
 */

/* @section 1. screen max 40em */

@media screen and (max-width: 40em)
{
	.item_control_admin.item_future_posting, .table_admin .column_third
	{
		display: none;
	}
}

/* @section 2. screen max 30em */

@media screen and (max-width: 30em)
{
	.field_select_admin, .field_text_admin, .field_textarea_small_admin
	{
		width: 100%;
	}

	.item_control_admin.item_enable, .item_control_admin.item_disable, .item_control_admin.item_publish, .item_control_admin.item_unpublish, .table_admin .column_second
	{
		display: none;
	}
}

/* @section 4. rtl direction */

.rtl .description_dock_admin, .rtl .wrapper_panel_menu_admin
{
	float: left;
}

.rtl .table_admin .column_move
{
	text-align: right;
}