/**
 * @tableofcontents
 *
 * 1. screen max 40em
 * 2. screen max 30em
 * 4. rtl direction
 */

/* @section 1. screen max 40em */

@media screen and (max-width: 40em)
{
	.list_control_admin .item_future_posting .table_admin .column_third
	{
		display: none;
	}
}

/* @section 2. screen max 30em */

@media screen and (max-width: 30em)
{
	.dialog_admin
	{
		margin: -5em 0 0 -40%;
		width: 80%;
	}

	.field_select_admin, .field_text_admin, .field_textarea_small_admin
	{
		width: 100%;
	}

	.list_control_admin .item_enable, .list_control_admin .item_disable, .list_control_admin .item_publish, .list_control_admin .item_unpublish, .table_admin .column_second
	{
		display: none;
	}
}

/* @section 4. rtl direction */

.rtl .description_dock_admin, .rtl .wrapper_panel_menu_admin
{
	float: left;
}

.rtl .table_admin .column_move
{
	text-align: right;
}