/**
 * @tableofcontents
 *
 * 1. screen max 40em
 * 2. screen max 30em
 * 3. screen min 50em
 * 4. screen min 30em
 * 5. rtl direction
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. screen max 40em */

@media screen and (max-width: 40em)
{
	.item_control_admin.item_future_posting
	{
		display: none;
	}
}

/* @section 2. screen max 30em */

@media screen and (max-width: 29.999em)
{
	.button_admin + .button_admin, .button_large_admin + .button_large_admin
	{
		margin-top: 0.75em;
	}

	a.button_admin, a.button_large_admin
	{
		display: block;
	}

	button.button_admin, button.button_large_admin, .field_select_admin, .field_text_admin, .field_textarea_small_admin
	{
		width: 100%;
	}

	.description_dock_admin, .item_control_admin.item_enable, .item_control_admin.item_disable, .item_control_admin.item_publish, .item_control_admin.item_unpublish
	{
		display: none;
	}
}

/* @section 3. screen min 50em */

@media screen and (min-width: 50em)
{
	.list_panel_admin a, .list_panel_admin span
	{
		line-height: 3.5em;
	}

	.list_panel_admin a:before, .list_panel_admin span:before
	{
		font-size: 1.5em;
	}

	.list_panel_admin .item_panel_admin > span:after
	{
		content: '';
	}

	.list_panel_admin > li
	{
		float: left;
		position: relative;

	}

	.list_panel_admin.c2 > li
	{
		width: 50%;
	}

	.list_panel_admin.c3 > li
	{
		width: 33.33%;
	}

	.list_panel_admin.c4 > li
	{
		width: 25%;
	}

	.list_panel_admin.c5 > li
	{
		width: 20%;
	}

	.list_panel_children_admin
	{
		background: url('templates/admin/images/carbon.png') #232323;
		position: absolute;
		width: 100%;
	}

	.sidebar .description_dock_admin
	{
		display: none;
	}
}

/* @section 4. screen min 30em */

@media screen and (min-width: 30em)
{
	.button_admin + .button_admin, .button_large_admin + .button_large_admin, .field_text_admin + .button_admin
	{
		margin-left: 0.5em;
	}

	.form_admin .button_cancel, .form_admin .button_delete
	{
		float: left;
	}

	.form_admin .button_submit
	{
		float: right;
	}
}

/* @section 5. rtl direction */

.rtl .description_dock_admin
{
	float: left;
}

.rtl .table_admin .column_move
{
	text-align: right;
}