/**
 * @tableofcontents
 *
 * 1. admin table
 *    1.1 body
 *    1.1.1 row group
 *    1.1.2 several elements
 *    1.1.3 list control admin
 *    1.1.4 move control
 *    1.2 head and foot
 *    1.3 column move
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. admin table */

.table_admin
{
	color: #474747;
}

.table_admin td, .table_admin th
{
	padding: 0.75em;
}

/* @section 1.1 body */

.table_admin tbody
{
	border: solid #b9b9b9;
	border-width: 0 1px;
}

/* odd look */

.table_admin tbody:nth-child(odd) tr
{
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #e2e2e2, #dadada);
	background: -ms-linear-gradient(top, #e2e2e2, #dadada);
	background: -o-linear-gradient(top, #e2e2e2, #dadada);
	background: -webkit-linear-gradient(top, #e2e2e2, #dadada);
	background: linear-gradient(top, #e2e2e2, #dadada);
}

/* even look */

.table_admin tbody:nth-child(even) tr
{
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb, #e8e8e8);
	background: -ms-linear-gradient(top, #ebebeb, #e8e8e8);
	background: -o-linear-gradient(top, #ebebeb, #e8e8e8);
	background: -webkit-linear-gradient(top, #ebebeb, #e8e8e8);
	background: linear-gradient(top, #ebebeb, #e8e8e8);
}

.table_admin tbody tr
{
	border-bottom: 1px solid #b9b9b9;
}

.table_admin tbody:last-child tr:last-child
{
	border-bottom: 0;
}

/* row disabled */

.table_admin tbody .row_disabled
{
	background: #ddd;
	color: #b9b9b9;
}

/* @section 1.1.1 row group */

.table_admin tbody .row_group
{
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	text-transform: uppercase;
}

.table_admin tfoot + tbody .row_group
{
	border-top: 0;
}

.table_admin tbody .row_group td
{
	padding: 1.25em 0.75em;
}

.table_admin tbody .row_group td:before
{
	content: 's';
	font: 1.5em 'icon admin';
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

/* @section 1.1.2 several elements */

.table_admin tbody .link_parent
{
	color: #666;
	text-decoration: underline;
}

.table_admin tbody .link_parent:hover
{
	color: #474747;
}

.table_admin tbody .link_view
{
	color: #474747;
	font-weight: bold;
	text-decoration: underline;
}

.table_admin tbody .icon_flag
{
	margin-right: 1em;
}

/* @section 1.1.3 list control admin */

.table_admin tbody .list_control_admin
{
	margin-top: 1em;
}

.desktop .table_admin tbody .list_control_admin
{
	visibility: hidden;
}

.desktop .table_admin tbody tr:hover .list_control_admin
{
	visibility: visible;
}

/* @section 1.1.4 move control */

.table_admin .move_up, .table_admin .move_down
{
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	color: #474747;
	display: block;
	min-height: 3em;
	position: relative;
	transition: color 0.3s ease;
}

.table_admin .move_up:hover, .table_admin .move_down:hover
{
	color: #0090db;
}

.table_admin .move_up:before, .table_admin .move_down:before
{
	display: block;
	font: 1.5em 'icon admin';
	position: absolute;
	text-indent: 0;
	right: 0.25em;
}

.table_admin .move_up:before
{
	content: 'b';
	top: 0.25em;
}

.table_admin .move_down:before
{
	content: 'c';
	bottom: 0.25em;
}

/* disabled move control */

.table_admin span.move_up:before, .table_admin span.move_down:before
{
	color: #b9b9b9;
}

/* @section 1.2 head and foot */

.table_admin tfoot, .table_admin thead
{
	border: 1px solid #232323;
}

.table_admin tfoot tr, .table_admin thead tr
{
	background: url('templates/admin/images/carbon.png') #232323;
	color: #ccc;
	font: bold 1.25em 'open sans condensed', 'trebuchet ms', arial;
	text-transform: uppercase;
}

/* @section 1.3 column move */

.table_admin .column_move
{
	text-indent: -999em;
	text-align: left;
}

.table_admin tfoot .column_move, .table_admin thead .column_move
{
	display: block;
	position: relative;
}

.table_admin tfoot .column_move:before, .table_admin thead .column_move:before
{
	content: 'a';
	font: 1.5em/2em 'icon admin';
	position: absolute;
	right: 0.75em;
	text-indent: 0;
	text-transform: lowercase;
	top: 0;
}