/* admin table */

.table_admin td, .table_admin th
{
	padding: 0.75em;
}

/* admin table body */

.table_admin tbody
{
	border: solid #b9b9b9;
	border-width: 0 1px;
}

.table_admin tbody tr
{
	background: #e2e2e2;
	background: linear-gradient(top, #e2e2e2, #dadada);
	background: -moz-linear-gradient(top, #e2e2e2, #dadada);
	background: -ms-linear-gradient(top, #e2e2e2, #dadada);
	background: -o-linear-gradient(top, #e2e2e2, #dadada);
	background: -webkit-linear-gradient(top, #e2e2e2, #dadada);
	border-bottom: 1px solid #b9b9b9;
}

.table_admin tbody tr:hover
{
	background: #e2e2e2;
	background: linear-gradient(top, #ebebeb, #e2e2e2);
	background: -moz-linear-gradient(top, #ebebeb, #e2e2e2);
	background: -ms-linear-gradient(top, #ebebeb, #e2e2e2);
	background: -o-linear-gradient(top, #ebebeb, #e2e2e2);
	background: -webkit-linear-gradient(top, #ebebeb, #e2e2e2);
}

.table_admin tbody:last-child tr:last-child
{
	border-bottom: 0;
}

/* admin table row disabled */

.table_admin tbody .row_disabled
{
	background: #ddd;
	color: #b9b9b9;
}

/* admin table row group */

.table_admin tbody .row_group
{
	border-top: 1px solid #b9b9b9;
	font-weight: bold;
	text-transform: uppercase;
}

.table_admin tfoot + tbody .row_group
{
	border-top: 0;
}

.table_admin tbody .row_group, .table_admin tbody .row_group:hover
{
	background: url('templates/admin/images/carbon.png') #eee;
}

/* admin table head and foot */

.table_admin tfoot, .table_admin thead
{
	border: 1px solid #232323;
}

.table_admin tfoot tr, .table_admin thead tr
{
	background: url('templates/admin/images/carbon.png') #232323;
	color: #ccc;
	font: bold 1em arial;
	text-transform: uppercase;
}

/* admin table move column icons */

.table_admin tfoot .column_move, .table_admin thead .column_move
{
	background: url('templates/admin/images/sprite.png') -116px 2px;
}

/* link groups */

.table_admin tbody .link_parent
{
	color: #666;
	text-decoration: underline;
}

/* link view */

.table_admin tbody .link_view
{
	color: #474747;
	font-weight: bold;
	text-decoration: underline;
}

/* admin control */

.table_admin tbody .list_control_admin
{
	margin-top: 1em;
	visibility: hidden;
}

.table_admin tbody tr:hover .list_control_admin
{
	visibility: visible;
}

/* admin table icon flag */

.table_admin tbody .icon_flag
{
	margin-right: 1em;
}

/* hide column move text */

.table_admin .column_move
{
	text-indent: -999em;
	text-align: left;
	width: 20px;
}

/* admin table move control */

.table_admin .move_up, .table_admin .move_down
{
	background: url('templates/admin/images/sprite.png');
	display: block;
	height: 20px;
	margin: 0.5em 0;
	width: 20px;
}

.table_admin span.move_up, .table_admin span.move_down
{
	opacity: 0.5;
}

.table_admin tbody .move_up
{
	background-position: -5px -5px;
}

.table_admin tbody a.move_up:hover
{
	background-position: -65px -5px;
}

.table_admin tbody .move_down
{
	background-position: -35px -5px;
}

.table_admin tbody a.move_down:hover
{
	background-position: -95px -5px;
}