/* admin title accordion */

.title_accordion_admin
{
	-moz-box-shadow: inset -1px 0 #b9b9b9, inset 1px 0 #b9b9b9, inset 0 1px #b9b9b9, inset 0 2px #e0e0e0;
	-webkit-box-shadow: inset -1px 0 #b9b9b9, inset 1px 0 #b9b9b9, inset 0 1px #b9b9b9, inset 0 2px #e0e0e0;
	background: #d4d4d4;
	background: linear-gradient(top, #d4d4d4, #d4d4d4 30%, #bfbfbf);
	background: -moz-linear-gradient(top, #d4d4d4, #d4d4d4 30%, #bfbfbf);
	background: -ms-linear-gradient(top, #d4d4d4, #d4d4d4 30%, #bfbfbf);
	background: -o-linear-gradient(top, #d4d4d4, #d4d4d4 30%, #bfbfbf);
	background: -webkit-linear-gradient(top, #d4d4d4, #d4d4d4 30%, #bfbfbf);
	box-shadow: inset -1px 0 #b9b9b9, inset 1px 0 #b9b9b9, inset 0 1px #b9b9b9, inset 0 2px #e0e0e0;
	font: bold 1.125em/2.5em arial;
	text-indent: 1em;
	text-transform: uppercase;
	width: 100%;
}

.title_accordion_admin, .title_accordion_admin a
{
	color: #474747;
}

/* javascript enabled */

.js .title_accordion_admin
{
	cursor: pointer;
}

.js .title_accordion_admin.title_active
{
		cursor: default;
}

/* last title accordion */

.js .set_accordion_admin.set_accordion_last .title_accordion_admin
{
	-moz-box-shadow: inset 0 0 0 1px #b9b9b9, inset 0 2px #e0e0e0;
	-webkit-box-shadow: inset 0 0 0 1px #b9b9b9, inset 0 2px #e0e0e0;
	box-shadow: inset 0 0 0 1px #b9b9b9, inset 0 2px #e0e0e0;
}

/* serveral titles */

.js .set_accordion_admin .title_accordion_admin.title_active, .title_dialog_admin
{
	background: url('templates/admin/images/carbon.png') #232323;
	box-shadow: none;
}

.js .title_accordion_admin.title_active, .js .title_accordion_admin.title_active a, .title_dialog_admin, .title_dialog_admin a
{
	color: #ccc;
}

/* admin title dialog */

.title_dialog_admin
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	font: bold 1.125em/2.5em arial;
	text-transform: uppercase;
	padding: 0 1em;
}