/**
 * @tableofcontents
 *
 * 1. font face
 * 2. title accordion admin
 *    2.1 javascript enabled
 *    2.2 last element
 * 3. several admin titles
 * 4. title dialog admin
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon admin';
	src: url('templates/admin/fonts/icon.woff') format('woff'), url('templates/admin/fonts/icon.ttf') format('truetype');
}

/* @section 2. title accordion admin */

.title_accordion_admin
{
	background: #d5d5d5;
	background: -webkit-linear-gradient(#d5d5d5, #ccc);
	background: linear-gradient(#d5d5d5, #ccc);
	border: 1px solid #b9b9b9;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font: bold 1.25em/2.5em 'open sans condensed', 'trebuchet ms', arial;
	padding: 0 1em;
	text-transform: uppercase;
	width: 100%;
}

.title_accordion_admin, .title_accordion_admin a
{
	color: #444;
}

/* @section 2.1 javascript enabled */

.js .title_accordion_admin
{
	border-bottom-width: 0;
	cursor: pointer;
}

/* @section 2.2 last element*/

.js .set_accordion_admin.set_accordion_last .title_accordion_admin
{
	border-bottom-width: 1px;
}

/* @section 3. several admin titles */

.js .title_accordion_admin.title_active, .title_dialog_admin
{
	background: url('templates/admin/images/carbon.png') #222;
	border: 1px solid #222;
}

.js .title_accordion_admin.title_active, .js .title_accordion_admin.title_active a, .title_dialog_admin, .title_dialog_admin a
{
	color: #ccc;
}

/* @section 4. title dialog admin */

.title_dialog_admin
{
	border-radius: 0.25em 0.25em 0 0;
	font: bold 1.25em/2.5em 'open sans condensed', 'trebuchet ms', arial;
	padding: 0 1em;
	text-transform: uppercase;
}
