/**
 * @tableofcontents
 *
 * 1. box live reload
 *    1.1 screen min 50em
 *    1.2 screen max 50em
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box live reload */

.box_live_reload
{
	bottom: 1em;
	font: 0.875em arial;
	right: 1em;
	position: fixed;
	z-index: 900;
}

/* @section 1.1 screen min 50em */

@media screen and (min-width: 50em)
{
	.box_live_reload
	{
		width: 12.5em;
	}
}

/* @section 1.2 screen max 50em */

@media screen and (max-width: 50em)
{
	.box_live_reload
	{
		left: 1em;
	}
}