/**
 * @tableofcontents
 *
 * 1. dialog default
 * 2. dialog overlay default
 * 3. fadein effect
 *
 * @since 2.0.2
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog default */

.dialog_default
{
	-moz-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
}

/* @section 2. dialog overlay default */

.dialog_overlay_default
{
	background: #000;
	background: rgba(0, 0, 0, 0.3);
}

/* @section 3. fadein effect */

.dialog_default, .dialog_overlay_default
{
	-moz-animation: fade 0.4s;
	-moz-border-radius: 0.25em;
	-ms-animation: fade 0.4s;
	-o-animation: fade 0.4s;
	-webkit-animation: fade 0.4s;
	-webkit-border-radius: 0.25em;
	animation: fade 0.4s;
	border-radius: 0.25em;
}