/**
 * @tableofcontents
 *
 * 1. dialog overlay default
 * 2. fadein effect
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog overlay default */

.dialog_overlay_default
{
	background: #000;
	background: rgba(0, 0, 0, 0.3);
}

/* @section 2. fadein effect */

.dialog_default, .dialog_overlay_default
{
	-moz-animation: fade 0.4s;
	-ms-animation: fade 0.4s;
	-o-animation: fade 0.4s;
	-webkit-animation: fade 0.4s;
	animation: fade 0.4s;
}