/**
 * @tableofcontents
 *
 * 1. button default
 *    1.1 hover and active effect
 *    1.2 icons
 * 2. several fields
 *    2.1 hover effect
 *    2.2 focus effect
 * 3. textarea
 * 4. search elements
 * 5. disabled and readonly
 * 6. form default
 * 7. form search
 * 8. space between elements
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button default */

.button_default
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	border: 1px solid #999;
	border-radius: 0.25em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	color: #555;
	cursor: pointer;
	display: inline-block;
	font: bold 1em/2.25em 'pt sans narrow', 'trebuchet ms', arial;
	padding: 0 0.75em;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

.button_default.button_large
{
	font-size: 1.25em;
}

/* @section 1.1 hover and active effect */

.button_default:hover, .button_default:active
{
	border-color: #005da2;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.button_default:hover
{
	background: #33acee;
	background: -webkit-linear-gradient(#00a2f8, #0090db);
	background: linear-gradient(#00a2f8, #0090db);
}

.button_default:active
{
	background: #0090db;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* @section 1.2 icons */

.button_donate:before, .button_login:before, .button_support:before
{
	font: 1em 'icon default';
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

.button_donate:before
{
	content: 'm';
}

.button_login:before
{
	content: 'k';
}

.button_support:before
{
	content: 'n';
}

/* @section 2. several fields */

.field_select, .field_text, .field_textarea.field_small
{
	width: 30%;
}

.dialog .field_text
{
	width: 100%;
}

.field_select, .field_text, .field_textarea
{
	background: #f1f1f1;
	background: -webkit-linear-gradient(#e2e2e2, #f1f1f1);
	background: linear-gradient(#e2e2e2, #f1f1f1);
	border: 1px solid #b9b9b9;
	border-radius: 0.25em;
	color: #555;
	font: 1.125em 'open sans', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	-webkit-transition: background 0.4s ease;
	transition: background 0.4s ease;
	padding: 0.5em;
}

/* @section 2.1 hover effect */

.field_select:hover, .field_text:hover, .field_textarea:hover
{
	background: #eee;
	background: -webkit-linear-gradient(#ddd, #eee);
	background: linear-gradient(#ddd, #eee);
}

/* @section 2.2 focus effect */

.field_select:focus, .field_text:focus, .field_textarea:focus
{
	background: #f8f8f8;
	border-color: #78b2d1;
	box-shadow: 0 0 1px #4abdff;
}

/* @section 3. textarea */

.field_textarea
{
	min-height: 10em;
	resize: vertical;
	width: 100%;
}

.field_textarea.field_small
{
	min-height: 5em;
}

/* @section 4. search elements */

.button_search
{
	color: #555;
	background: transparent;
	height: 2em;
	text-indent: -999em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	position: relative;
	width: 10%;
}

.button_search:before
{
	content: 'j';
	font: 1.5em 'icon default';
	position: absolute;
	right: 0;
	text-indent: 0;
	top: 0;
}

.field_search
{
	background: none;
	color: #555;
	font: 1.25em/2em 'pt sans narrow', 'trebuchet ms', arial;
	height: 1.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	width: 90%;
}

/* @section 5. disabled and readonly */

.button_default[disabled], .field_select[disabled], .field_text[disabled], .field_text[readonly], .field_textarea[disabled], .field_textarea[readonly]
{
	background: #e2e2e2;
	background: -webkit-linear-gradient(#dadada, #e8e8e8);
	background: linear-gradient(#dadada, #e8e8e8);
	border-color: #a5a5a5;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
	color: #a5a5a5;
	cursor: default;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

/* @section 6. form default */

.form_default li
{
	margin: 0.5em 0;
}

.form_default .label
{
	display: block;
}

.form_default .label_message:after
{
	content: ' ' attr(data-message);
}

/* @section 7. form search */

.form_search
{
	background: #e5e5e5;
	background: -webkit-linear-gradient(#f9f9f9, #e2e2e2);
	background: linear-gradient(#f9f9f9, #e2e2e2);
	border: 1px solid #999;
	border-radius: 0.25em;
	padding: 0.5em 1em;
}

/* @section 8. space between elements */

.box_dialog_default .button_default, .box_notification .button_default, .form_default .button_default
{
	margin-top: 0.75em;
}