/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. default buttons
 *    2.1 hover effect
 * 3. custom buttons
 * 4. default fields
 *    4.1 hover effect
 *    4.2 focus effect
 * 5. textarea dimensions
 * 6. search elements
 * 7. disabled and readonly
 * 8. form default
 * 9. form search
 * 10. space between elements
 */

/* @section 1. tag styling */

textarea
{
	resize: vertical;
}

/* @section 2. default buttons */

.field_button, .field_button_large
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: #cacaca;
	background: -moz-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -ms-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -o-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#bdbdbd));
	background: -webkit-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: linear-gradient(top, #d1d1d1, #bdbdbd);
	border: 1px solid #8e8e8e;
	border-radius: 0.25em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	color: #4a4a4a;
	cursor: pointer;
	display: inline-block;
	font: bold 1em/2.25em 'pt sans narrow', 'trebuchet ms', arial;
	padding: 0 0.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

.field_button_large
{
	font-size: 1.25em;
}

/* @section 2.1 hover effect */

.field_button:hover, .field_button_large:hover
{
	background: #33acee;
	background: -moz-linear-gradient(top, #0090db, #62c5ff);
	background: -ms-linear-gradient(top, #0090db, #62c5ff);
	background: -o-linear-gradient(top, #0090db, #62c5ff);
	background: -webkit-gradient(linear, left top, left bottom, from(#0090db), to(#62c5ff));
	background: -webkit-linear-gradient(top, #0090db, #62c5ff);
	background: linear-gradient(top, #0090db, #62c5ff);
	border-color: #005da2;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

/* @section 2.2 active and focus effects */

.field_button:active, .field_button_large:active, .field_button:focus, .field_button_large:focus
{
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	background: #0090db;
	border-color: #005da2;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

/* @section 3. custom buttons */

.field_button_donate:before, .field_button_login:before, .field_button_support:before
{
	font: 1em 'icon default';
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

.field_button_donate:before
{
	content: 'm';
}

.field_button_login:before
{
	content: 'k';
}

.field_button_support:before
{
	content: 'n';
}

/* @section 4. default fields */

.field_select, .field_text, .field_textarea_small
{
	width: 30%;
}

.dialog .field_text
{
	width: 100%;
}

.field_select, .field_text, .field_textarea, .field_textarea_small
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	-moz-box-sizing: border-box;
	-moz-transition: background 0.5s ease;
	-ms-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	-webkit-box-sizing: border-box;
	-webkit-transition: background 0.5s ease;
	background: #f1f1f1;
	background: -moz-linear-gradient(top, #e2e2e2, #f1f1f1);
	background: -ms-linear-gradient(top, #e2e2e2, #f1f1f1);
	background: -o-linear-gradient(top, #e2e2e2, #f1f1f1);
	background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#f1f1f1));
	background: -webkit-linear-gradient(top, #e2e2e2, #f1f1f1);
	background: linear-gradient(top, #e2e2e2, #f1f1f1);
	border: 1px solid #b0b0b0;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	color: #777;
	font: 1.125em 'open sans', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	transition: background 0.5s ease;
	padding: 0.5em;
}

/* @section 4.1 hover effect */

.field_select:hover, .field_text:hover, .field_textarea:hover, .field_textarea_small:hover
{
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ddd, #ebebeb);
	background: -ms-linear-gradient(top, #ddd, #ebebeb);
	background: -o-linear-gradient(top, #ddd, #ebebeb);
	background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ebebeb));
	background: -webkit-linear-gradient(top, #ddd, #ebebeb);
	background: linear-gradient(top, #ddd, #ebebeb);
}

/* @section 4.2 focus effect */

.field_select:focus, .field_text:focus, .field_textarea:focus, .field_textarea_small:focus
{
	-moz-box-shadow: 0 0 1px #4abdff;
	-webkit-box-shadow: 0 0 1px #4abdff;
	background: #f8f8f8;
	border-color: #78b2d1;
	box-shadow: 0 0 1px #4abdff;
}

/* @section 5. textarea dimensions */

.field_textarea
{
	min-height: 10em;
	width: 100%;
}

.field_textarea_small
{
	min-height: 5em;
}

/* @section 6. search elements */

.field_button_search
{
	color: #555;
	background: transparent;
	height: 2em;
	text-indent: -999em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	position: relative;
	width: 10%;
}

.field_button_search:before
{
	content: 'j';
	font: 1.5em 'icon default';
	position: absolute;
	right: 0;
	text-indent: 0;
	top: 0;
}

.field_search
{
	background: none;
	color: #777;
	font: 1.25em/2em 'pt sans narrow', 'trebuchet ms', arial;
	height: 1.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	width: 90%;
}

/* @section 7. disabled and readonly */

.field_button.field_disabled, .field_button_large.field_disabled, .field_select.field_disabled, .field_text.field_disabled, .field_text.field_readonly, .field_textarea.field_disabled, .field_textarea.field_readonly, .field_textarea_small.field_disabled, .field_textarea_small.field_readonly
{
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #dadada, #e8e8e8);
	background: -ms-linear-gradient(top, #dadada, #e8e8e8);
	background: -o-linear-gradient(top, #dadada, #e8e8e8);
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e8e8e8));
	background: -webkit-linear-gradient(top, #dadada, #e8e8e8);
	background: linear-gradient(top, #dadada, #e8e8e8);
	border-color: #ababab;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
	color: #ababab;
	cursor: default;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

/* @section 8. form default */

.form_default li
{
	margin: 0.5em 0;
}

.form_default .label
{
	display: block;
}

/* @section 9. form search */

.form_search
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
	background: #e4e4e4;
	background: -moz-linear-gradient(top, #f9f9f9, #e5e5e5 50%, #ebebeb 50%, #e2e2e2);
	background: -ms-linear-gradient(top, #f9f9f9, #e5e5e5 50%, #ebebeb 50%, #e2e2e2);
	background: -o-linear-gradient(top, #f9f9f9, #e5e5e5 50%, #ebebeb 50%, #e2e2e2);
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), color-stop(#e5e5e5, 50%), color-stop(#ebebeb, 50%), to(#e2e2e2));
	background: -webkit-linear-gradient(top, #f9f9f9, #e5e5e5 50%, #ebebeb 50%, #e2e2e2);
	background: linear-gradient(top, #f9f9f9, #e5e5e5 50%, #ebebeb 50%, #e2e2e2);
	border: 1px solid #9e9e9e;
	border-radius: 0.25em;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
	padding: 0.5em 1em;
}

/* @section 10. space between elements */

.box_dialog_default .field_button, .box_notification .field_button, .form_default .field_button, .form_default .field_button_large
{
	margin-top: 1em;
}

.field_button + .field_button, .field_button_large + .field_button_large, .field_text + .field_button
{
	margin-left: 0.5em;
}