/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. bottom
 * 3. content
 * 4. footer
 * 5. header
 * 6. navibar
 * 7. sidebar
 * 8. website logo
 * 9. grid elements
 * 10. wrapper
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

body
{
	background: #dadada;
}

/* @section 2. bottom */

.bottom
{
	padding: 2em 0;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.bottom, .bottom a
{
	color: #999;
}

.bottom a:hover
{
	color: #555;
	text-decoration: underline;
}

/* @section 3. content */

.content
{
	margin-bottom: 3em;
	margin-top: 3em;
	min-height: 40em;
}

/* @section 4. footer */

.footer
{
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #cfcfcf;
	background: -moz-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -ms-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -o-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -webkit-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: linear-gradient(top, #cfcfcf, #b9b9b9);
	border: solid #a2a2a2;
	border-width: 1px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 5em;
	padding: 2.5em 0;
}

/* @section 5. header */

.header
{
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: #cfcfcf;
	background: -moz-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -ms-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -o-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -webkit-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: linear-gradient(top, #cfcfcf, #b9b9b9);
	border-bottom: 1px solid #a2a2a2;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 1.25em 0;
}

/* @section 6. navibar */

.navibar
{
	float: right;
}

/* @section 7. sidebar */

.sidebar
{
	margin-top: 3em;
}

/* @section 8. website logo */

.logo_website
{
	float: left;
	height: 5em;
}

.no_svg .logo_website
{
	display: none;
}

/* @section 9. grid elements */

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul, .line_space
{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.line, .line_space
{
	margin-bottom: 1rem;
	margin-top: 1rem;
}

/* @section 10. wrapper */

.wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}

.wrapper_body
{
	min-width: 70em;
}

.wrapper_table_default
{
	overflow: hidden;
}

.wrapper_table_default > .table_default
{
	width: 100%;
}