/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. bottom
 * 3. content
 * 4. footer
 * 5. header
 * 6. navibar
 * 7. sidebar
 * 8. website logo
 * 9. grid elements
 * 10. wrapper
 */

/* @section 1. tag styling */

body
{
	background: url('templates/default/images/noise.png') #e2e2e2;
}

/* @section 2. bottom */

.bottom
{
	padding: 2em 0;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.bottom, .bottom a
{
	color: #999;
}

.bottom a:hover
{
	color: #777;
	text-decoration: underline;
}

/* @section 3. content */

.content
{
	margin-top: 3em;
	min-height: 40em;
}

/* @section 4. footer */

.footer
{
	-moz-box-shadow: inset 0 1px #ebebeb, inset 0 -1px #ebebeb;
	-webkit-box-shadow: inset 0 1px #ebebeb, inset 0 -1px #ebebeb;
	background: #cfcfcf;
	background: -moz-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -ms-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -o-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#b9b9b9));
	background: -webkit-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: linear-gradient(top, #cfcfcf, #b9b9b9);
	border: solid #b9b9b9;
	border-width: 1px 0;
	box-shadow: inset 0 1px #ebebeb, inset 0 -1px #ebebeb;
	margin-top: 5em;
	padding: 2.5em 0;
}

/* @section 5. header */

.header
{
	-moz-box-shadow: inset 0 1px #c1c1c1, inset 0 -1px #c1c1c1, 0 0 3px #a9a9a9;
	-webkit-box-shadow: inset 0 1px #c1c1c1, inset 0 -1px #c1c1c1, 0 0 3px #a9a9a9;
	background: url('templates/default/images/noise.png') #aaa;
	background: url('templates/default/images/noise.png'), -moz-linear-gradient(top, #ccc, #8e8e8e);
	background: url('templates/default/images/noise.png'), -ms-linear-gradient(top, #ccc, #8e8e8e);
	background: url('templates/default/images/noise.png'), -o-linear-gradient(top, #ccc, #8e8e8e);
	background: url('templates/default/images/noise.png'), -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#8e8e8e));
	background: url('templates/default/images/noise.png'), -webkit-linear-gradient(top, #ccc, #8e8e8e);
	background: url('templates/default/images/noise.png'), linear-gradient(top, #ccc, #8e8e8e);
	border-bottom: 1px solid #919191;
	box-shadow: inset 0 1px #c1c1c1, inset 0 -1px #c1c1c1, 0 0 3px #a9a9a9;
	padding: 1.25em 0;
}

/* @section 6. navibar */

.navibar
{
	float: right;
}

/* @section 7. sidebar */

.sidebar
{
	margin-top: 3em;
}

/* @section 8. website logo */

.logo_website
{
	-moz-border-radius: 3em;
    -moz-box-shadow: inset 0 0 0 1px #303030, 0 0 0 1px #303030, 0 1px 0 1px #eee;
	-webkit-border-radius: 3em;
    -webkit-box-shadow: inset 0 0 0 1px #303030, 0 0 0 1px #303030, 0 1px 0 1px #eee;
	border-radius: 3em;
    box-shadow: inset 0 0 0 1px #303030, 0 0 0 1px #303030, 0 1px 0 1px #eee;
	float: left;
	height: 5em;
}

.no_svg .logo_website
{
	display: none;
}

/* @section 9. grid elements */

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul, .line_space
{
	margin-left: 10px;
	margin-right: 10px;
}

.line, .line_space
{
	margin-bottom: 20px;
	margin-top: 20px;
}

/* @section 10. wrapper */

.wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}

.wrapper_body
{
	min-width: 70em;
}

.wrapper_table_default
{
	overflow: hidden;
}

.wrapper_table_default > .table
{
	width: 100%;
}