/**
 * @tableofcontents
 *
 * 1. icon flag
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. icon flag */

.icon_flag
{
	background: #3db1f1;
	background: linear-gradient(#00a2f8, #0090db);
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	font: bold 0.625em/3em arial;
	display: inline-block;
	text-align: center;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	text-transform: uppercase;
	width: 5em;
}