/**
 * @tableofcontents
 *
 * 1. icon flag
 */

/* @section 1. icon flag */

.icon_flag
{
	-moz-box-shadow: 0 0 3px #999;
	-webkit-box-shadow: 0 0 3px #999;
	background: #33acee;
	box-shadow: 0 0 3px #999;
	color: #fff;
	font: bold 0.75em/1.75em arial;
	display: inline-block;
	height: 1.25em;
	text-align: center;
	text-shadow: 0 1px #005da2;
	text-transform: uppercase;
	width: 2em;
}