/**
 * @tableofcontents
 *
 * 1. list breadcrumb
 * 2. list default
 * 3. list footer
 * 4. list header
 * 5. list pagination
 *    5.1 hover and active effect
 *    5.2 icons
 * 6. list sidebar
 * 7. list tab default
 *    7.1 javascript enabled
 * 8. list search result
 * 9. tooltip
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list breadcrumb */

.list_breadcrumb
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	border-radius: 0.25em;
	display: inline-block;
	font: 1em/2em 'pt sans narrow', 'trebuchet ms', arial;
	margin-bottom: 1em;
	padding: 0 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

.list_breadcrumb, .list_breadcrumb a
{
	color: #555;
}

.list_breadcrumb a:hover
{
	color: #444;
}

.list_breadcrumb li
{
	display: inline-block;
}

.list_breadcrumb .divider
{
	font: 0.75em 'icon default';
	margin: 0 0.5em;
}

/* @section 2. list default */

.list_default li
{
	line-height: 2.5em;
	list-style: inherit;
	list-style-position: inside;
}

.list_default ul
{
	margin-left: 2em;
}

/* @section 3. list footer */

.list_footer a
{
	color: #555;
}

.list_footer a:hover
{
	text-decoration: underline;
}

.list_footer li
{
	line-height: 1.75em;
}

.list_footer li:before
{
	color: #444;
	content: '˃';
	font: 1.5em 'icon default';
	margin-right: 0.25em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
	vertical-align: middle;
}

/* @section 4. list header */

.list_header
{
	float: right;
	font: 1.75em 'pt sans narrow', 'trebuchet ms', arial;
	margin-top: 0.5em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

.list_header, .list_header a
{
	color: #444;
}

.list_header li
{
	padding: 0.25em 0.5em;
}

.list_header li:hover, .list_header .item_touch
{
	background: #333;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}

.list_header li:hover, .list_header .item_touch, .list_header li:hover a, .list_header .item_touch a
{
	color: #fff;
}

/* parent items */

.list_header > li
{
	border-radius: 0.125em;
	float: left;
}

.list_header > li + li
{
	margin-left: 0.25em;
}

.list_header > li:before
{
	content: '˅';
	font: 0.875em 'icon default';
	margin-right: 0.5em;
	vertical-align: middle;
}

.list_header > li:hover, .list_header > .item_touch
{
	background: #444;
	background: -webkit-linear-gradient(#555, #333);
	background: linear-gradient(#555, #333);
	box-shadow: 0 0 3px #999;
}

/* children list */

.list_header_children
{
	border-top: 4px solid transparent;
	font-size: 0.75em;
}

.list_header_children li
{
	background: #444;
	-webkit-transition: background 0.4s ease;
	transition: background 0.4s ease;
}

/* rounded items */

.list_header_children li:first-child
{
	border-top-left-radius: 0.125em;
	border-top-right-radius: 0.125em;
}

.list_header_children li:last-child
{
	border-bottom-left-radius: 0.125em;
	border-bottom-right-radius: 0.125em;
}

/* left space */

.list_header_children ul
{
	border-left: 4px solid transparent;
}

/* @section 5. list pagination */

.list_pagination
{
	margin: 2em 0;
	text-align: center;
}

.list_pagination li
{
	display: inline-block;
	margin: 0 0.25em;
}

.list_pagination a, .list_pagination span
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	border: 1px solid #999;
	border-radius: 0.25em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	color: #555;
	font: bold 1em arial;
	padding: 0.5em 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

/* @section 5.1 hover and active effect */

.list_pagination a:hover, .list_pagination a:active
{
	background: #33acee;
	background: -webkit-linear-gradient(#00a2f8, #0090db);
	background: linear-gradient(#00a2f8, #0090db);
	border-color: #005da2;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

.list_pagination a:active
{
	background: #0090db;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* @section 5.2 icons */

.list_pagination a:before, .list_pagination a:after
{
	font: 1em 'icon default';
	vertical-align: text-top;
}

/* first and previous */

.list_pagination .item_first a:before, .list_pagination .item_previous a:before
{
	margin-right: 0.5em;
}

.list_pagination .item_first a:before
{
	content: 'b';
}

.list_pagination .item_previous a:before
{
	content: 'a';
}

/* last and next*/

.list_pagination .item_last a:after, .list_pagination .item_next a:after
{
	margin-left: 0.5em;
}

.list_pagination .item_last a:after
{
	content: 'c';
}

.list_pagination .item_next a:after
{
	content: 'd';
}

/* @section 6. list sidebar */

.list_sidebar a:hover
{
	color: #0090db;
}

.list_sidebar li
{
	line-height: 1.75em;
}

.list_sidebar li:before
{
	color: #ccc;
	content: '˃';
	font: 1.5em 'icon default';
	margin: 0 0.375em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	vertical-align: middle;
}

/* children list */

.list_sidebar .list_children
{
	margin-left: 1em;
}

/* @section 7. list tab default */

.list_tab_default li
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	border-radius: 0.25em 0.25em 0 0;
	margin-right: 0.25em;
	vertical-align: bottom;
}

.list_tab_default a
{
	font: bold 1.25em/2em 'pt sans narrow', 'trebuchet ms', arial;
	padding: 0 1.25em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

/* @section 7.1 javascript enabled */

.js .list_tab_default .item_active
{
	background: #eee;
}

.js .list_tab_default .item_active a
{
	color: #444;
	line-height: 2.5em;
}

/* @section 8. list search result */

.list_search_result
{
	color: #999;
	font-size: 1.125em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.list_search_result .date_search_result
{
	font-size: 0.875em;
}

.list_search_result .item_search_result
{
	list-style: decimal-leading-zero;
	margin: 1em 0 1em 2em;
}

.list_search_result .link_search_result
{
	display: block;
	text-decoration: underline;
}

/* @section 9. tooltip */

.tooltip:after
{
	background: #0090db;
	background: -webkit-linear-gradient(#00a2f8, #0090db);
	background: linear-gradient(#00a2f8, #0090db);
	border-radius: 0.25em;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 0.875em/1.25em arial;
	left: 110%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	top: -0.625em;
	-webkit-transition: opacity 0.4s 0.4s ease;
	transition: opacity 0.4s 0.4s ease;
	padding: 0.75em;
}
