/**
 * @tableofcontents
 *
 * 1. several media
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. several media */

.image_default, .image_gallery, .player_default
{
	background: #eee;
	border-radius: 0.125em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.image_default, .player_default
{
	max-width: 98%;
	padding: 1%;
}

.image_gallery
{
	max-width: 94%;
	padding: 3%;
}