/**
 * @tableofcontents
 *
 * 1. image and player
 *    1.1 hover effect
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. image and player */

.image_default, .player_default
{
	-moz-border-radius: 0.125em;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 0.125em;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	background: #eee;
	border-radius: 0.125em;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	max-width: 98%;
	padding: 1%;
}

/* @section 1.1 hover effect */

.image_default:hover, .player_default:hover
{
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}