/**
 * @tableofcontents
 *
 * 1. print
 * 2. screen max 70em
 * 3. screen max 50em
 * 4. screen max 30em
 * 5. screen max 20em
 * 6. speed dail
 */

/* @section 1. print */

@media print
{
	.bottom, .footer, .header, .navibar, .sidebar
	{
		display: none;
	}
}

/* @section 2. screen max 70em */

@media screen and (max-width: 70em)
{
	.box_comment:before
	{
		display: none;
	}
}

/* @section 3. screen max 50em */

@media screen and (max-width: 50em)
{
	.content
	{
		min-height: 10em;
	}

	.content, .sidebar, .navibar
	{
		float: none;
	}

	.content, .header .box_first, .sidebar, .navibar, .wrapper
	{
		width: 100%;
	}

	.footer, .header .box_last, .list_pagination .item_first, .list_pagination .item_last
	{
		display: none;
	}

	.sidebar
	{
		font-size: 1.125em;
	}

	.wrapper_body
	{
		min-width: 0;
	}
}

/* @section 4. screen max 30em */

@media screen and (max-width: 30em)
{
	.header
	{
		font-size: 0.875em;
	}

	.list_pagination .item_previous, .list_pagination .item_next
	{
		display: none;
	}
}

/* @section 5. screen max 20em */

@media screen and (max-width: 20em)
{
	.logo_website
	{
		display: none;
	}

	.header
	{
		font-size: 0.75em;
	}
}

/* @section 6. speed dail */

@media screen and (view-mode: minimized)
{
	body
	{
		font-size: 0.5em;
	}
}