/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *    1.2 head and foot
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

.table_default td, .table_default th
{
	padding: 0.75em;
}

/* @section 1.1 body */

.table_default tbody
{
	background: #ebebeb;
	border: solid #ebebeb;
	border-width: 0 1px;
}

.table_default tbody tr
{
	border: solid #d9d9d9;
	border-width: 1px 0;
}

.table_default tbody tr:hover
{
	background: #e1e1e1;
	background: rgba(0, 0, 0, 0.02);
}

/* @section 1.2 head and foot */

.table_default tfoot tr, .table_default thead tr
{
	background: #bdbdbd;
	background: -moz-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -ms-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -o-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -webkit-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: linear-gradient(top, #d1d1d1, #bdbdbd);
	color: #555;
	font: bold 1.25em 'pt sans narrow', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}