/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *    1.2 head and foot
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

/* @section 1.1 body */

.table_default tbody
{
	background: #eee;
	border: solid #eee;
	border-width: 0 1px;
}

.table_default tbody + tbody tr, .table_default tbody tr + tr
{
	border-top: 1px solid #d5d5d5;
}

.table_default tbody tr:hover
{
	background: #e1e1e1;
	background: rgba(0, 0, 0, 0.02);
}

.table_default tbody td
{
	padding: 1em;
}

/* @section 1.2 head and foot */

.table_default caption, .table_default thead tr, .table_default tfoot tr
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	color: #555;
	font: bold 1.25em 'pt sans narrow', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
}

.table_default caption, .table_default thead th, .table_default tfoot td
{
	padding: 0.5em 1em;
}
