/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *    1.2 head and foot
 */

/* @section 1. table default */

.table_default td, .table_default th
{
	padding: 0.75em;
}

/* @section 1.1 body */

.table_default tbody
{
	background: #e2e2e2;
	border: solid #ebebeb;
	border-width: 0 1px;
}

.table_default tbody tr
{
	border-bottom: 1px solid #ebebeb;
}

.table_default tbody tr:hover
{
	background: #ddd;
}

.table_default tbody tr:last-child
{
	border-bottom: 0;
}

/* @section 1.2 head and foot */

.table_default tfoot, .table_default thead
{
	border: 1px solid #9e9e9e;
}

.table_default tfoot tr, .table_default thead tr
{
	background: #c1c1c1;
	background: -moz-linear-gradient(top, #c1c1c1, #b6b6b6 50%, #b0b0b0 50%, #ababab);
	background: -ms-linear-gradient(top, #c1c1c1, #b6b6b6 50%, #b0b0b0 50%, #ababab);
	background: -o-linear-gradient(top, #c1c1c1, #b6b6b6 50%, #b0b0b0 50%, #ababab);
	background: -webkit-gradient(linear, left top, left bottom, from(#c1c1c1), color-stop(#b6b6b6, 50%), color-stop(#b0b0b0, 50%), to(#ababab));
	background: -webkit-linear-gradient(top, #c1c1c1, #b6b6b6 50%, #b0b0b0 50%, #ababab);
	background: linear-gradient(top, #c1c1c1, #b6b6b6 50%, #b0b0b0 50%, #ababab);
	color: #fff;
	font: bold 1.25em 'pt sans narrow', 'trebuchet ms', arial;
	text-shadow: 0 1px #777;
	text-transform: uppercase;
}