/**
 * @tableofcontents
 *
 * 1. font face
 * 2. tag styling
 * 3. description website
 * 4. several links
 * 5. title accordion default
 *    5.1 javascript enabled
 * 6. several titles
 * 7. title content
 * 8. title content sub
 * 9. title comment
 * 10. title dialog default
 * 11. title extra
 * 12. title footer
 * 13. title website
 *
 * @since 2.0.2
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon default';
	src: url('templates/default/fonts/icon.woff') format('woff'), url('templates/default/fonts/icon.ttf') format('truetype');
}

/* @section 2. tag styling */

a
{
	color: #555;
	text-decoration: none;
}

a:hover
{
	color: #444;
}

body
{
	color: #666;
	font: 0.875em 'open sans', 'trebuchet ms', arial;
}

p
{
	line-height: 2em;
}

pre
{
	font: 1em/2em monospace, arial;
	white-space: pre-wrap;
}

/* @section 3. description website */

.description_website
{
	color: #555;
	font: 1.5em 'pt sans narrow', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
	text-transform: lowercase;
}

/* @section 4. several links */

.link_default
{
	text-decoration: underline;
}

.link_default:hover
{
	color: #0090db;
}

.link_read_more
{
	display: inline-block;
	font-weight: bold;
	margin-top: 1em;
}

.link_read_more:after
{
	content: '...';
}

/* @section 5. title accordion default */

.title_accordion_default
{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: #dcdcdc;
	background: -moz-linear-gradient(top, #e3e3e3, #d9d9d9);
	background: -ms-linear-gradient(top, #e3e3e3, #d9d9d9);
	background: -o-linear-gradient(top, #e3e3e3, #d9d9d9);
	background: -webkit-linear-gradient(top, #e3e3e3, #d9d9d9);
	background: linear-gradient(top, #e3e3e3, #d9d9d9);
	box-sizing: border-box;
	font: 1.5em/2em 'pt sans narrow', 'trebuchet ms', arial;
	text-indent: 1em;
	text-transform: uppercase;
	width: 100%;
}

.title_accordion_default, .title_accordion_default a
{
	color: #555;
}

/* @section 5.1 javascript enabled */

.js .title_accordion_default
{
	cursor: pointer;
}

.js .title_accordion_default.title_active
{
	cursor: default;
}

/* @section 6. several titles */

.js .title_accordion_default.title_active, .title_dialog_default
{
	background: #bdbdbd;
	background: -moz-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -ms-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -o-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: -webkit-linear-gradient(top, #d1d1d1, #bdbdbd);
	background: linear-gradient(top, #d1d1d1, #bdbdbd);
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.js .title_accordion_default.title_active, .js .title_accordion_default.title_active a, .title_dialog_default, .title_dialog_default a, .sidebar .title_extra, .sidebar .title_extra a
{
	color: #444;
}

/* @section 7. title content */

.title_content
{
	font: 2.5em 'pt sans narrow', 'trebuchet ms', arial;
	margin-bottom: 0.5em;
	margin-top: 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.title_content, .title_content a
{
	color: #555;
}

.title_content a:hover
{
	text-decoration: underline;
}

/* @section 8. title content sub */

.title_content_sub
{
	font: 2em 'pt sans narrow', 'trebuchet ms', arial;
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.6);
}

.title_content_sub, .title_content_sub a
{
	color: #3197df;
}

/* @section 9. title comment */

.title_comment
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	background: #d9d9d9;
	background: -moz-linear-gradient(top, #d9d9d9, #cfcfcf);
	background: -ms-linear-gradient(top, #d9d9d9, #cfcfcf);
	background: -o-linear-gradient(top, #d9d9d9, #cfcfcf);
	background: -webkit-linear-gradient(top, #d9d9d9, #cfcfcf);
	background: linear-gradient(top, #d9d9d9, #cfcfcf);
	border-radius: 0.25em;
	display: inline-block;
	font: bold 1em/2.75em arial;
	margin-bottom: 2em;
	margin-top: 2em;
	min-width: 10%;
	padding: 0 0.5em;
	text-align: center;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.title_comment, .title_comment a
{
	color: #777;
}

/* @section 10. title dialog default */

.title_dialog_default
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	border-color: #8c8c8c;
	font: 1.25em/2em 'pt sans narrow', 'trebuchet ms', arial;
	padding: 0 1em;
}

/* @section 11. title extra */

.sidebar .title_extra
{
	-moz-border-radius: 0.125em 0.125em 0 0;
	-webkit-border-radius: 0.125em 0.125em 0 0;
	background: #b9b9b9;
	background: -moz-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -ms-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -o-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: -webkit-linear-gradient(top, #cfcfcf, #b9b9b9);
	background: linear-gradient(top, #cfcfcf, #b9b9b9);
	border: 1px solid #a2a2a2;
	border-radius: 0.125em 0.125em 0 0;
	font: 1.5em/1.75em 'pt sans narrow', 'trebuchet ms', arial;
	margin-top: 1.5em;
	padding: 0 0.75em;
}

/* @section 12. title footer */

.title_footer
{
	font: 1.75em 'pt sans narrow', 'trebuchet ms', arial;
	margin-bottom: 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}

.title_footer, .title_footer a
{
	color: #444;
}

/* @section 13. title website */

.title_website
{
	font: bold 3.75em/1em 'pt sans narrow', 'trebuchet ms', arial;
	text-shadow: 0 1px rgba(255, 255, 255, 0.4);
}