/**
 * @tableofcontents
 *
 * 1. install
 * 2. query
 *    2.1 small min
 *    2.2 large min
 */

/** @section 1. install */

.rs-body-install
{
	background: var(--rs-color-primary);
	font: 1em var(--rs-font-primary);
}

.rs-wrapper-install
{
	margin: 2em 5% 5%;
	width: 90%;
}

.rs-content-install
{
	background: gray(100);
	border-radius: 0.125em;
	padding: 1.5em;
}

.rs-title-install
{
	color: gray(80);
	font-size: 3.25em;
	font-weight: 300;
	line-height: 1em;
	margin-bottom: 0.375em;
	text-align: center;
	text-transform: uppercase;
}

/** @section 2. query */

/** @section 2.1 small min */

@media (--media-small-min)
{
	.rs-title-install
	{
		font-size: 4.25em;

		&:before
		{
			background: var(--rs-url-branding) no-repeat center/ 55%, linear-gradient(to top, gray(90), gray(100));
			border-radius: 0.05em;
			content: '';
			display: inline-block;
			height: 1em;
			margin-bottom: -0.125em;
			margin-right: 0.25em;
			width: 1em;
		}
	}
}

/** @section 2.2 large min */

@media (--media-medium-min)
{
	.rs-wrapper-install
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 50em;
	}
}
