/**
 * @tableofcontents
 *
 * 1. install
 * 2. query
 *    2.1 small min
 *    2.2 large min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. install */

.rs-install-body
{
	background: var(--rs-color-tertiary);
	font: 1em var(--rs-font-primary);
}

.rs-install-wrapper
{
	margin: 2em 5% 5%;
	width: 90%;
}

.rs-install-content
{
	background: gray(255);
	border-radius: 0.125em;
	padding: 1.5em;
}

.rs-install-title
{
	color: gray(200);
	font-size: 4em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0.75em;
	text-align: center;
	text-transform: uppercase;
}

/* @section 2. query */

/* @section 2.1 small min */

@media (--media-small-min)
{
	.rs-install-title
	{
		margin-bottom: 0.5em;

		&:before
		{
			background: var(--rs-url-branding) no-repeat center/ 55%, linear-gradient(to top, gray(230), gray(255));
			border-radius: 0.05em;
			content: '';
			display: inline-block;
			height: 1em;
			margin-bottom: -0.125em;
			margin-right: 0.25em;
			width: 1em;
		}
	}
}

/* @section 2.2 large min */

@media (--media-medium-min)
{
	.rs-install-wrapper
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 50em;
	}
}