/**
 * @tableofcontents
 *
 * 1. general
 * 2. query
 *    2.1 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body-install
{
	align-items: center;
	display: flex;
	justify-content: center;
}

.rs-main-install
{
	background: var(--rs-color-light);
	border-radius: 0.25em;
	box-sizing: border-box;
	margin: 5em 0;
	padding: 0 2em 2em;
	position: relative;
	width: 100%;
}

.rs-main-install:before
{
	background: url('templates/install/assets/images/redaxscript.svg') no-repeat left center / contain;
	bottom: 100%;
	content: 'Redaxscript';
	font-size: 2.25em;
	height: 1em;
	left: 2.125em;
	line-height: 0.875em;
	margin-bottom: 0.25em;
	padding-left: 1.25em;
	position: absolute;
	text-transform: uppercase;
	transform: translateX(-50%);
	width: 1em;
}

/* @section 2. query */

/* @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-body-install
	{
		background: var(--rs-color-tertiary);
	}

	.rs-main-install
	{
		width: 70%;
		box-shadow: var(--rs-style-shadow-inner), var(--rs-style-shadow-outer);
	}

	.rs-main-install:before
	{
		color: var(--rs-color-light);
	}
}