/**
 * @tableofcontents
 *
 * 1. general
 * 2. query
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-install-body
{
	background: var(--rs-color-tertiary);
}

.rs-install-wrapper
{
	margin: 2em 5% 5%;
	width: 90%;
}

.rs-install-content
{
	background: gray(255);
	border-radius: 0.125em;
	padding: 1em;
}

.rs-install-title
{
	color: gray(255);
	font-size: 2.5em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 0.75em;
	text-align: center;
	text-transform: uppercase;
}

/* @section 2. query */

@media (--media-small-min)
{
	.rs-install-title
	{
		font-size: 3.25em;
		text-indent: 0.375em;
	}

	.rs-install-title:before
	{
		content: url('templates/install/assets/images/redaxscript.svg');
		display: inline-block;
		margin-right: 0.125em;
		vertical-align: middle;
	}
}

@media (--media-large-min)
{
	.rs-install-wrapper
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 50em;
	}

	.rs-install-content
	{
		padding: 1.5em;
	}
}