/**
 * @tableofcontents
 *
 * 1. general
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-install-body
{
	background: var(--rs-color-tertiary);
	display: flex;
	justify-content: center;
}

.rs-install-main
{
	box-sizing: border-box;
	margin: 2em 1em;
	max-width: 50em;
	position: relative;
	width: 100%;
}

.rs-install-content
{
	background: var(--rs-color-light);
	border-radius: 0.125em;
	padding: 0.125em 1.5em 1.5em;
}

.rs-install-title
{
	color: var(--rs-color-light);
	font-size: 3.25em;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 1em;
	text-align: center;
	text-transform: uppercase;
}

.rs-install-title img
{
	margin-right: 0.375em;
	transform: scale(1.75);
	transform-origin: 50% 70% 0;
}