/**
 * @tableofcontents
 *
 * 1. table sorter
 *    1.1 move
 *    1.2 dragula
 */

/** @section 1. table sorter */

/** @section 1.1 move */

.rs-admin-col-move
{
	direction: rtl;
	padding: 1.25em 0;
	pointer-events: none;
	position: relative;
	text-indent: -999em;

	&:before
	{
		color: gray(70);
		font-size: 1.75em;
		position: absolute;
		right: 0.5em;
		text-indent: 0;
	}

	&:before
	{
		@extend %rs-icon-drag-vertical;
		top: 50%;
		transform: translateY(-50%);
	}

	&.rs-admin-is-active
	{
		&:before
		{
			color: gray(30);
			cursor: move;
			pointer-events: all;
		}

		&:hover:before
		{
			color: var(--rs-admin-color-primary);
		}
	}
}

/** @section 1.2 dragula */

.gu-mirror
{
	@extend %table-default;
	background: gray(90);
	box-shadow: inset 0 0 0 0.25em var(--rs-admin-color-primary);
	color: gray(30);
	display: table;
	font: 1.25rem var(--rs-admin-font-primary);
	position: fixed;

	& td
	{
		padding: 0.5em 1em;
	}
}

.gu-hide
{
	display: none;
}

.gu-transit
{
	background: gray(80);
}
