.rs-wrapper-unmask-password,
.rs-admin-wrapper-unmask-password
{
	position: relative;

	& .rs-button-unmask-password,
	& .rs-admin-button-unmask-password
	{
		bottom: 0;
		position: absolute;
		right: 0.5em;
		top: 0;
		width: 1.25em;
	}

	& .rs-button-unmask-password.rs-is-active,
	& .rs-admin-button-unmask-password.rs-admin-is-active
	{
		background: svg-load('@mdi/svg/svg/eye-off.svg', fill = gray(0 / 0.4)) center no-repeat;
	}

	& .rs-button-unmask-password:not(.rs-is-active),
	& .rs-admin-button-unmask-password:not(.rs-admin-is-active)
	{
		background: svg-load('@mdi/svg/svg/eye.svg', fill = gray(0 / 0.4)) center no-repeat;
	}

	& .rs-field-unmask-password,
	& .rs-admin-field-unmask-password
	{
		padding-right: 2em;
	}
}
