/**
 * @tableofcontents
 *
 * 1. ace
 */

/** @section 1. ace */

:root .ace_editor
{
	background: gray(95);
	border: 0.125rem solid gray(80);
	border-radius: 0.125em;
	font-size: 0.875em;
	min-height: 20em;
	transition: background 0.2s, border-color 0.2s;

	&.ace_focus
	{
		background: gray(100);
		border-color: gray(70);
	}
}
