/**
 * @tableofcontents
 *
 * 1. ace
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. ace */

:root .ace_editor
{
	background: gray(240);
	border: 0.125rem solid gray(215);
	border-radius: 0.125em;
	font-size: 0.875em;
	min-height: 20em;
	transition: background 0.2s, border-color 0.2s;

	&.ace_focus
	{
		background: gray(250);
		border-color: gray(185);
	}
}
