/**
 * @tableofcontents
 *
 * 1. ace
 */

/** @section 1. ace */

:root .ace_editor
{
	background: gray(95);
	border: 0.125rem solid gray(80);
	border-radius: 0.125em;
	font: 1rem/1.25em var(--rs-admin-font-code);
	min-height: 20em;
	transition: background 0.2s, border-color 0.2s;

	&:hover
	{
		border-color: gray(60);
	}

	&.ace_selecting
	{
		background: gray(100);
		border-color: var(--rs-admin-color-primary);
	}
}
