/* white bg style */

.title_extra, .header .list_dropdown > li.item_active > a, .list_pagination a, .list_pagination span, .title_accordion_default, .title_dialog_default
{
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #fff, #e2e2e2);
    background: -ms-linear-gradient(top, #fff, #e2e2e2);
    background: -o-linear-gradient(top, #fff, #e2e2e2);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
    background: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background: linear-gradient(top, #fff, #e2e2e2);
    text-shadow: 0 1px #fff;
}

/* breadcrumb and pagination */

.list_breadcrumb li, .list_pagination li
{
	display: inline-block;
}

/* menu */

.navigation_custom .list_dropdown > li
{
    display: inline-block;
    margin: 0 0.25em;
    text-transform: uppercase;
}

/* menu - header list menu area */

.header .list_dropdown > li
{
    font-size: 1.375em;
}

.header .list_dropdown > li > a
{
    color: #c6c6c6;
    padding: 0.25em 0.5em;
    text-shadow: 0 1px #000;
}

.header .list_dropdown > li > a:hover
{
    position: relative;
    text-decoration: none;
}

.header .list_dropdown > li > a:hover:after
{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #e2e2e2;
    background: -moz-linear-gradient(top, #fff, #e2e2e2);
    background: -ms-linear-gradient(top, #fff, #e2e2e2);
    background: -o-linear-gradient(top, #fff, #e2e2e2);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e2e2e2));
    background: -webkit-linear-gradient(top, #fff, #e2e2e2);
    background: linear-gradient(top, #fff, #e2e2e2);
    border-radius: 2px;
    bottom: -5px;
    content: "";
    display: block;
    height: 3px;
    left: 10%;
    position: absolute;
    width: 80%;
}

.header .list_dropdown > li.item_active > a
{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #474747;
}

.header .list_dropdown > li.item_active > a:hover
{
    color: #9609ac;
}

.header .list_dropdown > li.item_active > a:hover:after
{
    display: none;
}

/* menu  - header list dropdown area */

.header .list_dropdown .list_children
{
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 2px 5px 2px #000;
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 2px 5px 2px #000;
    background: #1f1f1f;
    background: url('templates/black_candy/images/noise.png'), -moz-linear-gradient(bottom, #1f1f1f, #111);
    background: url('templates/black_candy/images/noise.png'), -ms-linear-gradient(bottom, #1f1f1f, #111);
    background: url('templates/black_candy/images/noise.png'), -o-linear-gradient(bottom, #1f1f1f, #111);
    background: url('templates/black_candy/images/noise.png'), -webkit-gradient(linear, left bottom, left top, from(#1f1f1f), to(#111));
    background: url('templates/black_candy/images/noise.png'), -webkit-linear-gradient(bottom, #1f1f1f, #111);
    background: url('templates/black_candy/images/noise.png'), linear-gradient(bottom, #1f1f1f, #111);
    border-radius: 6px;
    box-shadow: 0 2px 5px 2px #000;
    font-size: 0.875em;
    padding: 0.5em;
}

.header .list_dropdown .list_children li
{
    border-top: 2px solid #000;
    margin-top: 0.5em;
    padding-top: 0.5em;
}

.header .list_dropdown .list_children li:first-child
{
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}

/* menu - footer list menu area */

.footer .list_dropdown a
{
    color: #777;
    font-size: 1.25em;
    margin: 0 1em;
}

/* default list */

.list_default li
{
    margin-left: 20px;
}

ol.list_default li
{
    list-style: decimal;
}

ul.list_default li
{
    list-style: disc;
}

ul.list_default li > ul li,
ol.list_default li > ul li
{
    list-style: circle;
}

/* search list */

.list_search_result
{
	font-size: 1.125em;
}

.list_search_result .date_search_result
{
	font-size: 0.875em;
}

.list_search_result .item_search_result
{
	list-style: decimal-leading-zero;
	margin: 1em 0 1em 2em;
}

.list_search_result .link_search_result
{
	display: block;
	text-decoration: underline;
}

/* pagination list */

.list_pagination
{
	color: #474747;
	margin: 2em 0;
	text-align: center;
}

.list_pagination li
{
	display: inline-block;
	margin: 0 0.25em;
}

.list_pagination a, .list_pagination span
{
	-moz-border-radius: 0.25em;
	-webkit-border-radius: 0.25em;
	border-radius: 0.25em;
	color: #474747;
	padding: 0.5em 1em;
}

.list_pagination a:hover
{
	color: #9609ac;
}

/* default tab */

.list_tab_default
{
	margin-bottom: -1px;
}

.list_tab_default li
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	border: 1px solid #2c2c2c;
	border-radius: 0.25em 0.25em 0 0;
	margin-right: 1px;
	vertical-align: bottom;
}

.list_tab_default a
{
	color: #7a7a7a;
	padding: 0 1em;
	text-transform: uppercase;
}

.list_tab_default + .box_tab_default
{
	-moz-border-top-left-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
}

/* javascript enabled */

.js .list_tab_default .item_active
{
	background: #000;
    border-bottom-color: #000;
    font-size: 1.125em;
    line-height: 2em;
}

.js .list_tab_default .item_active a
{
	color:#ababab;
	cursor: default;
	line-height: 1.5em;
	text-shadow: none;
}

/* ##### CUSTOM ##### */

/* gallery */

.box_content .list_gallery
{
    text-align: center;
}

.box_content .list_gallery li
{
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}

.box_content .list_gallery a
{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ccc;
    border: 4px solid #ccc;
    border-radius: 6px;
    display: block;
    float: none;
    height: 200px;
    margin: 4px;
    overflow: hidden;
    width: 180px;
}

.box_content .list_gallery img
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    float: none;
    margin: 0 auto;
}