/* default table */

.table_default
{
	width: 100%;
}

.table_default th, .table_default td
{
	padding: 0.25em 0.5em;
}

.table_default th, .table_default tfoot td
{
	background: #D6D548;
	background: -moz-linear-gradient(top, #D6D548, #92901B);
	background: -ms-linear-gradient(top, #D6D548, #92901B);
	background: -o-linear-gradient(top, #D6D548, #92901B);
	background: -webkit-gradient(linear, left top, left bottom, from(#D6D548), to(#92901B));
	background: -webkit-linear-gradient(top, #D6D548, #92901B);
	background: linear-gradient(top, #D6D548, #92901B);
	border: 2px solid #000;
	color: #000;
	line-height: 1.5em;
	text-transform: uppercase;
	vertical-align: middle;
}

.table_default th.column_first, .table_default tfoot td.column_first
{
	background: transparent;
	border-color: transparent #000000 #1A1A1A transparent;
	color: #fff;
}

.table_default td
{
	background: transparent;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.075));
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.075));
	background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.075));
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(rgba(255, 255, 255, 0.075)));
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.075));
	background: linear-gradient(top, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.075));
	border: 2px solid #000;
}

.table_default td.column_first
{
	background: transparent;
	border-color: transparent #000000 #1A1A1A transparent;
	color: #555;
}

.table_default tfoot td.column_first
{
	border-bottom: none;
}