/**
 * @tableofcontents
 *
 * 1. button default and button search
 * 2. several fields
 * 3. textarea
 * 4. search elements
 * 5. disabled and readonly
 * 6. form default
 * 7. form search
 * 8. space between elements
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button default and button search */

.button_default, .button_search
{
	background: #e5e5e5;
	color: #666;
	cursor: pointer;
	display: inline-block;
	font: 1em/2.625em monda, arial;
	padding: 0 0.75em;
	text-align: center;
}

.button_default.button_large
{
	font-size: 1.25em;
}

/* @section 2. several fields */

.field_select, .field_text, .field_textarea.field_small
{
	width: 30%;
}

.dialog .field_text
{
	width: 100%;
}

.field_search, .field_select, .field_text, .field_textarea
{
	background: #f5f5f5;
	color: #666;
	font: 1em monda, arial;
	padding: 0.5em;
}

/* @section 3. textarea */

.field_textarea
{
	min-height: 10em;
	resize: vertical;
	width: 100%;
}

.field_textarea.field_small
{
	min-height: 5em;
}

/* @section 4. search elements */

.button_search
{
	width: 30%;
}

.field_search
{
	margin-right: 3%;
	width: 67%;
}

/* @section 5. disabled and readonly */

.button_default[disabled], .field_select[disabled], .field_text[disabled], .field_text[readonly], .field_textarea[disabled], .field_textarea[readonly]
{
	cursor: default;
	opacity: 0.8;
}

/* @section 6. form default */

.form_default li
{
	margin: 0.5em 0;
}

.form_default .label
{
	font-size: 0.875em;
	display: block;
}

.form_default .label_message:after
{
	content: ' ' attr(data-message);
}

/* @section 7. form search */

.form_search
{
	margin: 1em 0;
}

/* @section 8. space between elements */

.box_dialog_default .button_default, .box_notification .button_default, .form_default .button_default
{
	margin-top: 1em;
}