/* header and footer */

.header, .footer
{
	margin-top: 4em;
}

/* grid elements */

.line_space
{
	margin-bottom: 20px;
	margin-top: 20px;
}

.grid_space > a, .grid_space > blockquote, .grid_space > button, .grid_space > div, .grid_space > dl, .grid_space > fieldset, .grid_space > form, .grid_space > h1, .grid_space > h2, .grid_space > h3, .grid_space > h4, .grid_space > h5, .grid_space > h6, .grid_space > hr, .grid_space > img, .grid_space > ol, .grid_space > p, .grid_space > table, .grid_space > ul
{
	margin-left: 10px;
	margin-right: 10px;
}

/* wrapper */

.wrapper
{
	margin: auto;
	width: 980px;
}

.wrapper_body
{
	min-width: 980px;
}