/**
 * @tableofcontents
 *
 * 1. list breadcrumb and list pagination
 * 2. list default
 * 3. tooltip
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list breadcrumb and list pagination */

.list_breadcrumb li, .list_pagination li
{
	display: inline-block;
}

/* @section 2. list default */

.list_default li
{
	list-style: inherit;
	margin: 1em 1.5em;
}

/* @section 3. tooltip */

.tooltip
{
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 0.125em;
	font: 0.875em/1.25em arial;
	left: 100%;
	margin-left: 1em;
	top: -0.625em;
	padding: 1em;
}

/* default */

.tooltip_default
{
	width: 20em;
}

/* alternative */

.tooltip_alternative
{
	white-space: nowrap;
}