/**
 * @tableofcontents
 *
 * 1. list breadcrumb and list pagination
 * 2. list default
 * 3. tooltip
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list breadcrumb and list pagination */

.list_breadcrumb li, .list_pagination li
{
	display: inline-block;
}

/* @section 2. list default */

.list_default li
{
	list-style: inherit;
	margin: 1em 1.5em;
}

/* @section 3. tooltip */

.tooltip:after
{
	background: #eee;
	left: 110%;
	top: -1em;
	padding: 1em;
}
