/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *    1.2 head and foot
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

.table_default caption, .table_default td, .table_default th
{
	padding: 0.75em;
}

/* @section 1.1 body */

.table_default tbody
{
	background: #f5f5f5;
}

/* @section 1.2 head and foot */

.table_default caption, .table_default thead tr, .table_default tfoot tr
{
	background: #e5e5e5;
	font-weight: bold;
}