/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. link default
 * 3. several titles
 * 4. title dialog default
 */

/* @section 1. tag styling */

a
{
	color: #888;
	text-decoration: none;
}

a:hover
{
	color: #333;
}

body
{
	color: #666;
	font: 0.875em arial;
}

p
{
	font: 1em/2em arial;
}

pre
{
	font: 1em/1.5em monospace, arial;
	white-space: pre-wrap;
}

/* @section 2. link default */

.link_default
{
	text-decoration: underline;
}

/* @section 3. several titles */

.title_content, .title_content_sub, .title_comment, .title_extra
{
	margin-bottom: 0.75em;
	margin-top: 1.5em;
}

/* @section 4. title dialog default */

.title_dialog_default
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: #eee;
	border-radius: 0.25em 0.25em 0 0;
	padding: 0.75em;
}