/**
 * @tableofcontents
 *
 * 1. icon flags
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. icon flags */

.icon_flag.language_de,
.icon_flag.language_en,
.icon_flag.language_es,
.icon_flag.language_ru,
.icon_flag.language_zh
{
	position: relative;
	text-indent: -999em;
}

.icon_flag.language_de:after,
.icon_flag.language_en:after,
.icon_flag.language_es:after,
.icon_flag.language_ru:after,
.icon_flag.language_zh:after
{
	bottom: 0;
	box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.1);
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.icon_flag.language_de
{
	background: url('modules/multi_language/images/de.svg');
}

.icon_flag.language_en
{
	background: url('modules/multi_language/images/en.svg');
}

.icon_flag.language_es
{
	background: url('modules/multi_language/images/es.svg');
}

.icon_flag.language_ru
{
	background: url('modules/multi_language/images/ru.svg');
}

.icon_flag.language_zh
{
	background: url('modules/multi_language/images/zh.svg');
}