/**
 * @tableofcontents
 *
 * 1. button
 * 2. query
 *    2.1 medium max
 */

/** @section 1. button */

%rs-button
{
	border-radius: 0.125em;
	box-shadow: 0 -0.125em 0 0 gray(0 / 0.2) inset, 0 0.125em 0.125em gray(0 / 0.2);
	box-sizing: border-box;
	display: inline-block;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;
	text-align: center;
	transition: transform 0.1s, box-shadow 0.1s;

	&:active
	{
		box-shadow: 0 -0.125em 0 0 gray(0 / 0.2) inset;
		transform: translateY(0.125em);
	}

	&[disabled]
	{
		opacity: 0.5;
	}
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	%rs-button
	{
		width: 100%;
	}
}