/**
 * @tableofcontents
 *
 * 1. icon
 */

/** @section 1. icon */

@font-face
{
	font-family: var(--rs-font-icon);
	src: url('../../../../templates/default/dist/fonts/icon.woff2') format('woff2'), url('../../../../templates/default/dist/fonts/icon.woff') format('woff');
}

%rs-icon-check-circle
{
	content: '\2714';
	font-family: var(--rs-font-icon);
}

%rs-icon-info
{
	content: '\69';
	font-family: var(--rs-font-icon);
}

%rs-icon-search
{
	content: '\2315';
	font-family: var(--rs-font-icon);
}

%rs-icon-error
{
	content: '\274c';
	font-family: var(--rs-font-icon);
}

%rs-icon-warning
{
	content: '\21';
	font-family: var(--rs-font-icon);
}

%rs-icon-chevron-left
{
	content: '\3008';
	font-family: var(--rs-font-icon);
}

%rs-icon-chevron-right
{
	content: '\3009';
	font-family: var(--rs-font-icon);
}

%rs-icon-first-page
{
	content: '\27ea';
	font-family: var(--rs-font-icon);
}

%rs-icon-last-page
{
	content: '\27eb';
	font-family: var(--rs-font-icon);
}

%rs-icon-add
{
	content: '\2b';
	font-family: var(--rs-font-icon);
}

%rs-icon-remove
{
	content: '\2d';
	font-family: var(--rs-font-icon);
}

%rs-icon-person
{
	content: '\26c4';
	font-family: var(--rs-font-icon);
}

