/**
 * @tableofcontents
 *
 * 1. icon
 */

/** @section 1. icon */

@font-face
{
	font-family: var(--rs-font-icon);
	src: url('../../../../templates/default/dist/fonts/icon.woff2') format('woff2');
}

%rs-icon-alert-circle-outline
{
	content: '\f101';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-check-circle-outline
{
	content: '\f102';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-chevron-left
{
	content: '\f103';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-chevron-right
{
	content: '\f104';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-close-circle-outline
{
	content: '\f105';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-help-circle-outline
{
	content: '\f106';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-magnify
{
	content: '\f107';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-minus
{
	content: '\f108';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-page-first
{
	content: '\f109';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-page-last
{
	content: '\f10a';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}

%rs-icon-plus
{
	content: '\f10b';
	font-family: var(--rs-font-icon);
	font-weight: 400;
}
