/**
 * @tableofcontents
 *
 * 1. variable
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. variable */

:root
{
    --color-light: #fff;
    --color-primary: #323e4c;
    --color-primary-sub: #3873b5;
    --color-secondary: #699b3c;

    --gradient-primary: linear-gradient(#457ecd, #3873b5);
    --gradient-secondary: linear-gradient(#699b3c, #659438);
}