/**
 * @tableofcontents
 *
 * 1. variable
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. variable */

:root
{
	--rs-color-light: #fff;
	--rs-color-dark: #000;
	--rs-color-special: #c77a46;

	--rs-color-tertiary: #323e4c;
	--rs-color-primary: #3873b5;
	--rs-color-secondary: #699b3c;
	--rs-color-primary-light: color(#3873b5 l(50%));
	--rs-color-secondary-light: color(#699b3c l(50%));

	--rs-gradient-primary: linear-gradient(var(--rs-color-primary-light), var(--rs-color-primary));
	--rs-gradient-secondary: linear-gradient(var(--rs-color-secondary-light), var(--rs-color-secondary));

	--rs-color-error: #da4f49;
	--rs-color-error-dark: color(#da4f49 b(60%) saturation(+50%));
	--rs-color-info: #49afcd;
	--rs-color-info-dark: color(#49afcd b(60%) saturation(+50%));
	--rs-color-success: #5bb75b;
	--rs-color-success-dark: color(#5bb75b b(60%) saturation(+50%));
	--rs-color-warning: #f3940e;
	--rs-color-warning-dark: color(#f3940e b(60%) saturation(+50%));
}