/**
 * @tableofcontents
 *
 * 1. accordion
 *    1.1 title
 *    1.2 box
 *    1.3 javascript enabled
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. accordion */

.rs-component-accordion
{
	font-size: 1.25rem;
}

/* @section 1.1 title */

.rs-title-accordion
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(255);
	font-size: 1em;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;
	transition: background 0.2s;
	width: 100%;
}

/* @section 1.2 box */

.rs-box-accordion
{
	background: gray(200);
	padding: 0.5em 1em;
}

.rs-set-accordion + .rs-set-accordion .rs-title-accordion:not(.rs-admin-title-active)
{
	border-top: 0.125rem solid gray(255);
}

/* @section 1.3 javascript enabled */

.rs-is-js
{
	& .rs-title-accordion
	{
		cursor: pointer;

		&:hover
		{
			background: var(--rs-color-primary);
		}

		&:after
		{
			@extend %rs-icon-add;
			float: right;
			font-size: 1.5rem;
		}

		&.rs-title-active
		{
			background: var(--rs-color-secondary);
			pointer-events: none;

			&:after
			{
				@extend %rs-icon-remove;
			}
		}
	}

	& .rs-box-accordion
	{
		display: none;
	}
}