/**
 * @tableofcontents
 *
 * 1. slide in down
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. slide in down */

@-webkit-keyframes rs-slide-in-down
{
	from
	{
		top: -5em;
	}

	to
	{
		top: 0;
	}
}

@keyframes rs-slide-in-down
{
	from
	{
		top: -5em;
	}

	to
	{
		top: 0;
	}
}