/**
 * @tableofcontents
 *
 * 1. several boxes
 * 2. box metadata
 * 3. box quote
 * 4. box accordion
 * 5. box tab
 * 6. box note
 * 7. box comment
 * 8. space between elements
 * 9. query
 *    9.2 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. several boxes */

.rs-box-code
{
	background: gray(200);
	border: 0.25em solid gray(170);
	display: block;
	font: 0.75em/1.25em var(--rs-font-code);
	padding: 1em;
	white-space: pre-wrap;
}

.rs-box-infoline
{
	font-size: 0.875em;
	font-style: italic;
	margin-bottom: 1em;
}

.rs-box-line
{
	background: var(--rs-color-tertiary);
	height: 0.125em;
	margin: 2em 0;
}

/* @section 2. box metadata */

.rs-box-metadata
{
	font-size: 0.75em;
	max-width: 70%;
	overflow: hidden;
	white-space: nowrap;
}

.rs-box-metadata a::selection,
.rs-box-metadata span::selection
{
	background: var(--rs-color-tertiary);
	color: gray(255);
}

/* @section 3. box quote */

.rs-box-quote
{
	font: italic 1.25em/1.75em var(--rs-font-primary);
}

/* @section 4. box accordion */

.rs-box-accordion
{
	background: gray(200);
	padding: 0.25em 1em;
}

.rs-set-accordion + .rs-set-accordion
{
	margin-top: 0.125rem;
}

/* @section 5. box tab */

.rs-box-tab
{
	background: gray(200);
	color: gray(0);
	padding: 0.25em 1em;
}

/* @section 6. box note */

.rs-box-note
{
	border-radius: 0.125em 0.125em;
	font-weight: bold;
	padding: 0.5em 0.5em 0.5em 2.75em;
	position: relative;
}

.rs-box-note:before
{
	font: 1.5em/1.25em var(--rs-font-icon);
	left: 0.5em;
	position: absolute;
	top: 0.25em;
}

.rs-box-note a
{
	color: gray(0, 0.65);
	text-decoration: underline;
	transition: color 0.2s;
}

.rs-box-note a:hover
{
	color: gray(0);
}

/* @section 7. box comment */

.rs-box-comment
{
	margin-bottom: 3em;
}

/* @section 8. space between elements */

.rs-box-note + .rs-box-note,
.rs-box-note + .rs-title-note
{
	margin-top: 1em;
}

/* @section 9. query */

/* @section 9.2 medium min */

@media (--media-medium-min)
{
	.rs-box-metadata
	{
		float: left;
		font-size: 1em;
		max-width: 60%;
	}

	.rs-box-navigation
	{
		float: right;
	}

	.rs-box-quote
	{
		margin: 1em 1em 1em 3em;
		position: relative;
	}

	.rs-box-quote:before
	{
		content: '\201d';
		font: 7em/1em georgia;
		left: -0.5em;
		opacity: 0.15;
		position: absolute;
		top: -0.125em;
	}
}