/**
 * @tableofcontents
 *
 * 1. breadcrumb
 */

/** @section 1. breadcrumb */

.rs-list-breadcrumb
{
	background: var(--rs-color-primary);
	border-radius: 0.125em;
	color: gray(80);
	display: inline-block;
	font-size: 1.25em;
	font-weight: 500;
	padding: 0.5em 1em;

	& li
	{
		display: inline-block;
	}

	& .rs-item-divider
	{
		position: relative;
		text-indent: -999em;
		width: 1.5em;

		&:before
		{
			background: svg-load('@mdi/svg/svg/chevron-right.svg', fill = gray(80)) center no-repeat;
			bottom: 0.125em;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			text-indent: 0;
			top: 0;
		}
	}
}
