/**
 * @tableofcontents
 *
 * 1. button default
 * 2. button search
 * 3. button large and full
 * 4. space between elements
 * 5. disabled
 * 6. query
 *    6.1 medium max
 *    6.2 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button default */

.rs-button-default
{
	background: var(--rs-gradient-secondary);
	border-radius: 0.125em;
	box-shadow: var(--rs-style-shadow-inner), var(--rs-style-shadow-outer);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font: 1em/1.25em 'open sans condensed', arial, sans-serif;
	padding: 0.375em 2em;
	text-align: center;
	text-decoration: none;
}

.rs-button-default,
a.rs-button-default
{
	color: var(--rs-color-light);
	transition: transform 0.1s, box-shadow 0.1s;
}

.rs-button-default:hover
{
	background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1)), var(--rs-gradient-secondary);
}

.rs-button-default:active
{
	box-shadow: var(--rs-style-shadow-inner);
	transform: translateY(2px);
}

/* @section 2. button search */

.rs-button-search
{
	position: relative;
	text-indent: -999em;
	color: var(--rs-color-tertiary);
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	height: 2em;
	font-size: 1em;
	background: transparent;
	cursor: pointer;
	transition: color 0.2s;
}

.rs-button-search:hover
{
	color: var(--rs-color-dark);
}

.rs-button-search:after
{
	content: '\2315';
	font: 1.125em/1em 'icon default';
	left: 0;
	position: absolute;
	right: 0;
	text-indent: 0;
}

/* @section 3. button large and full */

.rs-button-large
{
	font-size: 1.5em;
	padding: 0.5em 1em;
}

.rs-button-full
{
	width: 100%;
}

/* @section 4. space between elements */

.rs-box-dialog-default .rs-button-default,
.rs-box-notification .rs-button-default,
.rs-form-default .rs-button-default
{
	margin-top: 1em;
}

/* @section 5. disabled */

.rs-button-default[disabled]
{
	opacity: 0.5;
	pointer-events: none;
}

/* @section 6. query */

/* @section 6.1 medium max */

@media (--media-medium-max)
{
	.rs-button-default
	{
		width: 100%;
	}
}

/* @section 6.2 medium min */

@media (--media-medium-min)
{
	.rs-button-default
	{
		display: inline-block;
		vertical-align: middle;
	}

	.rs-button-default + .rs-button-default
	{
		margin-left: 1em;
	}
}