/**
 * @tableofcontents
 *
 * 1. button default
 * 2. query
 *    2.1 medium max
 *    2.2 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button default */

.rs-button-default
{
	@extend %rs-button;
	background: var(--rs-color-secondary);
	color: gray(255);
	font-size: 0.875em;

	&:hover
	{
		background: var(--rs-color-secondary-light);
	}

	&[disabled]
	{
		opacity: 0.5;
		pointer-events: none;
	}

	&.rs-is-large
	{
		font-size: 1.125em;
	}

	&.rs-is-full
	{
		width: 100%;
	}
}

/* @section 2. query */

/* @section 2.1 medium max */

@media (--media-medium-max)
{
	.rs-button-default + .rs-button-default
	{
		margin-top: 1em;
	}
}

/* @section 2.2 medium min */

@media (--media-medium-min)
{
	.rs-button-default + .rs-button-default
	{
		margin-left: 1em;
	}
}