/**
 * @tableofcontents
 *
 * 1. button default
 * 2. button search
 * 3. button large and full
 * 4. space between elements
 * 5. disabled and reset
 * 6. query
 *    6.1 medium max
 *    6.2 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button default */

.rs-button-default
{
	background: var(--rs-gradient-secondary);
	border-radius: 0.125em;
	box-shadow: 0 -0.125em 0 0 gray(0, 0.2) inset, 0 0.125em 0.125em gray(0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font: bold 1em/1.25em var(--rs-font-primary);
	padding: 0.375em 2em;
	text-align: center;
	text-decoration: none;
}

.rs-button-default,
a.rs-button-default
{
	color: gray(255);
	transition: transform 0.1s, box-shadow 0.1s;
}

.rs-button-default:hover
{
	background: var(--rs-gradient-secondary-light);
}

.rs-button-default:active
{
	box-shadow: 0 -0.125em 0 0 gray(0, 0.2) inset;
	transform: translateY(2px);
}

/* @section 2. button search */

.rs-button-search
{
	background: transparent;
	color: var(--rs-color-tertiary);
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	height: 2em;
	position: relative;
	text-indent: -999em;
	transition: color 0.2s;
	vertical-align: middle;
	width: 20%;
}

.rs-button-search:hover
{
	color: gray(0);
}

.rs-button-search:after
{
	@extend %rs-icon-search;
	left: 0;
	position: absolute;
	right: 0;
	text-indent: 0;
}

/* @section 3. button large and full */

.rs-button-large
{
	font-size: 1.5em;
	padding: 0.5em 1em;
}

.rs-button-full
{
	width: 100%;
}

/* @section 4. space between elements */

.rs-form-default .rs-button-default,
.rs-box-messenger + .rs-button-messenger
{
	margin-top: 1em;
}

/* @section 5. disabled and reset */

.rs-button-default[disabled]
{
	opacity: 0.5;
	pointer-events: none;
}

.rs-button-reset,
.rs-button-messenger
{
	background: gray(200);
	color: gray(70);
}

.rs-button-reset:hover,
.rs-button-messenger:hover
{
	background: gray(180);
}

/* @section 6. query */

/* @section 6.1 medium max */

@media (--media-medium-max)
{
	.rs-button-default
	{
		width: 100%;
	}
}

/* @section 6.2 medium min */

@media (--media-medium-min)
{
	.rs-button-default
	{
		display: inline-block;
		vertical-align: middle;
	}

	.rs-button-default + .rs-button-default
	{
		margin-left: 1em;
	}
}