/**
 * @tableofcontents
 *
 * 1. content
 *    1.1 title
 *    1.2 box
 * 2. comment
 *    2.1 title
 *    2.2 box
 * 3. quote
 * 4. code
 * 5. more
 */

/** @section 1. content */

.rs-content
{
	word-wrap: break-word;
}

/** @section 1.1 title */

.rs-title-content,
.rs-title-content-sub
{
	font-weight: 500;
	margin-bottom: 0.5em;

	&:not(:first-child)
	{
		margin-top: 1em;
	}
}

.rs-title-content
{
	color: var(--rs-color-primary);
	font-size: 3em;
}

.rs-title-content-sub
{
	font-size: 1.5em;
}

/** @section 1.2 box */

.rs-box-content
{
	@extend %box-content;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.5em;

	& p:not([class])
	{
		margin-bottom: 1em;

		&:not(:first-child)
		{
			margin-top: 1em;
		}
	}
}

.rs-box-byline
{
	font-size: 1.125em;
	margin-top: 2em;

	& span + span:before
	{
		content: ' ';
	}
}

/** @section 2. comment */

/** @section 2.1 title */

.rs-title-comment
{
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;

	&:not(:first-child)
	{
		margin-top: 1em;
	}
}

/** @section 2.2 box */

.rs-box-comment
{
	font: italic 300 1.25rem/1.75em var(--rs-font-quote);
}

/** @section 3. quote */

@media (--media-medium-min)
{
	.rs-quote-default
	{
		margin-left: 3em;
		position: relative;

		&:before
		{
			color: gray(90);
			content: '\201d';
			font: 8.5em var(--rs-font-quote);
			left: -0.375em;
			position: absolute;
			top: 0;
		}
	}
}

/** @section 4. code */

.rs-code-default
{
	background: var(--rs-color-primary);
	color: gray(100);
	display: block;
	font: 1rem/1.25em var(--rs-font-code);
	padding: 1em;
	white-space: pre-wrap;

	& + .rs-code-default
	{
		margin-top: 1em;
	}
}

/** @section 5. more */

.rs-link-more
{
	@extend %rs-button;
	background: var(--rs-color-quaternary);
	color: gray(100);

	&:hover
	{
		background: var(--rs-color-quaternary-light);
	}
}

.rs-box-content .rs-link-more
{
	margin-top: 0.5em;
}

.rs-break-more
{
	border: 0.125rem dashed var(--rs-color-quaternary);
	margin: 2em 0;
}
