/**
 * @tableofcontents
 *
 * 1. dialog overlay default
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Joerg Steinhauer
 */

/* TODO: funktioniert noch nicht wegen translate3d(0px, 0px, 0px) auf body-tag (wird für menu gebraucht). nach lösung suchen */

/* @section 1. dialog overlay default */

.rs-dialog-overlay-default
{
    background: rgba(50, 62, 76, 0.2);
}

.rs-dialog-default,
.rs-dialog-overlay-default
{
    animation: fade 0.4s;
    border-radius: 0.25em;
}

.rs-dialog-default
{
    background: #323e4c;
    color: #fff;
    padding: 1em;
}