/**
 * @tableofcontents
 *
 * 1. dialog overlay default
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Joerg Steinhauer
 */

/* TODO: dialog doesn't work because of translate3d(0px, 0px, 0px) on body-tag (this is needed for menu functionality). please search for a solition */

/* @section 1. dialog overlay default */

.rs-dialog-overlay-default
{
	background: rgba(50, 62, 76, 0.2);
}

.rs-dialog-default,
.rs-dialog-overlay-default
{
	animation: rs-fade 0.4s;
	border-radius: 0.25em;
}

.rs-dialog-default
{
	background: var(--rs-color-tertiary);
	color: var(--rs-color-light);
	padding: 1em;
}
