/**
 * @tableofcontents
 *
 * 1. link dock admin
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dock admin */

@media (--media-medium-min)
{
	.rs-sidebar
	{
		& .rs-admin-text-dock
		{
			display: none;
		}

		& .rs-admin-box-dock
		{
			display: flex;
			justify-content: space-between;
		}

		& .rs-admin-link-dock
		{
			flex: 1 1 0;
		}
	}
}