/**
 * @tableofcontents
 *
 * 1. forms
 *    1.1 form default
 *    1.2 form search
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. forms */

/* @section 1.1 form default */

.rs-label-default
{
	display: block;
}

.rs-form-default li
{
	margin: 0.5em 0;
}

.rs-form-default a
{
	color: var(--color-primary);
}

.rs-form-default .rs-label-message:after
{
	content: ' ' attr(data-message);
}

/* @section 1.2 form search */

.rs-form-search
{
	background: var(--color-light);
	border-radius: 0.125em;
}