/**
 * @tableofcontents
 *
 * 1. several form elements
 * 2. button search
 *    2.1 button default, button custom
 *    2.2 button large
 *    2.3 button misc
 *    2.4 buttons active state
 * 3. several fields
 * 4. textarea
 * 5. disabled and readonly
 * 6. forms
 *    6.1 form default
 *       6.1.1 label
 *    6.2 form search
 * 8. space between elements
 * 9. query
 *    9.1 max width 50rem
 *    9.2 min width 50rem
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. forms */

/* @section 1.1 form default */

.rs-form-default li
{
	margin: 0.5em 0;
}

.rs-label-default
{
	display: block;
}

.rs-form-default .rs-label-message:after
{
	content: ' ' attr(data-message);
}

/* @section 1.2 form search */

.rs-form-search
{
	background: #fff;
	border-radius: 0.125em;
}