/**
 * @tableofcontents
 *
 * 1. several form elements
 * 2. button search
 *    2.1 button default, button custom
 *    2.2 button large
 *    2.3 button misc
 *    2.4 buttons active state
 * 3. several fields
 * 4. textarea
 * 5. disabled and readonly
 * 6. forms
 *    6.1 form default
 *       6.1.1 label
 *    6.2 form search
 * 8. space between elements
 * 9. sidebar form elements
 * 10. query
 *    10.1 max width 50rem
 *    10.2 min width 50rem
 *    10.3 min width 80rem
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. several form elements */

.rs-field-default,
.rs-field-select,
.rs-field-textarea.rs-field-small
{
	width: 30%;
}

.rs-dialog .rs-field-default
{
	width: 100%;
}

/*TODO: text-decoration on fields is just wrong - belongs to a button only collection
 mixing fields and buttons is a bad idea, even if they have they share similar styling - this is very confusing*/
.rs-field-default,
.rs-field-search,
.rs-field-select,
.rs-field-textarea,
.rs-button-default,
.rs-button-custom
{
	font: 300 1em/1.25em 'Open Sans Condensed', arial, sans-serif;
	border-radius: 0.125em;
	text-decoration: none;
	display: block;
	box-sizing: border-box;
	padding-bottom: 0.375em;
	padding-top: 0.375em;
}

/* @section 2. button search */

/*TODO: lot of definitions here seem to be outdated */
.rs-button-search
{
	position: relative;
	text-indent: -999em;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 20%;
	height: 2em;
	line-height: 1.25em;
	font-size: 1em;
	background: transparent;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.rs-button-search:hover
{
	color: #659438;
}

.rs-button-search:after
{
	content: '\2315';
	font: 1em/1em 'icon default';
	left: 0;
	position: absolute;
	right: 0;
	text-indent: 0;
}

/* @section 2.1 button default, button custom */

/*TODO: where is the button custom needed? */
.rs-button-default,
.rs-button-custom
{
	box-shadow: 0 -0.125em 0 0 rgba(0, 0, 0, 0.2) inset, 0 0.125em 0.125em rgba(0, 0, 0, 0.2);
	color: #fff;
	cursor: pointer;
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	-webkit-transition: transform 0.1s, box-shadow 0.1s;
	transition: transform 0.1s, box-shadow 0.1s;
}

.rs-button-default
{
	background: linear-gradient(#699b3c, #659438);
}

.rs-button-default:hover
{
	background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1)), linear-gradient(#699b3c, #659438);
}

.rs-button-custom
{
	background: linear-gradient(#457ecd, #3873b5);
}

.rs-button-custom:hover
{
	background-image: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.1)), linear-gradient(#457ECD, #3873B5);
}

/* @section 2.2 button large */

.rs-button-large
{
	font-size: 1.75em;
	padding: 0.5em 1em;
}

.rs-box-cta:first-child .rs-button-large
{
	display: block;
}

/* @section 2.3 button misc */

/*TODO: please remove support, donate and maby the custom buttons if not needed */
.rs-button-support:before
{
	content: '\2691';
	font: 1em/1em 'icon default';
}

.rs-button-donate:before
{
	content: '\2665';
	font: 1em/1em 'icon default';
}

/* @section 2.4 buttons active state */

.rs-button-default:active,
.rs-button-custom:active
{
	box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(2px);
	transform: translateY(2px);
}

/* @section 3. several fields */

/*TODO: don't use fixed height on field elements - textarea is never ever 2em only */
.rs-field-default,
.rs-field-select,
.rs-field-textarea,
.rs-field-search
{
	height: 2em;
	padding: 0 0.5em;
}

.rs-field-default,
.rs-field-select,
.rs-field-textarea
{
	border: 2px solid #9c9c9c;
	-webkit-transition: border 0.2s;
	transition: border 0.2s;
}

.rs-field-default:hover,
.rs-field-select:hover,
.rs-field-textarea:hover
{
	border-color: #000;
}

.rs-field-default:focus,
.rs-field-select:focus,
.rs-field-textarea:focus
{
	border-color: #3873B5;
}

.rs-field-search
{
	display: inline-block;
	vertical-align: middle;
	width: 80%;
}

/* @section 4. textarea */

.rs-field-textarea
{
	min-height: 10em;
	resize: vertical;
	width: 100%;
	padding: 0.5em;
}

.rs-field-textarea.rs-field-small
{
	min-height: 5em;
}


/* @section 5. disabled and readonly */

.rs-button-default[disabled],
.rs-button-custom[disabled],
.rs-field-default[disabled],
.rs-field-default[readonly],
.rs-field-select[disabled],
.rs-field-select[readonly],
.rs-field-textarea[disabled],
.rs-field-textarea[readonly]
{
	opacity: 0.5;
	pointer-events: none;
}

/* @section 6. forms */

/* @section 6.1 form default */

.rs-form-default li
{
	margin: 0.5em 0;
}

/* @section 6.1.1 label */

.rs-label-default
{
	display: block;
}

.rs-form-default .rs-label-message:after
{
	content: ' ' attr(data-message);
}

/* @section 6.2 form search */

.rs-form-search
{
	background: #fff;
	border-radius: 0.125em;
}

/* @section 8. space between elements */

.rs-box-dialog-default .rs-button-default,
.rs-box-notification .rs-button-default,
.rs-form-default .rs-button-default
{
	margin-top: 1em;
}

/* @section 9. sidebar form elements */

/*TODO: please use rs-field-search, rs-button-search etc. instead of the global naming */
.rs-sidebar .rs-field-default,
.rs-sidebar .rs-field-select,
.rs-sidebar .rs-field-textarea
{
	border-color: transparent;
	opacity: 0.8;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

/*TODO: please use a :not filter like rs-field-search:not(:focus) etc. for the opacity tweak */
.rs-sidebar .rs-field-default:hover,
.rs-sidebar .rs-field-select:hover,
.rs-sidebar .rs-field-textarea:hover,
.rs-sidebar .rs-field-default:focus,
.rs-sidebar .rs-field-select:focus,
.rs-sidebar .rs-field-textarea:focus
{
	opacity: 1;
}

/* @section 10. query */

/* @section 10.1 max width 50rem */

@media screen and (max-width: 49.999rem)
{
	.rs-field-default,
	.rs-field-select,
	.rs-field-textarea,
	.rs-button-default,
	.rs-button-custom
	{
		width: 100%;
	}
}

/* @section 10.2 min width 50rem */

@media screen and (min-width: 50rem)
{
	.rs-field-default,
	.rs-field-select,
	.rs-field-textarea,
	.rs-button-default,
	.rs-button-custom
	{
		display: inline-block;
		vertical-align: middle;
	}

	.rs-button-default + .rs-button-default
	{
		margin-left: 1em;
	}
}

/* @section 10.3 min width 80rem */

@media screen and (min-width: 80rem)
{
	.rs-box-cta:first-child .rs-button-large
	{
		margin: 1em auto 0;
		max-width: 50%;
	}
}