/**
 * @tableofcontents
 *
 * 1. header
 *    1.1 title
 *    1.2 box
 *    1.3 text
 * 2. query
 *    2.1 medium min
 */

/** @section 1. header */

.rs-header
{
	background: var(--rs-color-tertiary);
	padding: 1.375em 0;
}

/** @section 1.1 title */

.rs-title-header
{
	font-size: 2.125em;
	font-weight: 300;
	line-height: 1em;
	text-transform: uppercase;
}

/** @section 1.2 box */

.rs-box-header
{
	color: gray(80);
	max-width: 70%;
	overflow: hidden;
	white-space: nowrap;

	& a:hover
	{
		color: gray(100);
	}
}

/** @section 1.3 text */

.rs-text-header
{
	color: gray(65);
	font-size: 1.125em;
	font-weight: 400;
	margin-left: 0.125em;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-header .rs-wrapper
	{
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.rs-title-header
	{
		font-size: 3.5em;
	}

	.rs-box-header
	{
		font-size: 1.25em;
	}
}
