/**
 * @tableofcontents
 *
 * 1. general
 * 2. wrapper
 * 3. header
 * 4. sidebar
 * 5. footer
 * 6. query
 *    6.1 print
 *    6.2 medium max
 *    6.3 medium min
 *    6.4 large min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body
{
	background: gray(255);
	overflow-x: hidden;
}

.rs-main
{
	background: gray(255);
	margin-bottom: 4em;
	min-height: 20em;
}

.rs-page
{
	padding: 1em;
}

/* @section 2. wrapper */

.rs-wrapper
{
	margin-left: auto;
	margin-right: auto;
}

.rs-wrapper-table-default
{
	overflow: hidden;
}

.rs-wrapper-table-default > .rs-table-default
{
	width: 100%;
}

/* @section 3. header */

.rs-header
{
	background: var(--rs-color-tertiary);
	padding: 1.25rem;
}

/* @section 4. sidebar */

.rs-sidebar
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(200);
	padding: 1em;
}

/* @section 5. footer */

.rs-footer
{
	background: var(--rs-color-tertiary);
	bottom: 0;
	left: 0;
	min-height: 1.75em;
	padding: 1em;
	position: fixed;
	right: 0;
	z-index: -1;
}

/* @section 6. query */

/* @section 6.1 print */

@media print
{
	.rs-footer,
	.rs-header,
	.rs-sidebar
	{
		display: none;
	}
}

/* @section 6.2 medium max */

@media (--media-medium-max)
{
	.rs-wrapper-body
	{
		min-width: 0;
	}

	.rs-header
	{
		min-height: 2.5em;
	}

	.rs-content + .rs-sidebar
	{
		margin-top: 3em;
	}
}

/* @section 6.3 medium min */

@media (--media-medium-min)
{
	.rs-wrapper
	{
		width: 90%;
	}

	.rs-wrapper-body
	{
		min-width: 50rem;
	}

	.rs-page
	{
		padding: 2em;
	}

	.rs-content
	{
		float: left;
		width: 70%;
	}

	.rs-sidebar
	{
		float: right;
		margin-left: 2%;
		width: 28%;
	}
}

/* @section 6.4 large min */

@media (--media-large-min)
{
	.rs-wrapper
	{
		width: 78rem;
	}

	.rs-wrapper-body
	{
		min-width: 80rem;
	}

	.rs-content
	{
		width: 70%;
	}

	.rs-sidebar
	{
		width: 28%;
	}
}