/**
 * @tableofcontents
 *
 * 1. general
 * 2. wrapper
 * 3. header
 * 4. teaser
 * 5. sidebar
 * 6. footer
 * 7. query
 *    7.1 print
 *    7.2 max width 50rem
 *    7.3 min width 50rem
 *    7.4 min width 80rem
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-body
{
	background: #fff;
	overflow-x: hidden;
}

.rs-main
{
	background: #fff;
	margin-bottom: 5em;
	min-height: 20em;
	padding-bottom: 2em;
}

.rs-page
{
	margin-top: 2em;
}

/* @section 2. wrapper */

.rs-wrapper
{
	margin-left: auto;
	margin-right: auto;
}

.rs-wrapper-table-default
{
	overflow: hidden;
}

.rs-wrapper-table-default > .rs-table-default
{
	width: 100%;
}

/* @section 3. header */

.rs-header
{
	background: #323e4c;
	padding: 1.25rem;
}

/* @section 4. teaser */

.rs-teaser
{
	background: url('templates/default/assets/images/bg.jpg') no-repeat center top / cover;
	margin-bottom: 2em;
	max-height: 35em;
	padding: 5em 2em;
	padding: 10vw 4vw;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}

/* @section 5. sidebar */

.rs-sidebar
{
	background: #323e4c;
	box-sizing: border-box;
	color: #e8e8e8;
	padding: 1em;
}

/* @section 6. footer */

.rs-footer
{
	background: #323e4c;
	bottom: 0;
	min-height: 1.75em;
	left: 0;
	padding: 1em;
	position: fixed;
	right: 0;
	z-index: -1;
}

/* @section 7. query */

/* @section 7.1 print */

@media print
{
	.rs-footer,
	.rs-header,
	.rs-sidebar
	{
		display: none;
	}
}

/* @section 7.2 max width 50rem */

@media screen and (max-width: 49.999rem)
{
	.rs-wrapper-body
	{
		min-width: 0;
	}

	.rs-header
	{
		min-height: 2.5em;
	}

	.rs-page
	{
		padding: 1em;
	}

	.rs-content + .rs-sidebar
	{
		margin-top: 3em;
	}
}

/* @section 7.3 min width 50rem */

@media screen and (min-width: 50rem)
{
	.rs-wrapper
	{
		width: 90%;
	}

	.rs-wrapper-body
	{
		min-width: 50rem;
	}

	.rs-content
	{
		float: left;
		width: 70%;
	}

	.rs-sidebar
	{
		float: right;
		width: 28%;
		margin-left: 2%;
	}
}

/* @section 7.4 min width 80rem */

@media screen and (min-width: 80rem)
{
	.rs-wrapper
	{
		width: 78rem;
	}

	.rs-wrapper-body
	{
		min-width: 80rem;
	}

	.rs-content
	{
		width: 70%;
	}

	.rs-sidebar
	{
		width: 28%;
	}
}