/**
 * @tableofcontents
 *
 * 1. list default
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list default */

.rs-list-default > li
{
	& > ul
	{
		margin-left: 0.875em;
		margin-top: 0.25em;
	}

	& + li
	{
		margin-top: 0.25em;
	}
}

ol.rs-list-default > li
{
	list-style: inherit;
	list-style-position: inside;
}

ul.rs-list-default > li:before
{
	@extend %rs-icon-chevron-right;
	color: var(--rs-color-primary);
	margin-left: -0.25em;
	margin-right: 0.125em;
}
