/**
 * @tableofcontents
 *
 * 1. media
 */

/** @section 1. media */

.rs-image-default,
.rs-video-default
{
	border-radius: 0.25em;
	width: 100%;
}

.rs-image-default
{
	& rect
	{
		fill: gray(0 / 0.1);
	}

	& path
	{
		fill: gray(100);
	}
}
