/**
 * @tableofcontents
 *
 * 1. media
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Joerg Steinhauer
 */

/* @section 1. several media */

.rs-image-default, 
.rs-image-gallery, 
.rs-player-default
{
    background: #323e4c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.rs-image-default, 
.rs-player-default
{
    max-width: 98%;
    padding: 1%;
}

.rs-image-gallery
{
    max-width: 94%;
    padding: 3%;
}