/**
 * @tableofcontents
 *
 * 1. general
 * 2. query
 *    2.1 max width 50rem
 *       7.2.1 list header
 *       7.2.2 nav trigger - hamburger icon
 *       7.2.3 nav trigger - close icon
 *       7.2.4 navigation
 *       7.2.5 navigation dark layer
 *    7.3 min width 50rem
 *       7.3.2 nav trigger - hamburger icon
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-fn-label-navigation
{
	display: none;
}

/* @section 2. query */

/* @section 2.1 max width 50rem */

@media screen and (max-width: 49.999rem)
{

	/* @section 7.2.1 list header */

	/* @section 7.2.2 nav trigger - hamburger icon */

	/*TODO: you override way to much here - think about mobile first (min-width) to prevent the so called lavafluss
	 MOVE all the stuff into hamburger.css - split functionality from styling

	 suggested naming, old naming is confusing - let's stick to types so everyone understands what element are affected

	 rs-field-hamburger // trigger for the hamburger
	 rs-has-hamburger // has / contains the hamburger element
	 rs-label-hamburger // the hamburger element


	 */
	.rs-label-navigation
	{
		color: rgba(255, 255, 255, 0.7);
		cursor: pointer;
		float: right;
		font: 1rem arial;
		margin-top: 0.25em;
		padding-top: 1.5em;
		position: relative;
		vertical-align: top;
		z-index: 10;
		-ms-user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	/*TODO: same here as above, you run into override issue that is causing some headache*/
	.rs-label-navigation:after,
	.rs-label-navigation:before
	{
		background: #3873b5;
		bottom: 2.5em;
		content: '';
		height: 0.25em;
		left: 0;
		position: absolute;
		right: 0;
		outline: medium none;
		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
	}

	.rs-label-navigation:after
	{
		box-shadow: 0 -0.5em 0 #3873b5, 0 0.5em 0 #3873b5;
	}

	/* @section 7.2.3 nav trigger - close icon */

	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation .rs-label-navigation:after,
	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation .rs-label-navigation:before
	{
		box-shadow: none;
	}

	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation .rs-label-navigation:after
	{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation .rs-label-navigation:before
	{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	/* @section 7.2.4 navigation */

	.rs-fn-navigation
	{
		left: 0;
		bottom: 0;
		position: absolute;
		top: 0;
		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
		width: 75%;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		z-index: 10;
	}

	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation .rs-fn-navigation
	{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	/* @section 7.2.5 navigation dark layer */

	.rs-fn-label-navigation ~ .rs-fn-has-navigation:after {
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 100%;
		top: 0;
		-webkit-transition: background 0.2s;
		transition: background 0.2s;
		z-index: 1;
	}

	.rs-fn-label-navigation:checked ~ .rs-fn-has-navigation:after {
		background: rgba(0, 0, 0, 0.8);
		right: 0;
		z-index: 5;
	}
}

/* @section 7.3 min width 50rem */

@media screen and (min-width: 50rem) {

	/* @section 7.3.2 nav trigger - hamburger icon */

	.rs-label-navigation
	{
		display: none;
	}
}