/**
 * @tableofcontents
 *
 * 1. query
 *    1.1 medium max
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. query */

/* @section 1.1 medium max */

@media (--media-medium-max)
{
	.rs-fn-navigation
	{
		max-width: 25em;
		width: 75%;
	}

	/* toggle and status */

	.rs-fn-toggle-navigation
	{
		color: rgba(255, 255, 255, 0.7);
		font: 1rem arial;
		padding-top: 2.5em;
		position: absolute;
		right: 1.5rem;
		top: 1rem;
	}

	.rs-fn-toggle-navigation:after,
	.rs-fn-toggle-navigation:before
	{
		background: var(--rs-color-primary);
	}

	.rs-fn-status-navigation:checked ~ .rs-has-navigation .rs-fn-navigation
	{
		box-shadow: 10em 0 0 50em rgba(0, 0, 0, 0.8);
	}

	.rs-fn-status-navigation:checked ~ .rs-has-navigation .rs-fn-toggle-navigation
	{
		position: fixed;
	}

	.rs-fn-status-navigation:not(:checked) ~ .rs-has-navigation .rs-fn-toggle-navigation:after
	{
		box-shadow: 0 -0.5em 0 var(--rs-color-primary), 0 0.5em 0 var(--rs-color-primary);
	}
}