/**
 * @tableofcontents
 *
 * 1. note
 *    1.1 success
 *    1.2 warning
 *    1.3 error
 *    1.4 info
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. note */

.rs-box-note
{
	border-radius: 0.125em 0.125em;
	font-weight: bold;
	padding: 0.5em 0.5em 0.5em 3em;
	position: relative;

	&:before
	{
		left: 0.5em;
		position: absolute;
		top: 0.25em;
	}

	& a
	{
		text-decoration: underline;
	}

	& + .rs-box-note,
	& + .rs-title-note
	{
		margin-top: 1em;
	}
}

/* @section 1.1 success */

.rs-is-success
{
	color: var(--rs-color-success-dark);

	&.rs-box-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-success);
	}

	&.rs-box-note:before
	{
		content: '\2714';
	}
}

/* @section 1.2 warning */

.rs-is-warning
{
	color: var(--rs-color-warning-dark);

	&.rs-box-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-warning);
	}

	&.rs-box-note:before
	{
		content: '\21';
	}
}

/* @section 1.3 error */

.rs-is-error
{
	color: var(--rs-color-error-dark);

	&.rs-box-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-error);
	}

	&.rs-box-note:before
	{
		content: '\d7';
	}
}

/* @section 1.4 info */

.rs-is-info
{
	color: var(--rs-color-info-dark);

	&.rs-box-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-info);
	}

	&.rs-box-note:before
	{
		content: '\69';
	}
}