/**
 * @tableofcontents
 *
 * 1. note
 *    1.1 title
 *    1.2 box
 *    1.3 list
 *    1.4 button
 * 2. success
 * 3. info
 * 4. warning
 * 5. error
 */

/** @section 1. note */

/** @section 1.1 title */

.rs-title-note
{
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/** @section 1.2 box */

.rs-box-note
{
	border-radius: 0.125em;
	display: flex;
	font-size: 1.5em;
	line-height: 1.5em;
	padding: 0.5em;
	white-space: pre-wrap;

	&:before
	{
		align-self: center;
		font-size: 1.5em;
		margin-right: 0.5em;
	}

	& a
	{
		text-decoration: underline;
	}

	& + .rs-box-note,
	& + .rs-button-note
	{
		margin-top: 1em;
	}
}

/** @section 1.3 list */

.rs-list-note
{
	list-style-position: inside;
	list-style-type: decimal;
}

/** @section 1.4 button */

.rs-button-note
{
	@extend %rs-button;
	font-size: 1.25em;
}

/** @section 2. success */

.rs-is-success
{
	color: var(--rs-color-success-dark);

	&.rs-box-note,
	&.rs-button-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-success);
	}

	&.rs-field-note
	{
		border-color: var(--rs-color-success-dark);
	}

	&.rs-box-note:before
	{
		@extend %rs-icon-check-circle-outline;
	}
}

/** @section 3. info */

.rs-is-info
{
	color: var(--rs-color-info-dark);

	&.rs-box-note,
	&.rs-button-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-info);
	}

	&.rs-field-note
	{
		border-color: var(--rs-color-info-dark);
	}

	&.rs-box-note:before
	{
		@extend %rs-icon-help-circle-outline;
	}
}

/** @section 4. warning */

.rs-is-warning
{
	color: var(--rs-color-warning-dark);

	&.rs-box-note,
	&.rs-button-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-warning);
	}

	&.rs-field-note
	{
		border-color: var(--rs-color-warning-dark);
	}

	&.rs-box-note:before
	{
		@extend %rs-icon-alert-circle-outline;
	}
}

/** @section 5. error */

.rs-is-error
{
	color: var(--rs-color-error-dark);

	&.rs-box-note,
	&.rs-button-note,
	&.rs-field-note,
	&.rs-field-note option
	{
		background: var(--rs-color-error);
	}

	&.rs-field-note
	{
		border-color: var(--rs-color-error-dark);
	}

	&.rs-box-note:before
	{
		@extend %rs-icon-close-circle-outline;
	}
}
