/**
 * @tableofcontents
 *
 * 1. pagination
 * 2. query
 *    2.1 large max
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. pagination */

.rs-list-pagination
{
	font-weight: bold;
	text-align: center;

	& li
	{
		display: inline-block;
		margin: 0.25em;
	}

	& a,
	& span
	{
		border-radius: 0.125em;
		display: block;
		padding: 0.5em 1em;
	}

	& a
	{
		background: var(--rs-color-tertiary);
		color: gray(255);
		transition: background 0.2s;

		&:hover
		{
			background: var(--rs-color-primary);
		}
	}

	& span
	{
		background: gray(230);
		color: gray(70);
	}

	/* icons */

	& .rs-item-first,
	& .rs-item-previous,
	& .rs-item-next,
	& .rs-item-last
	{
		position: relative;
		text-indent: -999em;

		& a:before
		{
			font-size: 1.5em;
			left: 0;
			line-height: 1em;
			position: absolute;
			right: 0;
			text-indent: 0;
		}
	}

	& .rs-item-first a:before
	{
		@extend %rs-icon-first-page;
	}

	& .rs-item-previous a:before
	{
		@extend %rs-icon-chevron-left;
	}

	& .rs-item-next a:before
	{
		@extend %rs-icon-chevron-right;
	}

	& .rs-item-last a:before
	{
		@extend %rs-icon-last-page;
	}
}

/* @section 2. query */

/* @section 2.1 large max */

@media (--media-large-max)
{
	.rs-list-pagination .rs-item-number
	{
		display: none;
	}
}