/**
 * @tableofcontents
 *
 * 1. pagination
 * 2. query
 *    2.1 medium max
 */

/** @section 1. pagination */

.rs-list-pagination
{
	font-weight: 500;
	margin-top: 1em;
	text-align: center;

	& li
	{
		display: inline-block;
		margin: 0.25em;
	}

	& a,
	& span
	{
		border-radius: 0.125em;
		display: block;
		line-height: 2.5em;
		padding: 0 1em;
	}

	& a
	{
		background: var(--rs-color-tertiary);
		color: gray(100);
		transition: background 0.2s;

		&:hover
		{
			background: var(--rs-color-primary);
		}
	}

	& span
	{
		background: gray(90);
		color: gray(30);
	}

	/* icons */

	& .rs-item-first,
	& .rs-item-previous,
	& .rs-item-next,
	& .rs-item-last
	{
		position: relative;
		text-indent: -999em;

		& a:before
		{
			font-size: 1.5em;
			left: 0;
			position: absolute;
			right: 0;
			text-indent: 0;
		}
	}

	& .rs-item-first a:before
	{
		@extend %rs-icon-page-first;
	}

	& .rs-item-previous a:before
	{
		@extend %rs-icon-chevron-left;
	}

	& .rs-item-next a:before
	{
		@extend %rs-icon-chevron-right;
	}

	& .rs-item-last a:before
	{
		@extend %rs-icon-page-last;
	}
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	.rs-list-pagination .rs-item-number:not(.rs-item-active)
	{
		display: none;
	}
}