/**
 * @tableofcontents
 *
 * 1. result
 *    1.1 title
 *    1.2 list
 *    1.3 text
 */

/** @section 1. result */

/** @section 1.1 title */

.rs-title-result
{
	color: var(--rs-color-primary);
	font-size: 3em;
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/** @section 1.2 list */

.rs-list-result
{
	counter-reset: result;

	& li
	{
		padding-left: 3em;
		position: relative;

		&:before
		{
			background: gray(90);
			border-radius: 0.125em;
			content: counter(result, decimal);
			counter-increment: result;
			font-weight: 500;
			left: 0;
			line-height: 2em;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translateY(-50%);
			width: 2em;
		}

		& + li
		{
			margin-top: 1em;
		}
	}
}

/** @section 1.3 text */

.rs-link-result
{
	color: var(--rs-color-primary);
	font-size: 2em;
}

.rs-text-result-date
{
	display: block;
	font-size: 1.125em;
}
