/* @section 1. search */

/* @section 1.1 form */

.rs-form-search
{
	background: gray(255);
	border-radius: 0.125em;
	display: flex;
	font-size: 1.25em;
	overflow: hidden;

	/* @section 1.2 field */

	& .rs-field-search
	{
		box-sizing: border-box;
		display: inline-block;
		flex-grow: 1;
		font: 1em/2em var(--rs-font-primary);
		min-width: 0;
		padding: 0 0.5em;
		vertical-align: middle;
	}

	/* @section 1.3 button */

	& .rs-button-search
	{
		background: transparent;
		color: var(--rs-color-tertiary);
		cursor: pointer;
		display: inline-block;
		flex-basis: 2em;
		flex-shrink: 0;
		font-size: 1em;
		line-height: 2em;
		position: relative;
		text-indent: -999em;
		transition: color 0.2s;
		vertical-align: middle;

		&:hover
		{
			color: gray(0);
		}

		&:after
		{
			@extend %rs-icon-search;
			font-size: 1.25em;
			left: 0;
			position: absolute;
			right: 0;
			text-indent: 0;
		}
	}
}
