/**
 * @tableofcontents
 *
 * 1. search
 *    1.1 form
 *    1.2 field
 *    1.3 button
 */

/** @section 1. search */

/** @section 1.1 form */

.rs-form-search
{
	background: gray(100);
	display: flex;
	font-size: 1.5em;
	overflow: hidden;
}

/** @section 1.2 field */

.rs-field-search
{
	color: gray(20);
	flex-grow: 1;
	padding: 0.5em;
}

/** @section 1.3 button */

.rs-button-search
{
	color: var(--rs-color-primary);
	flex-basis: 2em;
	position: relative;
	text-indent: -999em;

	@svg-load rs-icon-search url('@mdi/svg/svg/magnify.svg')
	{
		fill: var(--rs-color-primary);
	}

	&:after
	{
		background: svg-inline(rs-icon-search) center no-repeat;
		bottom: 0;
		content: '';
		position: absolute;
		right: 0.5em;
		text-indent: 0;
		top: 0;
		transform: scale(1.125);
		width: 1em;
	}
}
