/* @todo wrap in sidebar class like .rs-sidebar .rs-title-extra */

.rs-sidebar .rs-box-extra
{
	font-size: 1.25em;
}

.rs-sidebar .rs-title-extra
{
	font-size: 1.625em;
	margin-top: 1em;
}

.rs-sidebar a
{
	color: gray(200);
}

.rs-sidebar
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(200);
	padding: 1em;
}

@media (--media-medium-min)
{
	.rs-sidebar
	{
		& .rs-admin-text-dock
		{
			display: none;
		}

		& .rs-admin-box-dock
		{
			display: flex;
			justify-content: space-between;
		}

		& .rs-admin-link-dock
		{
			flex: 1 1 0;
		}
	}
}