/**
 * @tableofcontents
 *
 * 1. sidebar
 */

/** @section 1. sidebar */

.rs-sidebar
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(200);
	padding: 1em;
	word-wrap: break-word;

	& .rs-title-extra
	{
		font-size: 1.625em;
		margin-bottom: 0.25em;
		margin-top: 1em;
	}

	& .rs-box-extra
	{
		font-size: 1.25em;
	}

	& .rs-list-children
	{
		display: none;
		padding-left: 0.5em;
	}

	& .rs-item-active
	{
		& > a
		{
			font-weight: bold;
		}

		& .rs-list-children
		{
			display: block;
		}
	}
}