/**
 * @tableofcontents
 *
 * 1. tab
 *    1.1 label
 *    1.2 box
 * 2. query
 *    2.1 medium min
 *    2.2 medium max
 */

/** @section 1. tab */

.rs-component-tab
{
	font-size: 1.25rem;
}

/** @section 1.1 label */

.rs-label-tab
{
	color: gray(100);
	display: flex;
	font-weight: 500;
	line-height: 2.5em;
	padding: 0 1em;
	text-transform: uppercase;
}

/** @section 1.2 box */

.rs-box-tab
{
	background: gray(90);
	padding: 1em;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-label-tab ~ .rs-label-tab
	{
		margin-left: 0.25rem;
	}

	.rs-fn-status-tab:checked + .rs-label-tab
	{
		background: gray(90);
		color: gray(30);
	}

	.rs-fn-status-tab:not(:checked) + .rs-label-tab
	{
		background: var(--rs-color-primary);
		cursor: pointer;
	}
}

/** @section 2.2 medium max */

@media (--media-medium-max)
{
	.rs-label-tab
	{
		position: relative;

		&:after
		{
			background-position: center;
			background-repeat: no-repeat;
			bottom: 0;
			content: '';
			position: absolute;
			right: 1em;
			top: 0;
			width: 1em;
		}

		& ~ .rs-label-tab
		{
			margin-top: 0.125rem;
		}
	}

	.rs-fn-status-tab:checked + .rs-label-tab
	{
		background: var(--rs-color-tertiary);

		&:after
		{
			background-image: svg-load('@mdi/svg/svg/minus.svg', fill = gray(100));
		}
	}

	.rs-fn-status-tab:not(:checked) + .rs-label-tab
	{
		background: var(--rs-color-primary);
		cursor: pointer;

		&:hover
		{
			background: var(--rs-color-secondary);
		}

		&:after
		{
			background-image: svg-load('@mdi/svg/svg/plus.svg', fill = gray(100));
		}
	}
}
