/**
 * @tableofcontents
 *
 * 1. box tab
 * 2. list tab
 * 3. set tab
 * 4. query
 *    4.1 max width 50em
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box tab */

.rs-box-tab
{
	overflow: hidden;
}

/* @section 2. list tab */

.rs-list-tab li
{
	display: inline-block;
}

.rs-is-js .rs-list-tab .rs-item-active
{
	pointer-events: none;
}

/* @section 3. set tab */

.rs-is-js .rs-set-tab
{
	display: none;
}

.rs-is-js .rs-set-tab.rs-set-active
{
	display: block;
}

/* @section 4. query */

/* @section 4.1 max width 50em */

@media (--media-medium-max)
{
	.rs-list-tab
	{
		display: none;
	}

	.rs-is-js .rs-set-tab
	{
		display: block;
	}
}

/* list */

.rs-list-tab > li
{
	vertical-align: bottom;
}

.rs-list-tab > li + li
{
	margin-left: 0.125rem;
}

.rs-list-tab a
{
	color: gray(255);
}

.rs-list-tab .rs-item-active
{
	background: gray(200);
	border-radius: 0.125em 0.125em 0 0;
	padding: 0.5em 1em;
}

.rs-list-tab .rs-item-active a
{
	color: gray(0);
}

.rs-list-tab > li
{
	background: var(--rs-color-tertiary);
	padding: 0.25em 1em;
	transition: background 0.2s, border 0.2s;
}

.rs-list-tab > li:hover
{
	background: var(--rs-color-primary);
	cursor: pointer;
}

/* box */

.rs-box-tab
{
	background: gray(200);
	color: gray(0);
	padding: 0.25em 1em;
}