/**
 * @tableofcontents
 *
 * 1. tab
 *    1.1 list
 *    1.2 set
 *    1.3 javascript enabled
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tab */

.rs-component-tab
{
	font-size: 1.25em;
}

/* @section 1.1 list */

.rs-list-tab
{
	display: none;

	& > li
	{
		background: var(--rs-color-tertiary);
		color: gray(255);
		cursor: pointer;
		display: inline-block;
		font-weight: bold;
		padding: 0.25em 1em;
		vertical-align: bottom;

		&:hover
		{
			background: var(--rs-color-primary);
		}

		&:not(.rs-item-active)
		{
			transition: background 0.2s;
		}
	}

	& > li + li
	{
		margin-left: 0.125rem;
	}

	& a
	{
		color: inherit;
	}

	& .rs-item-active
	{
		background: gray(200);
		border-radius: 0.125em 0.125em 0 0;
		color: gray(0);
		padding: 0.5em 1em;
		pointer-events: none;
	}
}

/* @section 1.2 set */

.rs-set-tab
{
	background: gray(200);
	color: gray(0);
	padding: 0.5em 1em;
}

@media (--media-medium-max)
{
	.rs-set-tab + .rs-set-tab
	{
		margin-top: 0.125rem;
	}
}

/* @section 1.3 javascript enabled */

@media (--media-medium-min)
{
	.rs-is-js
	{
		& .rs-set-tab:not(.rs-set-active)
		{
			display: none;
		}

		& .rs-list-tab
		{
			display: block;
		}
	}
}