/**
 * @tableofcontents
 *
 * 1. tab
 *    1.1 label
 *    1.2 box
 * 2. query
 *    2.1 medium min
 *    2.2 medium max
 */

/** @section 1. tab */

.rs-component-tab
{
	font-size: 1.25rem;
}

/** @section 1.1 label */

.rs-label-tab
{
	background: var(--rs-color-tertiary);
	color: gray(255);
	cursor: pointer;
	display: flex;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;
}

/** @section 1.2 box */

.rs-box-tab
{
	background: gray(200);
	padding: 0.5em 1em;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-label-tab
	{
		margin-right: 0.25em;
	}

	.rs-fn-status-tab:checked + .rs-label-tab
	{
		background: gray(200);
		color: gray(70);
	}
}

/** @section 2.2 medium max */

@media (--media-medium-max)
{
	.rs-label-tab
	{
		&:hover
		{
			background: var(--rs-color-primary);
		}

		&:after
		{
			@extend %rs-icon-plus;
			flex: 1;
			font-size: 1.5rem;
			text-align: right;
		}

		& ~ .rs-label-tab
		{
			border-top: 0.125rem solid gray(255);
		}
	}

	.rs-fn-status-tab:checked + .rs-label-tab
	{
		background: var(--rs-color-secondary);

		&:after
		{
			@extend %rs-icon-minus;
		}
	}
}
