/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1 body
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

.rs-table-default
{
	@extend %table-default;
}

.rs-table-default caption,
.rs-table-default td,
.rs-table-default th
{
	background: gray(200);
	padding: 0.5em 0.75em;
}

/* @section 1.1 body */

.rs-table-default th,
.rs-table-default tfoot td,
.rs-table-default caption
{
	background: var(--rs-color-tertiary);
	color: gray(255);
}

.rs-table-default tr
{
	border-bottom: 1px solid var(--rs-color-tertiary);
}