/**
 * @tableofcontents
 *
 * 1. teaser
 * 2. title teaser
 * 3. query
 *    3.1 medium
 *    3.2 large
 *    3.3 ultra
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. teaser */

.rs-component-teaser
{
	background: var(--rs-url-teaser-small) no-repeat center top / cover;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5em 0;
	padding: 10vw 0;
}

/* @section 2. title teaser */

.rs-title-teaser
{
	animation: fade-in 1s ease 0.5s forwards, move-down 1s ease 0.2s forwards;
	background: color(var(--rs-color-tertiary) a(80%));
	border-left: 0.25em solid var(--rs-color-quaternary);
	border-radius: 0 0.125em 0.125em 0;
	color: gray(255);
	display: inline-block;
	font-size: 2.25em;
	font-weight: 300;
	line-height: 1.25em;
	opacity: 0;
	padding: 0.375em 0.75em;
}

.rs-title-teaser::selection
{
	background: var(--rs-color-quaternary);
}

.rs-title-teaser strong
{
	font-weight: bold;
}

/* @section 3. query */

/* @section 3.1 medium */

@media (--media-medium-min)
{
	.rs-title-teaser
	{
		font-size: 2.75em;
		max-width: 80%;
	}

	.rs-title-teaser .rs-is-break:after
	{
		content: '';
		display: block;
	}
}

@media (--media-medium-min), (--media-retina)
{
	.rs-component-teaser
	{
		background-image: var(--rs-url-teaser-medium);
	}
}

/* @section 3.2 large */

@media (--media-large-min)
{
	.rs-title-teaser
	{
		font-size: 3.75em;
	}
}

@media (--media-xlarge-min)
{
	.rs-component-teaser
	{
		padding: 10em 0;
	}
}

@media (--media-large-min), (--media-medium-min) and (--media-retina)
{
	.rs-component-teaser
	{
		background-image: var(--rs-url-teaser-large);
	}
}

/* @section 3.3 ultra */

@media (--media-large-min) and (--media-retina)
{
	.rs-component-teaser
	{
		background-image: var(--rs-url-teaser-ultra);
	}
}