/**
 * @tableofcontents
 *
 * 1. tooltip
 * 2. query
 *    2.1 small min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tooltip */

.rs-tooltip:after
{
	background: var(--rs-color-tertiary);
	border-radius: 0.25em;
	box-shadow: 0 0 0.25em gray(0, 0.3);
	color: gray(255);
	font-size: 0.875em;
	left: 110%;
	line-height: 1.5em;
	padding: 0.5em 1em;
	top: -0.5em;
	transition: opacity 0.3s ease 0.1s;
}

/* @section 2. query */

/* @section 2.1 small min */

@media (--media-small-min)
{
	.rs-tooltip-alternative:after
	{
		white-space: nowrap;
	}

	.rs-tooltip-default:after
	{
		width: 20em;
	}
}