/**
 * @tableofcontents
 *
 * 1. tag styling
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

a
{
	color: inherit;
	text-decoration: none;
}

.rs-link-default
{
	border-bottom: 2px solid color(var(--rs-color-tertiary) a(30%));
	color: var(--rs-color-tertiary);
	transition: border-color 0.3s;

	&:hover
	{
		border-color: var(--rs-color-secondary);
	}
}