/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. links
 *    2.1 read more link
 * 3. title
 *    3.1 several titles
 *    3.2 title accordion
 *    3.3 title content
 *    3.4 title sub
 *    3.5 title website
 * 4. description website
 * 5. header
 * 6. content
 * 7. sidebar
 * 8. footer
 * 9. text
 * 10. query
 *    10.1 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

a
{
	text-decoration: none;
}

.rs-box-content a
{
	color: var(--rs-color-tertiary);
	transition: color 0.2s;
}

.rs-body
{
	color: var(--rs-color-tertiary);
	font: 1.25em/1.75em var(--rs-font-primary);
}

.rs-content strong
{
	font-weight: bold;
}

/* @section 2. links */

.rs-link-default
{
	border-bottom: 2px solid color(var(--rs-color-tertiary) a(30%));
	color: var(--rs-color-tertiary);
	transition: border-color 0.3s;
}

.rs-link-default:hover
{
	border-color: var(--rs-color-secondary);
}

.rs-link-result
{
	color: var(--rs-color-tertiary);
	font-size: 1.5em;
}

.rs-link-login
{
	float: right;
}

/* @section 2.1 read more link */

.rs-link-readmore
{
	background: var(--rs-gradient-quaternary);
	border-radius: 0.125em;
	box-shadow: 0 -0.125em 0 0 gray(0, 0.2) inset, 0 0.125em 0.125em gray(0, 0.2);
	box-sizing: border-box;
	color: gray(255);
	cursor: pointer;
	display: block;
	font: 1em/1.25em var(--rs-font-primary);
	padding: 0.5em;
	text-decoration: none;
	transition: transform 0.2s;
}

.rs-link-readmore:after
{
	content: '\3009';
	font: 0.75em/1em var(--rs-font-icon);
	margin-left: 0.375em;
}

.rs-link-readmore:hover
{
	background: var(--rs-gradient-quaternary-light);
}

.rs-link-readmore:active
{
	box-shadow: 0 -0.125em 0 0 gray(0, 0.2) inset;
	transform: translateY(2px);
}

/* @section 3. title */

/* @section 3.1 several titles */

.rs-title-comment
{
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 2.5em;
	position: relative;
}

.rs-title-comment:before
{
	content: '\25b6';
	font: 2em/1em var(--rs-font-icon);
	left: 0;
	position: absolute;
	top: -0.25em;
}

.rs-title-comment a
{
	color: var(--rs-color-tertiary);
}

/* @section 3.2 title accordion */

.rs-title-accordion
{
	background: var(--rs-color-tertiary);
	box-sizing: border-box;
	color: gray(255);
	padding: 0.25em 1em;
	position: relative;
	transition: background 0.2s;
	width: 100%;
}

.rs-title-accordion:hover
{
	background: var(--rs-color-primary);
}

.rs-title-accordion:after
{
	content: '+';
	font: 1.25rem/2.25rem var(--rs-font-icon);
	position: absolute;
	right: 1rem;
}

.rs-title-accordion:not(.rs-title-active)
{
	cursor: pointer;
}

.rs-title-accordion.rs-title-active
{
	background: var(--rs-color-secondary);
}

.rs-title-accordion.rs-title-active:after
{
	content: '-';
}

.rs-title-extra
{
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 1em;
}

/* @section 3.3 title content */

.rs-title-content
{
	border-left: 0.125em solid gray(0, 0.2);
	font-size: 2em;
	margin-bottom: 0.75em;
	margin-top: 1em;
	padding-left: 0.25em;
}

.rs-title-content a
{
	color: var(--rs-color-tertiary);
}

/* @section 3.4 title sub */

.rs-title-sub
{
	font-size: 1.25em;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/* @section 3.5 title website */

.rs-title-website
{
	font-size: 3.25em;
	font-weight: normal;
	line-height: 1em;
	position: relative;
	text-transform: uppercase;
}

.rs-header .rs-title-website a
{
	color: gray(200);
	transition: color 0.2s;
}

.rs-header .rs-title-website:hover a
{
	color: gray(255);
}

/* @section 4. text website */

.rs-text-website
{
	color: gray(170);
	display: none;
	font-weight: bold;
	margin-left: 0.125em;
}

/* @section 5. header */

.rs-header,
.rs-header a
{
	color: gray(255);
}

/* @section 6. content */

.rs-box-content p
{
	margin: 0.5em 0;
}

/* @section 7. sidebar */

.rs-sidebar a
{
	color: gray(255);
}

/* @section 8. footer */

.rs-footer,
.rs-footer a
{
	color: gray(200);
}

.rs-footer a:hover
{
	color: gray(255);
}

/* @section 9. text */

.rs-text-about
{
	float: left;
}

/* @section 10. query */

/* @section 10.1 medium min */

@media (--media-small-max)
{
	.rs-text-powered-by
	{
		display: none;
	}
}

@media (--media-medium-min)
{
	.rs-text-website
	{
		display: block;
	}

	.rs-link-readmore
	{
		display: inline-block;
		vertical-align: middle;
	}
}