/**
 * @tableofcontents
 *
 * 1. link default
 */

/** @section 1. link default */

.rs-link-default
{
	border-bottom: 0.125em solid gray(0, 0.2);
	color: var(--rs-color-tertiary);
	transition: border-color 0.1s;

	&:hover
	{
		border-color: var(--rs-color-secondary);
	}
}