/**
 * @tableofcontents
 *
 * 1. map
 * 2. map meta
 * 3. map branding
 */

/* @section 1. map */

.map
{
	height: 500px;
}

/* mobile */

.mobile .map
{
	height: 200px;
	margin: 0 auto;
	width: 90%;
}

/* @section 2. map meta */

.map_meta
{
	background: #fff;
	bottom: 0;
	color: #666;
	font: 1em georgia, arial;
	left: 0;
	padding: 1em 0;
	position: absolute;
	width: 100%;
	z-index: 1000;
}

/* desktop */

.desktop .map_meta
{
	display: none;
}

.desktop .map:hover .map_meta
{
	display: block;
}

/* @section 3. map branding */

.map_logo
{
	float: left;
	margin-left: 1em;
}

.map_terms
{
	float: right;
	margin-right: 1em;
}