/**
 * @tableofcontents
 *
 * 1. font face
 * 2. directory list
 * 3. icons
 *
 * @since 2.6.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon directory lister';
	src: url('modules/DirectoryLister/fonts/icon.woff') format('woff'), url('modules/DirectoryLister/fonts/icon.ttf') format('truetype');
}

/* @section 2. directory list */

.rs-link-directory-lister
{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.rs-text-directory-lister
{
	display: none;
	width: 15%;
}

.rs-text-directory-lister.rs-text-size[data-unit]:after
{
	content: ' ' attr(data-unit);
}

.rs-text-directory-lister:last-child
{
	text-align: right;
}

/* query */

@media screen and (min-width: 40em)
{
	.rs-link-directory-lister
	{
		margin-right: 5%;
		width: 65%;
	}

	.rs-link-directory-lister, .rs-text-directory-lister
	{
		display: inline-block;
		vertical-align: top;
	}
}

/* @section 3. icons */

.rs-link-directory-lister:before
{
	font: 1.125em/1.5em 'icon directory lister';
	margin-right: 0.5em;
	vertical-align: middle;
}

/* directory */

.rs-link-directory-lister.rs-directory:before
{
	content: '\e606';
}

.rs-link-directory-lister.rs-directory-parent:before
{
	content: '\e604';
}

/* file */

.rs-link-directory-lister.rs-file-blank:before
{
	content: '\e600';
}

.rs-link-directory-lister.rs-file-text:before
{
	content: '\e601';
}

.rs-link-directory-lister.rs-file-image:before
{
	content: '\e602';
}

.rs-link-directory-lister.rs-file-music:before
{
	content: '\e603';
}

.rs-link-directory-lister.rs-file-video:before
{
	content: '\e605';
}

.rs-link-directory-lister.rs-file-archive:before
{
	content: '\e607';
}