/**
 * @tableofcontents
 *
 * 1. font face
 * 2. directory list
 * 3. icons
 *
 * @since 2.6.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon directory lister';
	src: url('modules/DirectoryLister/fonts/icon.woff') format('woff'), url('modules/DirectoryLister/fonts/icon.ttf') format('truetype');
}

/* @section 2. directory list */

.list_directory_lister li
{
	margin: 0.5em 0;
}

.link_directory_lister
{
	display: inline-block;
	width: 80%;
}

.text_directory_lister
{
	display: inline-block;
	width: 10%;
}

.text_directory_lister.text_size:after
{
	content: ' ' attr(data-unit);
}

.text_directory_lister:last-child
{
	text-align: right;
}

/* @section 3. icons */

.link_directory_lister:before
{
	font: 1.25em/1.5em 'icon directory lister';
	margin-right: 0.5em;
	vertical-align: middle;
}

.link_directory_lister.file_blank:before
{
	content: '\e600';
}

.link_directory_lister.file_text:before
{
	content: '\e601';
}

.link_directory_lister.file_image:before
{
	content: '\e602';
}

.link_directory_lister.file_music:before
{
	content: '\e603';
}

.link_directory_lister.file_video:before
{
	content: '\e605';
}

.link_directory_lister.directory_closed:before
{
	content: '\e606';
}

.link_directory_lister.directory_open:before
{
	content: '\e607';
}