/**
 * @tableofcontents
 *
 * 1. debugger
 *    1.1 section
 *    1.2 title
 *    1.3 list
 *    1.4 query
 *      1.4.1 large min
 */

/** @section 1. debugger */

/** @section 1.1 section */

.rs-section-debugger
{
	background: gray(30);
	color: gray(185);
	font: 0.875rem var(--rs-admin-font-code);

	& .rs-box-debugger
	{
		padding: 2em;
	}
}

/** @section 1.2 title */

.rs-title-debugger
{
	font-size: 1.25em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

/** @section 1.3 list */

.rs-list-debugger
{
	line-height: 2em;

	& li
	{
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

/** @section 1.4 query */

/** @section 1.4.1 large min */

@media (--media-large-min)
{
	.rs-section-debugger
	{
		display: flex;
	}
}