/**
 * @tableofcontents
 *
 * 1. gallery
 */

/** @section 1. gallery */

.rs-list-gallery
{
	display: flex;
	flex-wrap: wrap;

	& li
	{
		margin-bottom: 0.25em;
	}

	& img
	{
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}

/** @section 1.1 query */

/** @section 1.1.1 small min */

@media (--media-small-min)
{
	.rs-list-gallery li
	{
		margin-right: 0.25em;
	}
}