/**
 * @tableofcontents
 *
 * 1. landscape
 * 2. screen max 50em
 * 3. screen max 40em
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. landscape */

 @media screen and (orientation: landscape)
 {
	.rs-mobile .rs-gallery-overlay
	{
		background: rgba(0, 0, 0, 0.8);
	}
}

/* @section 2. screen max 50em */

@media screen and (max-width: 50em)
{
	.rs-gallery-control
	{
		font-size: 20vw;
	}
}

/* @section 3. screen max 40em */

@media screen and (max-width: 40em)
{
	.rs-gallery-meta
	{
		display: none;
	}
}
