/* @section 1. icon */

@font-face
{
	font-family: var(--rs-website-font-icon);
	src: url('../../../../templates/website/dist/fonts/icon.woff2') format('woff2'), url('../../../../templates/website/dist/fonts/icon.woff') format('woff');
}

%rs-website-icon-agenda
{
	content: '\f101';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-cube
{
	content: '\f102';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-alarm
{
	content: '\f103';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-database-1
{
	content: '\f104';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-magic-wand
{
	content: '\f105';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-paper-plane-1
{
	content: '\f106';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-settings-6
{
	content: '\f107';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-stopwatch-1
{
	content: '\f108';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-rocket-ship
{
	content: '\f109';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-devices
{
	content: '\f10a';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-command-line
{
	content: '\f10b';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-editing-code
{
	content: '\f10c';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-atoms
{
	content: '\f10d';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-flask
{
	content: '\f10e';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-antivirus
{
	content: '\f10f';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-key
{
	content: '\f110';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-analytics-2
{
	content: '\f111';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-layers
{
	content: '\f112';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-paint-palette-1
{
	content: '\f113';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}

%rs-website-icon-cruise
{
	content: '\f114';
	font-family: var(--rs-website-font-icon);
	font-weight: normal;
}
