/**
 * @tableofcontents
 *
 * 1. experiment
 *    1.1 zero
 *    1.2 one
 *    1.3 keyframe
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. experiment */

/* @section 1.1 zero */

.rs-is-variation-0
{
	&.rs-wrapper-animation
	{
		display: none;
	}
}

/* @section 1.2 one */

.rs-is-variation-1
{
	& .rs-box-homepage
	{
		overflow: hidden;
		position: relative;
	}

	& .rs-wrapper-homepage,
	& .rs-box-feature
	{
		position: relative;
		z-index: 1;
	}

	& .rs-wrapper-animation
	{
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateZ(0);
	}

	& .rs-box-animation,
	& .rs-box-animation:before,
	& .rs-box-animation:after
	{
		background: gray(0, 0.1);
		position: absolute;
	}

	& .rs-box-animation
	{
		&.rs-is-first,
		&.rs-is-first:before,
		&.rs-is-first:after
		{
			animation: 200s rotate-left infinite linear, 10s colorize infinite linear;
			height: 140vh;
			width: 140vw;
		}

		&.rs-is-second,
		&.rs-is-second:before,
		&.rs-is-second:after
		{
			animation: 200s rotate-right infinite linear;
			height: 120vh;
			width: 120vw;
		}

		&.rs-is-first:before,
		&.rs-is-second:before
		{
			animation-duration: 50s;
			content: '';
		}

		&.rs-is-first:after,
		&.rs-is-second:after
		{
			animation-duration: 100s;
			content: '';
		}
	}
}

/* @section 1.3 keyframe */

@keyframes colorize
{
	0%
	{
		background: gray(0, 0.1);
	}

	20%
	{
		background: rgba(50, 200, 150, 0.2);
	}

	100%
	{
		background: gray(0, 0.1);
	}
}