/**
 * @tableofcontents
 *
 * 1. features
 *    1.1 title
 *    1.2 title sub
 *    1.3 box
 *    1.4 list
 * 2. query
 *    2.1 medium min
 * 3. logic
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. features */

/* @section 1.1 title */

/* todo: use var(rs-font-accent) and gray() everywhere */
/* todo: add margin-top: 1em; and margin-bottom: 1em */
.rs-title-feature
{
	border: none;
	color: var(--rs-color-primary);
	font: 2.5em Pacifico, arial, sans-serif;
	margin-bottom: 0.5em;
}

@media (--media-medium-min)
{
	.rs-title-feature
	{
		font-size: 3em;
	}
}

/* @section 1.2 title sub */

.rs-title-sub-feature
{
	color: var(--rs-color-primary);
	font-size: 1.5em;
	font-weight: 300;
	position: relative;

	&:before
	{
		font-size: 2em;
		line-height: 1em;
		position: absolute;
		/* why right 101% */
		right: 101%;
		top: -0.125em;
	}
}

/* @section 1.3 box */
/* todo: please remove the border-radius - don't like */
.rs-box-feature
{
	background: gray(255);
	border-radius: 0.25em;
	border-top: 0.25em solid var(--rs-color-primary);
	box-sizing: border-box;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0 2em 2em;
	position: relative;
	text-align: center;
}

.rs-box-homepage + .rs-box-feature
{
	margin-top: -4em;
}

@media (--media-medium-min)
{
	.rs-box-feature
	{
		font-size: 1.25em;
		width: 80%;
	}
}

/* @section 1.4 list */

/* todo: rename to rs-wrapper-feature + add new section */
.rs-wrapper-list-feature
{
	margin-top: 3em;
}

.rs-list-feature
{
	text-align: left;
	transition: transform 0.5s;

	& li
	{
		box-sizing: border-box;
		margin-bottom: 2em;
		padding-left: 3em;
	}

	&.rs-is-designer
	{
		transform: translateX(100%);
	}

	&.rs-is-developer
	{
		transform: translateX(-100%);
	}
}

/* @section 2. query */

/* @section 2.1 medium min */

/* todo: does not work, the list are not next to each other */
@media (--media-medium-min)
{
	.rs-list-feature
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& li
		{
			padding: 0 1em 0 4em;
			width: 50%;
		}
	}
}

/* @section 3. logic */

/* put this section to the top of the file */
.rs-fn-status-feature
{
	display: none;

	&:checked + .rs-label-feature
	 {
		background: #323e4c;
		color: #fff;
	}
}

.rs-label-feature
{
	background: rgb(215, 215, 215);
	border-radius: 1.5em;
	cursor: pointer;
	display: inline-block;
	font-size: 1.25em;
	margin: 0 1em;
	padding: 0.5em 1em;
	text-transform: uppercase;
	transition: background 0.1s, color 0.1s;
}

.rs-fn-status-feature-developer:checked ~ .rs-wrapper-list-feature .rs-is-developer,
.rs-fn-status-feature-designer:checked ~ .rs-wrapper-list-feature .rs-is-designer
{
	transform: translateX(0);
}