/**
 * @tableofcontents
 *
 * 1. font face
 * 2. list share this
 * 3. link share this
 *    3.1 icons
 * 4. counter
 *
 * @since 2.0.2
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon share this';
	src: url('modules/ShareThis/fonts/icon.woff') format('woff'), url('modules/ShareThis/fonts/icon.ttf') format('truetype');
}

/* @section 2. list share this */

.list_share_this
{
	margin-top: 2em;
}

.list_share_this li
{
	float: left;
	margin: 0 3.5em 2em 0;
}

/* @section 3. link share this */

.link_share_this
{
	display: inline-block;
	height: 2.75em;
	position: relative;
	text-indent: -999em;
}

/* @section 3.1 icons */

.link_share_this:before
{
	background: #bbb;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 2em;
	color: #fff;
	content: 'a';
	font: 1.125em/2.25em 'icon share this';
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	transition: background 0.4s ease;
	width: 2.25em;
}

/* facebook */

.link_share_this.link_facebook:before
{
	content: 'b';
}

.link_share_this.link_facebook:hover:before
{
	background: #3b5998;
}

/* google plus one */

.link_share_this.link_googleplusone:before
{
	content: 'c';
}

.link_share_this.link_googleplusone:hover:before
{
	background: #d34836;
}

/* twitter */

.link_share_this.link_twitter:before
{
	content: 'd';
}

.link_share_this.link_twitter:hover:before
{
	background: #00aced;
}

/* pinterest */

.link_share_this.link_pinterest:before
{
	content: 'e';
}

.link_share_this.link_pinterest:hover:before
{
	background: #cb2027;
}

/* linkedin */

.link_share_this.link_linkedin:before
{
	content: 'f';
}

.link_share_this.link_linkedin:hover:before
{
	background: #007bb6;
}

/* stumbleupon */

.link_share_this.link_stumbleupon:before
{
	content: 'g';
}

.link_share_this.link_stumbleupon:hover:before
{
	background: #f74425;
}

/* delicious */

.link_share_this.link_delicious:before
{
	content: 'h';
}

.link_share_this.link_delicious:hover:before
{
	background: #205cc0;
}

/* @section 4. counter */

.link_share_this:after
{
	color: #bbb;
	color: rgba(0, 0, 0, 0.15);
	content: attr(data-counter);
	bottom: -1.25em;
	font: bold 1em arial;
	left: 0;
	position: absolute;
	text-align: center;
	text-indent: 0;
	width: 2.5em;
}
