/**
 * @tableofcontents
 *
 * 1. link fb group user image
 * 2. box fb group message sub
 * 3. box fb group like infoline
 * 4. fb group comment elements
 * 5. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. link fb group user image */

.link_fb_group_user_image
{
	-moz-box-shadow: 0 0 6px #c6c6c6;;
	-webkit-box-shadow: 0 0 6px #c6c6c6;;
	border: 1px solid #bdbdbd;
	box-shadow: 0 0 6px #c6c6c6;
	display: inline-block;
}

.link_fb_group_user_image img
{
	border: 1px solid #e1e1e1;
	float: left;
	height: 50px;
	width: 50px;
}

/* @section 2. box fb group message sub */

.box_fb_group_message_sub
{
	-moz-box-shadow: inset 1px 0 #bdbdbd, inset 3px 0 #d5d5d5, inset 4px 0 #fcfcfc;
	-webkit-box-shadow: inset 1px 0 #bdbdbd, inset 3px 0 #d5d5d5, inset 4px 0 #fcfcfc;
	box-shadow: inset 1px 0 #bdbdbd, inset 3px 0 #d5d5d5, inset 4px 0 #fcfcfc;
	margin: 1em 0 2em;
	padding: 0.25em 0 0.25em 1.5em;
	white-space: pre-line;
}

.title_fb_group_message_sub
{
	font-size: 1em;
	left: 5.5em;
	position: absolute;
	top: -4.25em;
	text-decoration: underline;
}

.title_fb_group_message_sub, .title_fb_group_message_sub a
{
	color: #474747;
}

.wrapper_fb_group_message_sub
{
	position: relative;
}

/* @section 3. box fb group like infoline */

.box_fb_group_like_infoline
{
	font: italic 0.875em arial;
	margin: 1em 2em 2em;
}

.box_fb_group_like_infoline a
{
	color: #474747;
	text-decoration: underline;
}

/* @section 4. fb group comment elements */

.box_fb_group_comment, .link_fb_group_comment_read_more
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
	padding: 1em;
}

.box_fb_group_comment + .box_fb_group_comment, .link_fb_group_comment_read_more
{
	border-top-width: 0;
}

.box_fb_group_comment .link_fb_group_user_image
{
	float: left;
	margin-right: 1em;
}

.box_fb_group_comment .link_fb_group_user_image img
{
	height: 35px;
	width: 35px;
}

.box_fb_group_comment_infoline
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: #dadada;
	background: -moz-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -ms-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -o-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(#dadada, 40%), to(#d1d1d1));
	background: -webkit-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	border: 1px solid #cdcdcd;
	border-bottom: 0;
	border-radius: 0.25em 0.25em 0 0;
	font: bold 1em/2.25em arial;
	padding: 0 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.box_fb_group_comment_sub
{
	white-space: pre-line;
}

.title_fb_group_comment_sub
{
	font-size: 1em;
}

.link_fb_group_comment_read_more
{
	-moz-border-radius: 0 0 0.25em 0.25em;
	-webkit-border-radius: 0 0 0.25em 0.25em;
	border-radius: 0 0 0.25em 0.25em;
	display: block;
	text-decoration: underline;
}

.link_fb_group_comment_read_more:hover
{
	background: #e8e8e8;
}

/* @section 5. space between elements */

.box_fb_group_message + .box_fb_group_message, .box_fb_group_comment + .box_fb_group_message, .box_fb_group_comment_read_more + .box_fb_group_message
{
	margin-top: 2em;
}