/**
 * @tableofcontents
 *
 * 1. dialog
 *    1.1 overlay
 *    1.2 component
 */

/** @section 1. dialog */

/** @section 1.1 overlay */

.rs-overlay-dialog
{
	@extend %overlay-dialog;
	animation: fade-in 0.4s;
	background: gray(0 / 0.3);
}

/** @section 1.2 component */

.rs-component-dialog
{
	@extend %component-dialog;
	background: var(--rs-color-tertiary);
	border-radius: 0.25em;
	color: gray(100);
	font-size: 1.25rem;
	padding: 1em;

	& .rs-title-dialog
	{
		font-size: 1.25em;
		font-weight: 500;
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}

	& .rs-button-default
	{
		margin-top: 1em;
	}

	& .rs-field-default
	{
		width: 100%;
	}
}