/**
 * @tableofcontents
 *
 * 1. font face
 * 2. gallery
 * 3. gallery overlay
 * 4. fadein effect
 * 5. gallery loader
 * 6. gallery meta
 * 7. gallery list
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon gallery';
	src: url('modules/gallery/fonts/icon.woff') format('woff'), url('modules/gallery/fonts/icon.ttf') format('truetype');
}

/* @section 2. gallery */

.gallery
{
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 1100;
}

.gallery_media
{
	-mox-border-radius: 0.25em;
	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

/* @section 3. gallery overlay */

.gallery_overlay
{
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* @section 4. fadein effect */

.gallery_media, .gallery_meta, .gallery_overlay
{
	-moz-animation: fade 0.4s;
	-ms-animation: fade 0.4s;
	-o-animation: fade 0.4s;
	-webkit-animation: fade 0.4s;
	animation: fade 0.4s;
}

/* @section 5. gallery loader */

.gallery_loader:after
{
	-moz-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-moz-transform: scale(0);
	-ms-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-ms-transform: scale(0);
	-o-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-o-transform: scale(0);
	-webkit-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-webkit-transform: scale(0);
	animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	color: #333;
	color: rgba(0, 0, 0, 0.3);
	content: '0';
	font: 3em/2em 'icon gallery';
	left: 50%;
	margin: -1em 0 0 -0.5em;
	position: absolute;
	top: 50%;
    transform: scale(0)
}

.gallery.gallery_loader:after
{
	font-size: 6em;
}

/* gallery control */

.gallery_control
{
	color: #333;
	color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font: 16em/0 'icon gallery';
	position: fixed;
	text-indent: -999em;
	top: 50%;
	z-index: 1200;
}

.gallery_control:hover
{
	color: #000;
	color: rgba(0, 0, 0, 0.6);
}

.gallery_control:before, .gallery_control:after
{
	position: absolute;
	text-indent: 0;
}

/* previous */

.gallery_control_previous
{
	left: 5%;
}

.gallery_control_previous:before
{
	left: 0;
	content: '<';
}

/* next */

.gallery_control_next
{
	right: 5%;
}

.gallery_control_next:after
{
	right: 0;
	content: '>';
}

/* @section 6. gallery meta */

.gallery_meta
{
	color: #333;
	color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    font: bold 2em arial;
    left: 0;
	padding: 2% 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.gallery_artist
{
	font-size: 1.5em;
}

.gallery_description
{
	font-size: 1.75em;
}

.gallery_pagination
{
	margin-top: 0.5em;
}

/* @section 7. gallery list */

.item_gallery
{
	margin: 0 1em 1em 0;
	position: relative;
}

.item_gallery, .image_gallery
{
	float: left;
}