/**
 * @tableofcontents
 *
 * 1. gallery
 * 2. gallery overlay
 * 3. fadein effect
 * 4. item gallery
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

 /* @section 1. font face */

 @font-face
{
	font-family: 'icon gallery';
	src: url('modules/gallery/fonts/icon.woff') format('woff'), url('modules/gallery/fonts/icon.ttf') format('truetype');
}

/* @section 2. gallery */

.gallery
{
	bottom: 5%;
	left: 5%;
	position: fixed;
	right: 5%;
	top: 5%;
	z-index: 1100;
}

.gallery img
{
	-mox-border-radius: 0.25em;
	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	border-radius: 0.25em;
	bottom: 0;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	display: block;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}

/* @section 3. gallery overlay */

.gallery_overlay
{
	background: #000;
	background: rgba(0, 0, 0, 0.3);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* @section 4. fadein effect */

.gallery_overlay, .gallery
{
	-moz-animation: fade 0.4s;
	-ms-animation: fade 0.4s;
	-o-animation: fade 0.4s;
	-webkit-animation: fade 0.4s;
	animation: fade 0.4s;
}

/* @section 5. gallery loader */

.gallery_loader:after
{
	-moz-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-moz-transform: scale(0);
	-ms-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-ms-transform: scale(0);
	-o-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-o-transform: scale(0);
	-webkit-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	-webkit-transform: scale(0);
	animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	color: #000;
	color: rgba(0, 0, 0, 0.3);
	content: '2';
	font: 3em/2em 'icon gallery';
	left: 0;
	margin-top: -1em;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
    transform: scale(0)
}

.gallery.gallery_loader:after
{
	font-size: 6em;
}

/* @section 5. gallery list */

.item_gallery
{
	margin: 0 1em 1em 0;
	position: relative;
}

.item_gallery, .image_gallery
{
	float: left;
}

.link_gallery
{
	display: block;
}