/**
 * @tableofcontents
 *
 * 1. font face
 * 2. gallery
 * 3. gallery overlay
 * 4. fadein effect
 * 5. gallery loader
 * 6. gallery control
 * 7. gallery meta
 * 8. gallery list
 *
 * @since 2.5.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. font face */

 @font-face
{
	font-family: 'icon gallery';
	src: url('modules/Gallery/fonts/icon.woff') format('woff'), url('modules/Gallery/fonts/icon.ttf') format('truetype');
}

/* @section 2. gallery */

.rs-gallery
{
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 1100;
}

.rs-gallery-media
{
	border-radius: 0.25em;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

/* @section 3. gallery overlay */

.rs-gallery-overlay
{
	background: #000;
	background: rgba(0, 0, 0, 0.4);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* @section 4. fadein effect */

.rs-gallery-media, .rs-gallery-meta, .rs-gallery-overlay
{
	-webkit-animation: fade 0.2s;
	animation: fade 0.2s;
}

/* @section 5. gallery loader */

.rs-gallery-loader:after
{
	-webkit-animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	animation: scale 0.4s 2s, rotate 3s 2.4s infinite;
	color: #333;
	color: rgba(0, 0, 0, 0.4);
	content: '0';
	font: 6em/2em 'icon gallery';
	left: 50%;
	margin: -1em 0 0 -0.5em;
	position: absolute;
	top: 50%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

/* @section 6. gallery control */

.rs-gallery-control
{
	color: #333;
	color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	font: 12em/0 'icon gallery';
	position: fixed;
	text-indent: -999em;
	top: 50%;
	z-index: 1200;
}

.rs-gallery-control:hover
{
	color: #000;
	color: rgba(0, 0, 0, 0.6);
}

.rs-gallery-control:before, .rs-gallery-control:after
{
	position: absolute;
	text-indent: 0;
}

/* previous */

.rs-gallery-control-previous
{
	left: 5%;
}

.rs-gallery-control-previous:before
{
	left: 0;
	content: '<';
}

/* next */

.rs-gallery-control-next
{
	right: 5%;
}

.rs-gallery-control-next:after
{
	right: 0;
	content: '>';
}

/* @section 7. gallery meta */

.rs-gallery-meta
{
	color: #333;
	color: rgba(0, 0, 0, 0.4);
	bottom: 0;
	font: bold 2em arial;
	left: 0;
	padding: 2% 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.rs-gallery-artist
{
	font-size: 1.5em;
}

.rs-gallery-description
{
	font-size: 1.75em;
}

.rs-gallery-pagination
{
	margin-top: 0.5em;
}

/* @section 8. gallery list */

.rs-list-gallery li
{
	margin: 0 1em 1em 0;
	position: relative;
}

.rs-list-gallery li, .rs-list-gallery img
{
	float: left;
}
