/**
 * @tableofcontents
 *
 * 1. gallery
 * 2. gallery overlay
 * 3. gallery loader
 * 4. gallery meta
 *    4.1 children elements
 * 5. previous and next links
 *    5.1 children elements
 * 6. item gallery
 * 7. image gallery
 */

/* @section 1. gallery */

.gallery
{
	-moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	background: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
	left: 50%;
	position: fixed;
	top: 50%;
	z-index: 1100;
}

.gallery img
{
	float: left;
}

/* @section 2. gallery overlay */

.gallery_overlay
{
	background: #000;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

/* @section 3. gallery loader */

.gallery_loader
{
	-moz-border-radius: 2.5em;
	-webkit-border-radius: 2.5em;
	background: #fff;
	border-radius: 2.5em;
	left: 50%;
	margin: -2.5em 0 0 -2.5em;
	padding: 1em;
	position: fixed;
	top: 50%;
	z-index: 1400;
}

/* @section 4. gallery meta */

.gallery_meta
{
	background: #fff;
	bottom: 0;
	color: #666;
	font: 1em georgia, arial;
	left: 0;
	padding: 1em 0;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1200;
}

/* desktop */

.desktop .gallery_meta
{
	display: none;
}

.desktop .gallery:hover .gallery_meta
{
	display: block;
}

/* @section 4.1 children elements */

.gallery_artist
{
	float: right;
	margin-right: 1em;
}

.gallery_description
{
	float: left;
	margin-left: 1em;
}

.gallery_label
{
	margin-right: 0.5em;
}

/* @section 5. previous and next links */

.gallery_next, .gallery_previous
{
	height: 100%;
	position: absolute;
	top: 0;
	width: 40%;
	z-index: 1300;
}

/* trident hover fix */

.trident .gallery_next, .trident .gallery_previous
{
	background: url('modules/gallery/images/transparent.png');
}

.gallery_next
{
	right: 0;
}

.gallery_previous
{
	left: 0;
}

.gallery_next:hover, .gallery_previous:hover
{
	cursor: pointer;
}

.gallery_next:hover span, .gallery_previous:hover span
{
	display: block;
}

/* @section 5.1 children elements */

.gallery_next span, .gallery_previous span
{
	background: #fff;
	color: #666;
	display: none;
	font: 1.25em georgia, arial;
	margin-top: 3em;
	padding: 1em;
	white-space: nowrap;
}

.gallery_next span
{
	-moz-border-radius: 1.5em 0 0 1.5em;
	-webkit-border-radius: 1.5em 0 0 1.5em;
	border-radius: 1.5em 0 0 1.5em;
	float: right;
}

.gallery_previous span
{
	-moz-border-radius: 0 1.5em 1.5em 0;
	-webkit-border-radius: 0 1.5em 1.5em 0;
	border-radius: 0 1.5em 1.5em 0;
	float: left;
}

/* @section 6. item gallery */

.item_gallery
{
	margin: 0 0.5em 0.5em 0;

}

.item_gallery, .image_gallery
{
	float: left;
}

/* @section 7. image gallery */

.image_gallery
{
	-moz-border-radius: 0.25em;
	-moz-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #c6c6c6;
	-webkit-border-radius: 0.25em;
	-webkit-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #c6c6c6;
	border-radius: 0.25em;
	box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #c6c6c6;
}

.image_gallery:hover
{
	-moz-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #999;
	-webkit-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #999;
	box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #999;
}

.image_gallery_preload
{
	-moz-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #333;
	-webkit-box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #333;
	box-shadow: 0 0 0 1px #ebebeb, 0 0 3px #333;
}