/**
 * @tableofcontents
 *
 * 1. screen < 640
 * 2. screen < 480
 * 3. screen < 320
 */

/* @section 1. screen < 640 */

@media screen and (max-width: 640px)
{
	.gallery:hover .gallery_meta
	{
		display: none;
	}
}

/* @section 2. screen < 480 */

@media screen and (max-width: 480px)
{
	.gallery_next span, .gallery_previous span
	{
		font-size: 1em;
	}
}

/* @section 3. screen < 320 */

@media screen and (max-width: 320px)
{
	.gallery_next span, .gallery_previous span
	{
		font-size: 0.75em;
	}
}