/**
 * @tableofcontents
 *
 * 1. dialog
 *    1.1 overlay
 *    1.2 component
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog */

/* @section 1.1 overlay */

%overlay-dialog
{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* @section 1.2 component */

%component-dialog
{
	box-sizing: border-box;
	left: 50%;
	max-width: 30em;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	z-index: 1100;
}