/**
 * @tableofcontents
 *
 * 1. query
 */

/** @section 1. query */

@custom-media --media-small-max (max-width: 29.999em);
@custom-media --media-small-min (min-width: 30em);
@custom-media --media-medium-max (max-width: 49.999em);
@custom-media --media-medium-min (min-width: 50em);
@custom-media --media-large-max (max-width: 79.999em);
@custom-media --media-large-min (min-width: 80em);
@custom-media --media-xlarge-max (max-width: 99.999em);
@custom-media --media-xlarge-min (min-width: 100em);
@custom-media --media-retina (min-resolution: 192dpi);