/**
 * @tableofcontents
 *
 * 1. redirect
 *    1.1 overlay
 */

/** @section 1. redirect */

/** @section 1.1 overlay */

%overlay-redirect
{
	background: gray(255);
	bottom: 0;
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2000;
}