/**
 * @tableofcontents
 *
 * 1. table default
 *    1.1. query
 *       1.1.1 medium max
 * 2. wrapper table
 *
 * @since 3.2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. table default */

%table-default
{
	& caption,
	& th,
	& tfoot td
	{
		font-weight: bold;
		text-align: left;
	}

	& th ~ th:last-child,
	& td ~ td:last-child
	{
		text-align: right;
	}
}

/* @section 1.1. query */

/* @section 1.1.1 medium max */

@media (--media-medium-max)
{
	%table-default
	{
		& th:not(:first-child):not(:last-child),
		& td:not(:first-child):not(:last-child)
		{
			display: none;
		}
	}
}

/* @section 2. wrapper table */

%wrapper-table
{
	overflow: hidden;

	& > table
	{
		width: 100%;
	}
}