/**
 * @tableofcontents
 *
 * 1. fade
 * 2. rotate
 * 3. scale
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. fade */

@keyframes rs-fade
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

/* @section 2. rotate */

@keyframes rs-rotate
{
	from
	{
		transform: rotate(0deg);
	}

	to
	{
		transform: rotate(360deg);
	}
}

/* @section 3. scale */

@keyframes rs-scale
{
	from
	{
		transform: scale(0);
	}

	to
	{
		transform: scale(1);
	}
}