/**
 * @tableofcontents
 *
 * 1. fade
 * 2. rotate
 * 3. scale
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Joerg Steinhauer
 */

/* @section 1. fade */

@-webkit-keyframes rs-fade
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

@keyframes rs-fade
{
	from
	{
		opacity: 0;
	}

	to
	{
		opacity: 1;
	}
}

/* @section 2. rotate */

@-webkit-keyframes rs-rotate
{
	from
	{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to
	{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rs-rotate
{
	from
	{
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to
	{
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* @section 3. scale */

@-webkit-keyframes rs-scale
{
	from
	{
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	to
	{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes rs-scale
{
	from
	{
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	to
	{
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}