/**
 * @tableofcontents
 *
 * 1. dialog
 * 2. dialog overlay
 * 3. query
 *    3.1 max width 30em
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Joerg Steinhauer
 */

/* @section 1. dialog */

.rs-dialog
{
	left: 50%;
	margin: -5em 0 0 -15em;
	position: fixed;
	top: 50%;
	z-index: 1100;
	width: 30em;
}

/* @section 2. dialog overlay */

.rs-dialog-overlay
{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

/* @section 3. query */

/* @section 3.1 max width 30em */

@media screen and (max-width: 29.999em)
{
	.rs-dialog
	{
		margin: -5em 0 0 -40%;
		width: 80%;
	}
}