/**
 * @tableofcontents
 *
 * 1. list dropdown
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list dropdown */

@media (--media-medium-min)
{
	.rs-fn-dropdown a,
	.rs-fn-dropdown span
	{
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.rs-fn-dropdown li
	{
		position: relative;
	}

	.rs-fn-dropdown li:hover > ul,
	.rs-fn-dropdown .rs-item-touch > ul
	{
		left: 0;
		opacity: 1;
		transform: translateY(0);
	}

	.rs-fn-dropdown li:last-child:hover > ul,
	.rs-fn-dropdown .rs-item-touch:last-child > ul
	{
		left: auto;
		right: 0;
	}

	.rs-fn-dropdown ul
	{
		left: -999em;
		opacity: 0;
		position: absolute;
		top: 100%;
		transform: translateY(-50%);
		transition: opacity 0.5s, transform 0.2s;
		z-index: 1;
	}

	.rs-fn-dropdown ul ul
	{
		left: 100%;
		top: 0;
	}
}