/**
 * @tableofcontents
 *
 * 1. remove webkit appearance
 * 2. remove firefox inner focus
 * 3. query
 *    3.1 max width 30em
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. remove webkit appearance */

.rs-field-search,
.rs-field-search::-webkit-search-cancel-button
{
	-webkit-appearance: none;
}

/* @section 2. remove firefox inner focus */

button::-moz-focus-inner,
input::-moz-focus-inner
{
	border: 0;
}

/* @section 3. query */

/* @section 3.1 max width 30em */

@media (--media-small-max)
{
	a.rs-button-default
	{
		display: block;
		text-align: center;
	}

	button.rs-button-default,
	.rs-field-select,
	.rs-field-text,
	.rs-field-textarea.rs-field-small
	{
		width: 100%;
	}
}