/**
 * @tableofcontents
 *
 * 1. remove webkit appearance
 * 2. remove firefox inner focus
 * 3. query
 *    3.1 max width 30em
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 3. query */

/* @section 3.1 max width 30em */

@media (--media-small-max)
{
	a.rs-button-default
	{
		display: block;
		text-align: center;
	}

	button.rs-button-default,
	.rs-field-select,
	.rs-field-text,
	.rs-field-textarea.rs-field-small
	{
		width: 100%;
	}
}