/**
 * @tableofcontents
 *
 * 1. grid
 *    1.1 whole
 *    1.2 halve
 *    1.3 third
 *    1.4 quarter
 *    1.5 fifth
 *    1.6 sixth
 *    1.7 seventh
 *    1.8 eighth
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. grid */

.rs-grid,
.rs-grid-space
{
	float: left;
}

.rs-grid + .rs-grid:last-child,
.rs-grid-space + .rs-grid-space:last-child
{
	float: right;
}

/* @section 1.1 whole */

.rs-s1o1
{
	width: 100%;
}

/* @section 1.2 halve */

.rs-s1o2,
.rs-s2o4,
.rs-s3o6,
.rs-s4o8
{
	width: 50%;
}

/* @section 1.3 third */

.rs-s1o3,
.rs-s2o6
{
	width: 33.33%;
}

.rs-s2o3,
.rs-s4o6
{
	width: 66.66%;
}

/* @section 1.4 quarter */

.rs-s1o4,
.rs-s2o8
{
	width: 25%;
}

.rs-s3o4,
.rs-s6o8
{
	width: 75%;
}

/* @section 1.5 fifth */

.rs-s1o5
{
	width: 20%;
}

.rs-s2o5
{
	width: 40%;
}

.rs-s3o5
{
	width: 60%;
}

.rs-s4o5
{
	width: 80%;
}

/* @section 1.6 sixth */

.rs-s1o6
{
	width: 16.66%;
}

.rs-s5o6
{
	width: 83.33%;
}

/* @section 1.7 seventh */

.rs-s1o7
{
	width: 14.28%;
}

.rs-s2o7
{
	width: 28.58%;
}

.rs-s3o7
{
	width: 42.86%;
}

.rs-s4o7
{
	width: 57.14%;
}

.rs-s5o7
{
	width: 71.42%;
}

.rs-s6o7
{
	width: 85.72%;
}

/* @section 1.8 eighth */

.rs-s1o8
{
	width: 12.5%;
}

.rs-s3o8
{
	width: 37.5%;
}

.rs-s5o8
{
	width: 62.5%;
}

.rs-s7o8
{
	width: 87.5%;
}