/**
 * @tableofcontents
 *
 * 1. hide
 * 2. redirect
 * 3. clearfix
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. hide */

.rs-hide,
.rs-js .rs-hide-if-js
{
	display: none;
}

/* @section 2. redirect */

.rs-redirect-overlay
{
	background: #fff;
	bottom:0;
	display: block;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
}

/* @section 3. clearfix */

.rs-admin-clearfix,
.rs-clearfix
{
	clear: both;
}

.rs-admin-clearfix:after,
.rs-clearfix:after
{
	content: '';
	display: block;
	height: 0;
	clear: both;
}