/**
 * @tableofcontents
 *
 * 1. list tab
 * 2. set tab
 * 3. title accordion
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list tab */

.rs-list-tab li
{
	display: inline-block;
}

.rs-js .rs-list-tab .rs-item-active
{
	pointer-events: none;
}

/* @section 2. set tab */

.rs-js .rs-set-tab
{
	display: none;
}

.rs-js .rs-set-tab.rs-set-active
{
	display: block;
}

/* @section 3. title accordion */

.rs-js .rs-title-accordion-default.rs-title-active
{
	pointer-events: none;
}