/**
 * @tableofcontents
 *
 * 1. general
 * 2. query
 *    2.1 max width 50rem
 *       2.1.1 navigation trigger
 *       2.1.2 navigation icon
 *       2.1.3 navigation
 *       2.1.4 navigation layer
 *    2.2 min width 50rem
 *       2.2.1 navigation trigger
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-fn-trigger-navigation
{
	display: none;
}

/* @section 2. query */

/* @section 2.1 max width 50rem */

@media screen and (max-width: 49.999rem)
{

	/* @section 2.1.1 navigation trigger */

	.rs-trigger-navigation
	{
		cursor: pointer;
		position: relative;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		z-index: 10;
	}

	.rs-trigger-navigation:after,
	.rs-trigger-navigation:before
	{
		bottom: 2.5em;
		content: '';
		height: 0.25em;
		left: 0;
		position: absolute;
		right: 0;
		outline: none;
		transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
	}

	/* @section 2.1.2 navigation icon */

	.rs-fn-trigger-navigation:checked ~ .rs-has-navigation .rs-trigger-navigation:after
	{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.rs-fn-trigger-navigation:checked ~ .rs-has-navigation .rs-trigger-navigation:before
	{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	/* @section 2.1.3 navigation */

	.rs-fn-navigation
	{
		left: 0;
		bottom: 0;
		position: absolute;
		top: 0;
		transition: -webkit-transform 0.2s;
		transition: transform 0.2s;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		z-index: 10;
	}

	.rs-fn-trigger-navigation:checked ~ .rs-has-navigation .rs-fn-navigation
	{
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	/* @section 2.1.4 navigation layer */

	.rs-fn-trigger-navigation ~ .rs-has-navigation:after {
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 100%;
		top: 0;
		transition: background 0.2s;
		z-index: 1;
	}

	.rs-fn-trigger-navigation:checked ~ .rs-has-navigation:after {
		right: 0;
		z-index: 5;
	}
}

/* @section 2.2 min width 50rem */

@media screen and (min-width: 50rem) {

	/* @section 2.2.1 navigation trigger */

	.rs-trigger-navigation
	{
		display: none;
	}
}