/**
 * @tableofcontents
 *
 * 1. general
 * 2. query
 *    2.1 max width 50rem
 *       7.2.1 list header
 *       7.2.2 nav trigger - hamburger icon
 *       7.2.3 nav trigger - close icon
 *       7.2.4 navigation
 *       7.2.5 navigation dark layer
 *    7.3 min width 50rem
 *       7.3.2 nav trigger - hamburger icon
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. general */

.rs-fn-label-navigation
{
	display: none;
}

/* @section 2. query */

/* @section 2.1 max width 50rem */

@media screen and (max-width: 49.999rem)
{

	/* @section 2.1.1 navigation trigger */

	/*TODO: split styling from functionality, improve the naming of classes and sections */
	.rs-label-navigation
	{
		cursor: pointer;
		position: relative;
		z-index: 10;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.rs-label-navigation:after,
	.rs-label-navigation:before
	{
		bottom: 2.5em;
		content: '';
		height: 0.25em;
		left: 0;
		position: absolute;
		right: 0;
		outline: none;
		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
	}

	/* @section 2.1.2 navigation trigger - icons */

	.rs-fn-label-navigation:checked ~ .rs-has-navigation .rs-label-navigation:after,
	.rs-fn-label-navigation:checked ~ .rs-has-navigation .rs-label-navigation:before
	{
		box-shadow: none;
	}

	.rs-fn-label-navigation:checked ~ .rs-has-navigation .rs-label-navigation:after
	{
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.rs-fn-label-navigation:checked ~ .rs-has-navigation .rs-label-navigation:before
	{
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	/* @section 2.1.3 navigation */

	.rs-fn-navigation
	{
		left: 0;
		bottom: 0;
		position: absolute;
		top: 0;
		-webkit-transition: transform 0.2s;
		transition: transform 0.2s;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		z-index: 10;
	}

	.rs-fn-label-navigation:checked ~ .rs-has-navigation .rs-fn-navigation
	{
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	/* @section 2.1.4 navigation layer */

	.rs-fn-label-navigation ~ .rs-has-navigation:after {
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 100%;
		top: 0;
		-webkit-transition: background 0.2s;
		transition: background 0.2s;
		z-index: 1;
	}

	.rs-fn-label-navigation:checked ~ .rs-has-navigation:after {
		right: 0;
		z-index: 5;
	}
}

/* @section 2.2 min width 50rem */

@media screen and (min-width: 50rem) {

	/* @section 2.2.1 navigation trigger */

	.rs-label-navigation
	{
		display: none;
	}
}