/**
 * @tableofcontents
 *
 * 1. reset
 * 2. normalize
 *    2.1 remove firefox inner focus
 *    2.2 remove webkit appearance
 *    2.3 trident tooltip
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. reset */

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, input, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, progress, q, ruby, s, samp, section, select, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
	border: 0;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, summary
{
	display: block;
}

blockquote, q
{
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
}

legend
{
	max-width: 100%;
}

li
{
	list-style: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

/* @section 2. normalize */

button, input, select, textarea
{
	box-sizing: border-box;
}

/* @section 2.1 remove firefox inner focus */

button::-moz-focus-inner, input::-moz-focus-inner
{
	border: 0;
}

/* @section 2.2 remove webkit appearance */

.rs-field-search, .rs-field-search::-webkit-search-cancel-button
{
	-webkit-appearance: none;
}

/* @section 2.3 trident tooltip */

.rs-msie9 .rs-tooltip:after, .rs-msie10 .rs-tooltip:after
{
	display: none;
}

.rs-msie9 .rs-tooltip:focus:after, .rs-msie9 .rs-tooltip:hover:after, .rs-msie10 .rs-tooltip:focus:after, .rs-msie10 .rs-tooltip:hover:after
{
	display: inline-block;
}