/**
 * @tableofcontents
 *
 * 1. print
 * 2. rtl direction
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. print */

@media print
{
	body
	{
		color: #000;
		font-size: 1em;
	}
}

/* @section 2. rtl direction */

.rs-rtl
{
	direction: rtl;
	text-align: right;
}