/**
 * @tableofcontents
 *
 * 1. box tab
 * 2. list tab
 * 3. set tab
 * 4. query
 *    4.1 max width 50em
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box tab */

.rs-box-tab
{
	overflow: hidden;
}

/* @section 2. list tab */

.rs-list-tab li
{
	display: inline-block;
}

.rs-js .rs-list-tab .rs-item-active
{
	pointer-events: none;
}

/* @section 3. set tab */

.rs-js .rs-set-tab
{
	display: none;
}

.rs-js .rs-set-tab.rs-set-active
{
	display: block;
}

/* @section 4. query */

/* @section 4.1 max width 50em */

@media (--media-medium-max)
{
	.rs-list-tab
	{
		display: none;
	}

	.rs-js .rs-set-tab
	{
		display: block;
	}
}