/**
 * @tableofcontents
 *
 * 1. tooltip
 * 2. fallback
 * 3. query
 *    3.1 max width 50em
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tooltip */

.rs-tooltip
{
	cursor: help;
	position: relative;
}

.rs-tooltip.rs-link-default
{
	cursor: pointer;
}

.rs-tooltip:after
{
	content: attr(data-tooltip);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	z-index: 500;
}

.rs-tooltip:focus:after,
.rs-tooltip:hover:after
{
	opacity: 1;
}

/* @section 2. fallback */

.rs-msie10 .rs-tooltip:after
{
	display: none;
}

.rs-msie10 .rs-tooltip:focus:after,
.rs-msie10 .rs-tooltip:hover:after
{
	display: inline-block;
}

/* @section 3. query */

/* @section 3.1 max width 50em */

@media (--media-medium-max)
{
	.rs-tooltip:after
	{
		left: 1em;
		position: fixed;
		right: 1em;
		top: 1em;
	}
}