/**
 * @tableofcontents
 *
 * 1. seo tube
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. seo tube */

.form_seo_tube
{
	margin-bottom: 2em;
	margin-top: 1em;
}

.text_seo_tube
{
	white-space: pre-wrap;
}