/**
 * @tableofcontents
 *
 * 1. button
 * 2. query
 *    2.1 medium max
 */

/** @section 1. button */

%rs-button
{
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	padding: 0.5em;

	&[disabled]
	{
		pointer-events: none;
	}
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	%rs-button
	{
		text-align: center;
		width: 100%;
	}
}