/**
 * @tableofcontents
 *
 * 1. button
 * 2. query
 *    2.1 medium max
 */

/** @section 1. button */

%rs-button
{
	box-sizing: border-box;
	display: inline-block;
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	%rs-button
	{
		width: 100%;
	}
}