/**
 * @tableofcontents
 *
 * 1. content
 * 1. title
 *    1.2 box
 * 2. comment
 */

/** @section 1. content */

.rs-content
{
	word-wrap: break-word;
}

/** @section 1. title */

.rs-title-content,
.rs-title-content-sub
{
	margin-bottom: 0.5em;

	&:not(:first-child)
	{
		margin-top: 1em;
	}
}

/** @section 1.2 box */

.rs-box-content
{
	@extend %box-content;

	& p:not([class])
	{
		margin-bottom: 1em;

		&:not(:first-child)
		{
			margin-top: 1em;
		}
	}
}

.rs-box-byline
{
	margin-top: 1em;

	& span + span:before
	{
		content: ' ';
	}
}

/** @section 2. comment */

.rs-title-comment
{
	margin-bottom: 0.5em;

	&:not(:first-child)
	{
		margin-top: 1em;
	}
}
