/**
 * @tableofcontents
 *
 * 1. field
 * 2. textarea
 * 3. query
 *    3.1 medium-min
 */

/** @section 1. field */

.rs-field-default,
.rs-field-select,
.rs-field-textarea
{
	width: 100%;

	&[disabled],
	&[readonly]
	{
		opacity: 0.5;
	}
}

.rs-field-default,
.rs-field-select:not([multiple])
{
	height: 2.25em;
}

/** @section 2. textarea */

.rs-field-textarea
{
	min-height: 10em;
	resize: vertical;
}

.rs-field-textarea.rs-field-small
{
	min-height: 5em;
}

/** @section 3. query */

/** @section 3.1 medium-min */

@media (--media-medium-min)
{
	.rs-field-default,
	.rs-field-select,
	.rs-field-textarea.rs-field-small
	{
		width: 50%;
	}
}