/**
 * @tableofcontents
 *
 * 1. form
 */

/** @section 1. form */

.rs-form-default
{
	& > ul > li + li
	{
		margin-top: 1em;
	}

	& .rs-legend-default
	{
		margin-bottom: 1em;

		& a
		{
			text-decoration: underline;
		}
	}

	& .rs-label-default
	{
		display: block;
		margin-bottom: 0.25em;

		&:after
		{
			content: ':';
		}
	}

	& .rs-button-default
	{
		margin-top: 1em;
	}
}
