/**
 * @tableofcontents
 *
 * 1. form default
 */

/** @section 1. form default */

.rs-form-default
{
	& fieldset li
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	& .rs-label-default
	{
		display: block;

		&:after
		{
			content: ':';
		}
	}

	& .rs-label-message:after
	{
		content: ':\00a0' attr(data-message);
	}

	& .rs-button-default
	{
		margin-top: 1em;
	}
}
