/**
 * @tableofcontents
 *
 * 1. clearfix
 * 2. dropdown
 * 3. menu
 * 4. redirect
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. clearfix */

.rs-fn-clearfix
{
	@extend %fn-clearfix;
}

/* @section 2. redirect */

.rs-meta-redirect
{
	@extend %overlay-redirect;
}