/**
 * @tableofcontents
 *
 * 1. general
 * 2. wrapper
 * 3. query
 *    3.1 medium min
 *    3.2 print
 */

/** @section 1. general */

.rs-body
{
	background: gray(100);
	color: gray(0);
	font: 1em var(--rs-font-primary);
}

.rs-footer,
.rs-header,
.rs-main
{
	margin-bottom: 1em;
	margin-top: 1em;
}

/** @section 2. wrapper */

.rs-wrapper
{
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/** @section 3. query */

/** @section 3.1 medium min */

@media (--media-medium-min)
{
	.rs-has-sidebar
	{
		display: flex;

		& .rs-content
		{
			flex-basis: 100%;
		}

		& .rs-sidebar
		{
			margin-left: 1em;
		}
	}
}

/** @section 3.2 print */

@media print
{
	.rs-footer,
	.rs-header,
	.rs-sidebar
	{
		display: none;
	}
}