/**
 * @tableofcontents
 *
 * 1. pagination
 */

/** @section 1. pagination */

.rs-list-pagination
{
	margin-top: 1em;
	text-align: center;

	& li
	{
		display: inline-block;
		margin: 0.5em;
	}

	& a,
	& span
	{
		display: block;
	}
}
