/**
 * @tableofcontents
 *
 * 1. result
 *    1.1 title
 *    1.2 list
 *    1.3 text
 */

/** @section 1. result */

/** @section 1.1 title */

.rs-title-result
{
	margin-bottom: 0.5em;
	margin-top: 1em;
}

/** @section 1.2 list */

.rs-list-result
{
	& li + li
	{
		margin-top: 1em;
	}
}

/** @section 1.3 text */

.rs-link-result
{
	text-decoration: underline;
}

.rs-link-result,
.rs-text-result-date
{
	display: block;
}