/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. link default
 */

/** @section 1. tag styling */

a
{
	color: inherit;
	text-decoration: none;
}

/** @section 2. link default */

.rs-link-default
{
	text-decoration: underline;
}