/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. title
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

a
{
	color: inherit;
	text-decoration: none;
}

/* @section 2. title */

.rs-title-content,
.rs-title-extra
{
	margin-bottom: 0.5em;
	margin-top: 1em;
}