/**
 * @tableofcontents
 *
 * 1. tag styling
 * 2. link default
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. tag styling */

a
{
	color: inherit;
	text-decoration: underline;
}

/* @section 2. title */

.rs-title-content,
.rs-title-extra
{
	margin: 1.5em 0 0.5em;
}