/* @section 1. preview */

.rs-title-preview a
{
	background: gray(0, 0.8);
	border-radius: 0.125em;
	color: gray(255);
	display: block;
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 0.5em 1em;

	&:hover
	{
		background: gray(0, 0.9);
	}
}

/* @section 1.1 dialog */

.rs-is-preview
{
	& .rs-overlay-dialog,
	& .rs-admin-overlay-dialog
	{
		height: 18em;
		position: relative;
	}

	& .rs-component-dialog,
	& .rs-admin-component-dialog
	{
		position: absolute;
	}
}