/**
* @tableofcontents
*
* 1. icon
*
* @since 3.0.0
*
* @package Redaxscript
* @author Henry Ruhs
*/

/* @section 1. icon */

@font-face
{
	font-family: var(--rs-font-icon-social-sharer);
	src: url('../../../../modules/SocialSharer/dist/fonts/icon.woff2') format('woff2'), url('../../../../modules/SocialSharer/dist/fonts/icon.woff') format('woff');
}

%rs-icon-396-google-plus
{
	content: '\f101';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}

%rs-icon-401-facebook
{
	content: '\f102';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}

%rs-icon-407-twitter
{
	content: '\f103';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}

%rs-icon-459-linkedin2
{
	content: '\f104';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}

%rs-icon-463-stumbleupon
{
	content: '\f105';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}

%rs-icon-466-pinterest
{
	content: '\f106';
	font-family: var(--rs-font-icon-social-sharer);
	font-style: normal;
	font-weight: normal;
}
