/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 color
 */

/** @section 1. variable */

:root
{
	/** @section 1.1 color */

	--rs-color-facebook: #3b5998;
	--rs-color-telegram: #0088cc;
	--rs-color-twitter: #00aced;
	--rs-color-whatsapp: #25d366;
}
