/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 color
 *    1.2 font
 */

/** @section 1. variable */

:root
{
	/** @section 1.1 color */

	--rs-color-facebook: #3b5998;
	--rs-color-google-plus: #d34836;
	--rs-color-telegram: #0088cc;
	--rs-color-twitter: #00aced;
	--rs-color-whatsapp: #25d366;

	/** @section 1.2 font */

	--rs-font-icon-social-sharer: 'icon social sharer';
}
