/**
 * @tableofcontents
 *
 * 1. social sharer
 *    1.1 list
 *    1.2 link
 *    1.3 icon
 */

/** @section 1. social sharer */

/** @section 1.1 list */

.rs-list-social-sharer
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2em;
	margin-top: 2em;

	& li
	{
		margin-right: 0.75em;
	}
}

/** @section 1.2 link */

.rs-link-social-sharer
{
	display: inline-block;
	height: 2.25em;
	position: relative;
	text-indent: -999em;
	width: 2.25em;

	&:before
	{
		background: gray(30) center no-repeat;
		border-radius: 50%;
		bottom: 0;
		content: '';
		left: 0;
		position: absolute;
		right: 0;
		text-indent: 0;
		top: 0;
	}
}

/** @section 1.3 icon */

.rs-link-social-sharer
{
	/* facebook */

	&.rs-link-facebook
	{
		@svg-load rs-icon-facebook url('icomoon-free-npm/SVG/401-facebook.svg')
		{
			path
			{
				fill: gray(100);
			}
		}

		&:before
		{
			background-image: svg-inline(rs-icon-facebook);
		}

		&:hover:before
		{
			background-color: var(--rs-color-facebook);
		}
	}

	/* twitter */

	&.rs-link-twitter
	{
		@svg-load rs-icon-twitter url('icomoon-free-npm/SVG/407-twitter.svg')
		{
			path
			{
				fill: gray(100);
			}
		}

		&:before
		{
			background-image: svg-inline(rs-icon-twitter);
		}

		&:hover:before
		{
			background-color: var(--rs-color-twitter);
		}
	}

	/* whatsapp */

	&.rs-link-whatsapp
	{
		@svg-load rs-icon-whatsapp url('icomoon-free-npm/SVG/404-whatsapp.svg')
		{
			path
			{
				fill: gray(100);
			}
		}

		&:before
		{
			background-image: svg-inline(rs-icon-whatsapp);
		}

		&:hover:before
		{
			background-color: var(--rs-color-whatsapp);
		}
	}

	/* telegram */

	&.rs-link-telegram
	{
		@svg-load rs-icon-telegram url('icomoon-free-npm/SVG/406-telegram.svg')
		{
			path
			{
				fill: gray(100);
			}
		}

		&:before
		{
			background-image: svg-inline(rs-icon-telegram);
		}

		&:hover:before
		{
			background-color: var(--rs-color-telegram);
		}
	}
}
