/* box preview */

.preview .box_preview
{
	-moz-box-shadow: inset 5px 0 0 #585858;
	-webkit-box-shadow: inset 5px 0 0 #585858;
	background: #303030;
	box-shadow: inset 5px 0 0 #585858;
	color: #999;
	padding: 1em;
	text-shadow: 0 1px #1b1b1b;
}

.preview .box_preview.has_tooltip
{
	display: inline-block;
}

.msie7 .preview .box_preview.has_tooltip
{
	display: inline;
}

/* grid */

.preview .grid:hover .box_preview, .preview .grid_space:hover .box_preview, .preview .box_preview.has_tooltip:hover
{
	-moz-box-shadow: inset 5px 0 0 #3197df;
	-webkit-box-shadow: inset 5px 0 0 #3197df;
	box-shadow: inset 5px 0 0 #3197df;
}