/**
 * @tableofcontents
 *
 * 1. box preview
 * 2. grid preview
 * 3. icon flag
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box preview */

.rs-preview .rs-box-preview
{
	background: #222;
	color: #b9b9b9;
	font: bold 1em/3em arial;
	overflow: hidden;
	padding: 0 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
}

/* @section 2. grid preview */

.rs-preview .rs-grid:hover .rs-box-preview, .rs-preview .rs-grid-space:hover .rs-box-preview
{
	background: #3db1f1;
	background: linear-gradient(#3db1f1, #0090db);
	color: #000;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

/* @section 3. icon flag */

.rs-preview .rs-icon-flag
{
	margin: 0.25em;
	float: left;
}

/* @section 4. title preview */

.rs-preview .rs-title-preview,
.rs-preview .rs-title-preview-sub
{
	margin-top: 4em;
	margin-bottom: 1em;
	font-size: 2em;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.25em;
}

.rs-preview .rs-title-preview-sub
{
	margin-top: 3em;
	font-size: 1.5em;
}