/**
 * @tableofcontents
 *
 * 1. box feed reader
 * 2. title feed reader
 * 3. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box feed reader */

.box_feed_reader
{
	background: #e2e2e2;
	border: 1px solid #cdcdcd;
	color: #474747;
	padding: 1em;
	white-space: pre-line;
}

.box_feed_reader a
{
	text-decoration: underline;
}

/* @section 2. title feed reader */

.title_feed_reader
{
	-moz-border-radius: 0.25em 0.25em 0 0;
	-webkit-border-radius: 0.25em 0.25em 0 0;
	background: #dadada;
	background: -moz-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -ms-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -o-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: -webkit-gradient(linear, left top, left bottom, from(#dadada), color-stop(#dadada, 40%), to(#d1d1d1));
	background: -webkit-linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	background: linear-gradient(top, #dadada, #dadada 40%, #d1d1d1);
	border: 1px solid #cdcdcd;
	border-bottom: 0;
	border-radius: 0.25em 0.25em 0 0;
	font: bold 1em/2.25em arial;
	padding: 0 1em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
}

.title_feed_reader, .title_feed_reader a
{
	color: #474747;
}

.title_feed_reader a:hover
{
	text-decoration: underline;
}

.title_feed_reader .title_second
{
	float: right;
}

/* @section 3. space between elements */

.box_feed_reader + .title_feed_reader
{
	margin-top: 2em;
}