/**
 * @tableofcontents
 *
 * 1. box feed reader
 * 2. title feed reader
 * 3. space between elements
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box feed reader */

.box_feed_reader
{
	background: #eee;
	padding: 1em 1.5em;
	white-space: pre-line;
}

.box_feed_reader a
{
	text-decoration: underline;
}

/* @section 2. title feed reader */

.title_feed_reader
{
	background: #b9b9b9;
	background: -webkit-linear-gradient(#ccc, #b9b9b9);
	background: linear-gradient(#ccc, #b9b9b9);
	border: 1px solid #a5a5a5;
	border-radius: 0.125em 0.125em 0 0;
	font: 1.5em/1.75em 'pt sans narrow', 'trebuchet ms', arial;
	padding: 0 0.75em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.title_feed_reader a:hover
{
	text-decoration: underline;
}

.title_feed_reader .title_second
{
	float: right;
}

/* @section 3. space between elements */

.box_feed_reader + .title_feed_reader
{
	margin-top: 2em;
}
