/**
 * @tableofcontents
 *
 * 1. icon
 */

/** @section 1. icon */

@font-face
{
	font-family: var(--rs-admin-font-icon);
	src: url('../../../../templates/admin/dist/fonts/icon.woff2') format('woff2');
}

%rs-admin-icon-account
{
	content: '\f101';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-alert-circle-outline
{
	content: '\f102';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-bell
{
	content: '\f103';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-book-open-variant
{
	content: '\f104';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-check
{
	content: '\f105';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-check-circle-outline
{
	content: '\f106';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-chevron-down
{
	content: '\f107';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-chevron-right
{
	content: '\f108';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-close
{
	content: '\f109';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-close-circle-outline
{
	content: '\f10a';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-cog
{
	content: '\f10b';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-cube-outline
{
	content: '\f10c';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-delete
{
	content: '\f10d';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-eye-off
{
	content: '\f10e';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-help-circle-outline
{
	content: '\f10f';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-lock
{
	content: '\f110';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-minus
{
	content: '\f111';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-pencil
{
	content: '\f112';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-plus
{
	content: '\f113';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-power
{
	content: '\f114';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}

%rs-admin-icon-subdirectory-arrow-right
{
	content: '\f115';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}
