/**
 * @tableofcontents
 *
 * 1. icon
 */

/** @section 1. icon */

@font-face
{
	font-family: var(--rs-admin-font-icon);
	src: url('../../../../templates/admin/dist/fonts/icon.woff2') format('woff2');
}
<% glyphs.forEach((value, index) =>
{
%>
%rs-admin-icon-<%=value%>
{
	content: '\<%=codepoints[index]%>';
	font-family: var(--rs-admin-font-icon);
	font-weight: 400;
}
<%
})
%>