/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 base color
 *    1.2 note color
 *    1.3 font
 */

/** @section 1. variable */

:root
{
	/** @section 1.1 base color */

	--rs-admin-color-primary: #2db4fa;
	--rs-admin-color-secondary: #e82d1f;
	--rs-admin-color-tertiary: #31af40;
	--rs-admin-color-primary-light: color(var(--rs-admin-color-primary) l(50%));
	--rs-admin-color-secondary-light: color(var(--rs-admin-color-secondary) l(60%));
	--rs-admin-color-tertiary-light: color(var(--rs-admin-color-tertiary) l(50%));

	/** @section 1.2 note color */

	--rs-admin-color-success: #31af40;
	--rs-admin-color-warning: #ffa52d;
	--rs-admin-color-error: #e82d1f;
	--rs-admin-color-info: #2db4fa;
	--rs-admin-color-success-dark: color(var(--rs-admin-color-success) b(70%) saturation(+50%));
	--rs-admin-color-warning-dark: color(var(--rs-admin-color-warning) b(55%) saturation(+50%));
	--rs-admin-color-error-dark: color(var(--rs-admin-color-error) b(55%) saturation(+50%));
	--rs-admin-color-info-dark: color(var(--rs-admin-color-info) b(50%) saturation(+50%));

	/** @section 1.3 font */

	--rs-admin-font-primary: 'yanone kaffeesatz', arial, sans-serif;
	--rs-admin-font-secondary: arial, sans-serif;
	--rs-admin-font-code: monospace, arial, sans-serif;
	--rs-admin-font-icon: 'icon admin';
}