/**
 * @tableofcontents
 *
 * 1. variable
 *    1.1 base color
 *    1.2 note color
 *    1.3 gradient
 *    1.4 font
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. variable */

:root
{
	/* @section 1.1 base color */

	--rs-admin-color-primary: #0090db;
	--rs-admin-color-primary-light: color(var(--rs-admin-color-primary) w(30%) saturation(+30%));

	/* @section 1.2 note color */

	--rs-admin-color-success: #4c8c00;
	--rs-admin-color-warning: #e08400;
	--rs-admin-color-error: #a20000;
	--rs-admin-color-success-light: color(var(--rs-admin-color-success) w(30%) saturation(+30%));
	--rs-admin-color-warning-light: color(var(--rs-admin-color-warning) w(30%) saturation(+30%));
	--rs-admin-color-error-light: color(var(--rs-admin-color-error) w(30%) saturation(+30%));

	/* @section 1.3 gradient */

	--rs-admin-gradient-primary: linear-gradient(var(--rs-admin-color-primary-light), var(--rs-admin-color-primary));
	--rs-admin-gradient-secondary: linear-gradient(var(--rs-admin-color-error-light), var(--rs-admin-color-error));
	--rs-admin-gradient-tertiary: linear-gradient(var(--rs-admin-color-success-light), var(--rs-admin-color-success));
	--rs-admin-gradient-quaternary: linear-gradient(gray(226), gray(218));
	--rs-admin-gradient-quinary: linear-gradient(gray(195), gray(190));
	--rs-admin-gradient-senary: linear-gradient(gray(60), gray(48));

	/* @section 1.4 font */

	--rs-admin-font-primary: 'open sans condensed', arial, sans-serif;
	--rs-admin-font-secondary: arial, sans-serif;
	--rs-admin-font-icon: 'icon admin';
}