/**
 * @tableofcontents
 *
 * 1. accordion
 *    1.1 label
 *    1.2 box
 */

/** @section 1. accordion */

.rs-admin-component-accordion
{
	font: 1.25rem var(--rs-admin-font-primary);
}

/** @section 1.1 label */

.rs-admin-label-accordion
{
	background: gray(230);
	color: gray(70);
	cursor: pointer;
	display: flex;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;

	&:hover
	{
		background: gray(240);
	}

	&:after
	{
		@extend %rs-admin-icon-plus;
		flex: 1;
		font-size: 1.5rem;
		text-align: right;
	}

	& ~ .rs-admin-label-accordion
	{
		border-top: 0.125rem solid gray(185);
	}
}

.rs-admin-fn-status-accordion:checked + .rs-admin-label-accordion
{
	background: gray(30);
	color: gray(200);

	&:after
	{
		@extend %rs-admin-icon-minus;
	}
}

/** @section 1.2 box */

.rs-admin-box-accordion
{
	background: gray(230);
	padding: 0.5em 1em;
}
