/**
 * @tableofcontents
 *
 * 1. accordion
 *    1.1 title
 *    1.2 box
 *    1.3 javascript enabled
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. accordion */

.rs-admin-component-accordion
{
	font: 1.25rem var(--rs-admin-font-primary);
}

/* @section 1.1 title */

.rs-admin-title-accordion
{
	background: gray(230);
	box-sizing: border-box;
	color: gray(70);
	font-size: 1em;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;
	width: 100%;
}

.rs-admin-set-accordion + .rs-admin-set-accordion .rs-admin-title-accordion:not(.rs-admin-title-active)
{
	border-top: 0.125rem solid gray(185);
}

/* @section 1.2 box */

.rs-admin-box-accordion
{
	background: gray(230);
	padding: 0.5em 1em;
}

/* @section 1.3 javascript enabled */

.rs-is-js
{
	& .rs-admin-title-accordion
	{
		cursor: pointer;

		&:hover
		{
			background: gray(240);
		}

		&:after
		{
			@extend %rs-admin-icon-add;
			float: right;
			font-size: 1.5rem;
		}

		&.rs-admin-title-active
		{
			background: gray(30);
			color: gray(200);
			pointer-events: none;

			&:after
			{
				@extend %rs-admin-icon-remove;
			}
		}
	}

	& .rs-admin-box-accordion
	{
		display: none;
	}
}