/**
 * @tableofcontents
 *
 * 1. several admin boxes
 *    1.1 last element
 * 2. box dock admin
 *    2.1 description dock admin
 *    2.2 footer grid fix
 * 3. box panel admin
 * 4. box tab admin
 * 5. space between elements
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. several admin boxes */

.box_accordion_admin, .box_dialog_admin
{
	background: #e2e2e2;
	background: linear-gradient(#e2e2e2, #dadada);
	border: 1px solid #b9b9b9;
	border-top: 0;
	padding: 1em 1.5em;
}

.box_accordion_admin
{
	border-bottom-width: 0;
}

/* @section 1.1 last element */

.set_accordion_last .box_accordion_admin
{
	border-bottom-width: 1px;
}

/* @section 2. box dock admin */

.box_dock_admin
{
	background: url('templates/admin/assets/images/carbon.png') #222;
	font-size: 0.875rem;
	margin-bottom: 1em;
	margin-top: 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.8);
}

.box_dock_admin, .box_dock_admin a
{
	color: #b9b9b9;
}

/* @section 2.1 description dock admin */

.description_dock_admin
{
	float: right;
	font: bold 1.25em/2.5em 'open sans condensed', 'trebuchet ms', arial;
	margin-right: 1em;
	margin-left: 1em;
	min-width: 10em;
	text-align: right;
	text-transform: uppercase;
}

/* @section 2.2 footer grid fix */

.footer .box_dock_admin
{
	margin-left: 0.75rem;
	margin-right: 0.75rem;
}

/* @section 3. box panel admin */

.box_panel_admin
{
	background: url('templates/admin/assets/images/carbon.png') #222;
}

/* @section 4. box tab admin */

.box_tab_admin
{
	background: #e2e2e2;
	background: linear-gradient(#e2e2e2, #dadada);
	border: 1px solid #b9b9b9;
	padding: 1em 1.5em;
}

/* @section 5. space between elements */

.form_admin .box_note
{
	margin-top: 1em;
}