/**
 * @tableofcontents
 *
 * 1. button
 * 2. query
 *    2.1 medium max
 *    2.2 medium min
 */

/** @section 1. button */

.rs-admin-button-default
{
	@extend %rs-admin-button;
	background: gray(20);
	color: gray(100);

	&:hover
	{
		background: gray(30);
	}

	&:active
	{
		background: var(--rs-admin-color-primary);
	}

	&[disabled]
	{
		background: gray(80);
		color: gray(60);
	}

	&.rs-admin-button-create
	{
		background: var(--rs-admin-color-tertiary);

		&:hover
		{
			background: var(--rs-admin-color-tertiary-light);
		}
	}

	&.rs-admin-button-delete,
	&.rs-admin-button-uninstall
	{
		background: var(--rs-admin-color-secondary);

		&:hover
		{
			background: var(--rs-admin-color-secondary-light);
		}
	}
}

.rs-admin-button-default + .rs-admin-wrapper-table
{
	margin-top: 1em;
}

/** @section 2. query */

/** @section 2.1 medium max */

@media (--media-medium-max)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-top: 1em;
	}
}

/** @section 2.2 medium min */

@media (--media-medium-min)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-left: 1em;
	}

	.rs-admin-wrapper-button
	{
		display: flex;
		flex: 1;

		& .rs-admin-button-default + .rs-admin-button-default:last-child
		{
			margin-left: auto;
		}
	}
}