/**
 * @tableofcontents
 *
 * 1. button admin
 *    1.1 hover effect
 *    1.2 active effect
 *    1.3 icons
 * 2. disabled and readonly
 * 3. space between elements
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button admin */

.rs-admin-button-default
{
	background: linear-gradient(#3b3b3b, #303030);
	border-radius: 0.125em;
	cursor: pointer;
	display: inline-block;
	font: bold 0.875rem/2.5em arial;
	padding: 0 1em;
	text-decoration: none;
	text-transform: uppercase;
}

.rs-admin-button-default,
a.rs-admin-button-default
{
	color: #ccc;
}

/* @section 1.1 hover effect */

.rs-admin-button-default:hover
{
	background: linear-gradient(#474747, #3b3b3b);
	color: #eee;
}

/* @section 1.2 active effect */

.rs-admin-button-default:active
{
	background: linear-gradient(#4cb4ff, #0090db);
	color: #fff;
}

/* large */

.rs-admin-button-large
{
	font-size: 1rem;
}

/* @section 1.3 icons */

.rs-admin-button-default.rs-admin-button-plus:before,
.rs-admin-button-default.rs-admin-button-cancel:before,
.rs-admin-button-default.rs-admin-button-submit:before
{
	font: 1rem 'icon admin';
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

.rs-admin-button-default.rs-admin-button-plus:before
{
	content: 'f';
}

.rs-admin-button-default.rs-admin-button-cancel:before
{
	content: '\78';
}

.rs-admin-button-default.rs-admin-button-submit:before
{
	content: '\2713';
}

/* @section 2. disabled and readonly */

.rs-admin-button-default[disabled]
{
	background: #ccc;
	color: #9e9e9e;
	pointer-events: none;
}

/* @section 3. space between elements */

.rs-admin-box-dialog .rs-admin-button-default,
.rs-admin-form-default .rs-admin-button-default,
.rs-admin-box-messenger + .rs-admin-button-messenger
{
	margin-top: 1em;
}