/**
 * @tableofcontents
 *
 * 1. button admin
 *    1.1 hover effect
 *    1.2 active effect
 *    1.3 icons
 * 2. disabled and readonly
 * 3. space between elements
 * 3. small min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. button admin */

.rs-admin-button-default
{
	background: var(--rs-admin-gradient-senary);
	border-radius: 0.125em;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font: bold 0.875rem/2.5em var(--rs-admin-font-secondary);
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.rs-admin-button-default,
a.rs-admin-button-default
{
	color: gray(255);
}

.rs-admin-button-create
{
	background: var(--rs-admin-gradient-tertiary);
}

.rs-admin-button-delete,
:root .rs-admin-button-delete
{
	background: var(--rs-admin-gradient-secondary);
	color: gray(255);
}

/* @section 1.1 hover effect */

.rs-admin-button-default:hover
{
	background: gray(48);
}

.rs-admin-button-create:hover
{
	background: var(--rs-admin-color-success);
}

.rs-admin-button-delete:hover,
:root .rs-admin-button-delete:hover
{
	background: var(--rs-admin-color-error);
}

/* @section 1.2 active effect */

.rs-admin-button-default:active
{
	background: var(--rs-admin-gradient-primary);
	color: gray(255);
}

/* large */

.rs-admin-button-large
{
	font-size: 1rem;
}

/* @section 2. disabled and readonly */

.rs-admin-button-default[disabled]
{
	background: gray(204);
	color: gray(158);
	pointer-events: none;
}

/* @section 3. space between elements */

.rs-admin-form-default .rs-admin-button-default
{
	margin-top: 1em;
}

.rs-admin-wrapper-button
{
	margin-bottom: 1em;
}

@media (--media-small-max)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-top: 0.75em;
	}
}

/* @section 3. small min */
@media (--media-medium-min)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-left: 0.5em;
	}
}

@media (--media-small-min)
{
	.rs-admin-form-default .rs-admin-button-cancel,
	.rs-admin-form-default .rs-admin-button-delete
	{
		float: left;
	}

	.rs-admin-form-default .rs-admin-button-save,
	.rs-admin-form-default .rs-admin-button-create
	{
		float: right;
	}
}