/**
 * @tableofcontents
 *
 * 1. code
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. code */

.rs-admin-code-default
{
	background: gray(240);
	border: 0.125rem solid gray(215);
	color: gray(100);
	display: block;
	font: 0.75em/1.25em var(--rs-admin-font-code);
	padding: 1em;
	white-space: pre-wrap;

	& + .rs-admin-code-default
	{
		margin-top: 1em;
	}
}

.rs-admin-text-documentation + .rs-admin-code-default
{
	margin-top: 1em;
}