/**
 * @tableofcontents
 *
 * 1. control
 */

/** @section 1. control */

.rs-admin-list-control
{
	font: bold 0.75rem var(--rs-admin-font-secondary);
	margin-left: -0.25em;
	margin-top: 1em;

	& li
	{
		display: inline-block;
		margin: 0.25em;
	}

	& a,
	& span
	{
		background: gray(80);
		border-radius: 0.125em;
		color: gray(40);
		display: block;
		line-height: 2.5em;
		padding: 0 0.75em;
		text-align: center;
		white-space: nowrap;
	}

	& a:hover
	{
		background: var(--rs-admin-color-primary);
		color: gray(100);
	}

	& .rs-admin-item-delete a:hover,
	& .rs-admin-item-uninstall a:hover
	{
		background: var(--rs-admin-color-secondary);
	}
}
