/**
 * @tableofcontents
 *
 * 1. list control admin
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list control admin */

.rs-admin-item-control
{
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}

.rs-admin-list-control a,
.rs-admin-list-control span
{
	background: var(--rs-admin-gradient-quinary);
	border-radius: 0.25em;
	color: gray(100);
	display: inline-block;
	line-height: 2em;
	padding: 0 0.75em;
	text-decoration: none;
}

.rs-admin-list-control a:hover
{
	background: var(--rs-admin-gradient-primary);
	color: gray(255);
}

.rs-admin-list-control span
{
	color: gray(150);
}

/* delete and uninstall */

.rs-admin-item-delete a:hover,
.rs-admin-item-uninstall a:hover
{
	background: var(--rs-admin-gradient-secondary);
	color: gray(255);
}

/* space */

.rs-admin-table-default .rs-admin-list-control
{
	margin-top: 0.5em;
}

@media (--media-small-max)
{
	.rs-admin-item-control.rs-admin-item-enable,
	.rs-admin-item-control.rs-admin-item-disable,
	.rs-admin-item-control.rs-admin-item-publish,
	.rs-admin-item-control.rs-admin-item-unpublish
	{
		display: none;
	}
}

@media (--media-medium-max)
{
	.rs-admin-item-control.rs-admin-item-future-posting
	{
		display: none;
	}
}