/**
 * @tableofcontents
 *
 * 1. dashboard
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dashboard */

.rs-admin-dashboard
{
	background: gray(255);
	padding: 1em;
}

.rs-admin-dashboard:empty
{
	display: none;
}