/**
 * @tableofcontents
 *
 * 1. dashboard
 *    1.1 list
 *    1.2 item
 *    1.3 title
 * 2. query
 *    2.1 medium min
 */

/** @section 1. dashboard */

/** @section 1.1 list */

.rs-admin-list-dashboard
{
	background: gray(20);
	display: grid;
	font: 600 1.25rem var(--rs-admin-font-primary);
	grid-auto-flow: dense;
	grid-gap: 1em;
	padding: 1em;
}

/** @section 1.2 item */

.rs-admin-item-dashboard
{
	align-items: center;
	background: gray(10);
	color: gray(70);
	display: flex;
	flex-wrap: wrap;
	font-weight: 600;
	height: 5em;
	justify-content: center;
	padding: 1em;

	&:empty:after
	{
		@extend %rs-admin-icon-cube-outline;
		font-size: 2.5em;
		line-height: 2em;
	}
}

/** @section 1.3 title */

.rs-admin-title-dashboard
{
	flex-basis: 100%;
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-small-min)
{
	.rs-admin-list-dashboard
	{
		grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	}

	.rs-admin-item-dashboard
	{
		&[data-column="2"]
		{
			grid-column: span 2;
		}

		&[data-column="3"]
		{
			grid-column: span 3;
		}
	}
}
