/**
 * @tableofcontents
 *
 * 1. link dock admin
 *    1.1 icons
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. link dock admin */

/* TODO: add a dock.css to the default template to fix too long text issues like https://snag.gy/zGZ6Lt.jpg */
/* TODO: optional: icon only view with width: 33% / flexbox instead of width: 3em https://snag.gy/hkD8W4.jpg */

.rs-admin-link-dock
{
	float: left;
	height: 3.125em;
	position: relative;
	text-indent: -999em;
	width: 3em;
}

.rs-admin-link-dock:hover
{
	background: var(--rs-admin-gradient-primary);
	color: gray(0);
}

/* link delete */

.rs-admin-link-dock.rs-admin-link-delete:hover
{
	background: var(--rs-admin-gradient-secondary);
}

/* @section 1.1 icons */

.rs-admin-link-dock:before
{
	font: 1.25rem/2.75rem var(--rs-admin-font-icon);
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	top: 0;
}

.rs-admin-link-dock.rs-admin-link-unpublish:before
{
	content: 'p';
}

.rs-admin-link-dock.rs-admin-link-edit:before
{
	content: 'q';
}

.rs-admin-link-dock.rs-admin-link-delete:before
{
	content: 'r';
}
