/**
 * @tableofcontents
 *
 * 1. dock
 *    1.1 box
 *    1.2 link
 */

/** @section 1. dock */

/** @section 1.1 box */

.rs-admin-box-dock
{
	background: gray(10);
	color: gray(70);
	display: flex;
	font: 500 1rem var(--rs-admin-font-primary);
	margin-top: 0.5em;
}

/** @section 1.2 link */

.rs-admin-link-dock
{
	box-sizing: border-box;
	flex: 1;
	line-height: 3em;
	overflow: hidden;
	padding: 0 1em;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;

	&:hover
	{
		background: var(--rs-admin-color-primary);
		color: gray(0);
	}

	&.rs-admin-link-delete:hover
	{
		background: var(--rs-admin-color-secondary);
	}

	&:not(:hover)
	{
		text-indent: -999em;

		&:before
		{
			background-position: center;
			background-repeat: no-repeat;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			text-indent: 0;
			top: 0;
		}

		&.rs-admin-link-unpublish:before
		{
			background-image: svg-load('@mdi/svg/svg/eye-off.svg', fill = gray(70));
		}

		&.rs-admin-link-edit:before
		{
			background-image: svg-load('@mdi/svg/svg/pencil.svg', fill = gray(70));
		}

		&.rs-admin-link-delete:before
		{
			background-image: svg-load('@mdi/svg/svg/delete.svg', fill = gray(70));
		}
	}
}
