/**
 * @tableofcontents
 *
 * 1. field
 * 2. textarea
 * 3. query
 *    3.1 medium-min
 */

/** @section 1. field */

.rs-admin-field-default,
.rs-admin-field-select,
.rs-admin-field-textarea
{
	background: gray(95);
	border: 0.125rem solid gray(85);
	border-radius: 0.125em;
	color: gray(40);
	display: block;
	padding: 0.5em;
	transition: border-color 0.2s;
	width: 100%;

	&:hover
	{
		border-color: gray(65);
	}

	&:focus
	{
		border-color: var(--rs-admin-color-primary);
	}

	&[disabled],
	&[readonly]
	{
		opacity: 0.5;
	}
}

.rs-admin-field-default,
.rs-admin-field-select:not([multiple]),
.rs-admin-label-switch
{
	height: 2.5em;
}

/** @section 2. textarea */

.rs-admin-field-textarea
{
	min-height: 10em;
	resize: vertical;
}

.rs-admin-field-textarea.rs-admin-field-small
{
	min-height: 5em;
}

/** @section 3. switch */

.rs-admin-fn-status-switch
{
	display: none;

	&:checked + .rs-admin-label-switch:before
	{
		@extend %rs-admin-icon-check;
		background: var(--rs-admin-color-primary);
		right: 50%;
	}

	&:not(:checked) + .rs-admin-label-switch:before
	{
		@extend %rs-admin-icon-close;
		background: gray(85);
		left: 50%;
	}
}

.rs-admin-label-switch
{
	background: gray(95);
	border: 0.125rem solid gray(85);
	border-radius: 0.125em;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	position: relative;
	transition: border-color 0.2s;

	&:hover
	{
		border-color: gray(65);
	}

	&:active
	{
		border-color: var(--rs-admin-color-primary);
	}

	&:before
	{
		bottom: 0.25em;
		color: gray(0 / 0.4);
		left: 0.25em;
		line-height: 1.875em;
		position: absolute;
		right: 0.25em;
		text-align: center;
		top: 0.25em;
		transition: left 0.2s, right 0.2s;
	}
}

/** @section 4. query */

/** @section 4.1 medium-min */

@media (--media-medium-min)
{
	.rs-admin-field-default,
	.rs-admin-field-select,
	.rs-admin-field-textarea.rs-admin-field-small
	{
		width: 50%;
	}

	.rs-admin-label-switch
	{
		width: 4.5em;
	}
}
