/**
 * @tableofcontents
 *
 * 1. form
 */

/** @section 1. form */

.rs-admin-form-default
{
	font-size: 1.25rem;

	& > ul > li + li
	{
		margin-top: 0.5em;
	}

	& .rs-admin-label-default
	{
		color: gray(40);
		display: block;
		margin-bottom: 0.25em;

		&:after
		{
			content: ':';
		}
	}

	& .rs-admin-button-default
	{
		margin-top: 1em;
	}
}
