/**
 * @tableofcontents
 *
 * 1. form default
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. form default */

.rs-admin-form-default
{
	font-size: 1.25rem;

	& fieldset li
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	& .rs-admin-label-default
	{
		color: gray(100);
		display: block;
		font-weight: bold;

		& :after
		{
			content: ':';
		}
	}

	& .rs-admin-label-message:after
	{
		content: ':\00a0' attr(data-message);
	}
}
