/**
 * @tableofcontents
 *
 * 1. form default
 * 2. query
 *    2.1 small min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. form default */

.rs-admin-form-default
{
	font-size: 1.25rem;

	& fieldset li
	{
		margin-bottom: 0.5em;
		margin-top: 0.5em;
	}

	& .rs-admin-label-default
	{
		color: gray(100);
		display: block;

		&:after
		{
			content: ':';
		}
	}

	& .rs-admin-label-message:after
	{
		content: ':\00a0' attr(data-message);
	}

	& .rs-admin-button-default
	{
		margin-top: 1em;
	}
}

/* @section 2. query */

/* @section 2.1 small min */

@media (--media-small-min)
{
	.rs-admin-form-default
	{
		& .rs-admin-button-cancel,
		& .rs-admin-button-delete
		{
			float: left;
		}

		& .rs-admin-button-save,
		& .rs-admin-button-create
		{
			float: right;
		}
	}
}