/**
 * @tableofcontents
 *
 * 1. panel admin
 * 2. wrapper
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. panel admin */

.admin-panel-admin
{
	position: relative;
	z-index: 900;
}

.admin-panel-admin a, .admin-panel-admin a:hover
{
	text-decoration: none;
}

/* @section 2. wrapper */

.admin-wrapper-button-admin
{
	margin-bottom: 1em;
}

.admin-wrapper-table-admin
{
	overflow: hidden;
}

.admin-wrapper-table-admin > .admin-table-admin
{
	width: 100%;
}