/**
 * @tableofcontents
 *
 * 1. list control admin
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list control admin */

.rs-admin-item-control
{
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}