/**
 * @tableofcontents
 *
 * 2. list control admin
 *    3.1 icons before
 *    3.2 icons after
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 2. list control admin */

.rs-admin-item-control
{
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
}

.rs-admin-item-panel
{
	position: relative;
}

/* link logout */

.rs-admin-item-panel.rs-admin-item-logout a:hover
{
	background: linear-gradient(#d50000, #a20000);
}

/* @section 3.1 icons before */

.rs-admin-item-panel > a:before, .rs-admin-item-panel > span:before
{
	font: 1.25rem/1.5rem 'icon admin';
	margin-right: 1em;
	vertical-align: middle;
	text-transform: lowercase;
}

.rs-admin-item-panel.rs-admin-item-contents > span:before
{
	content: 'i';
}

.rs-admin-item-panel.rs-admin-item-access > span:before
{
	content: 'j';
}

.rs-admin-item-panel.rs-admin-item-system > span:before
{
	content: 'k';
}

.rs-admin-item-panel.rs-admin-item-profile > a:before, .rs-admin-item-panel.rs-admin-item-profile > span:before
{
	content: 'l';
}

.rs-admin-item-panel.rs-admin-item-logout > a:before
{
	content: 'n';
}

/* @section 3.2 icons after */

.rs-admin-item-panel > span:after
{
	content: '˃';
	font: 1.5rem/1.75rem 'icon admin';
	position: absolute;
	right: 0.75em;
	top: 0;
}

.rs-admin-item-panel.rs-admin-item-active > span:after
{
	content: '˅';
}