/**
 * @tableofcontents
 *
 * 1. wrapper
 * 2. space between elements
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. wrapper */

.rs-admin-wrapper-table
{
	overflow: hidden;
}

.rs-admin-wrapper-table > table
{
	width: 100%;
}

/* @section 2. space between elements */

.rs-admin-wrapper-button
{
	margin-bottom: 1em;
}