/**
 * @tableofcontents
 *
 * 1. list control admin
 * 2. list panel admin
 * 3. list tab admin
 *    3.1 javascript enabled
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list control admin */

.rs-admin-list-control a, .rs-admin-list-control span
{
	background: linear-gradient(#bbb, #b9b9b9);
	border-radius: 0.25em;
	color: #666;
	display: inline-block;
	line-height: 2em;
	padding: 0 0.75em;
	text-decoration: none;
}

.rs-admin-list-control a:hover
{
	background: linear-gradient(#4cb4ff, #0090db);
	color: #fff;
}

.rs-admin-list-control span
{
	color: #999;
}

/* @section 2. list panel admin */

.rs-admin-list-panel
{
	font-size: 0.875rem;
}

.rs-admin-list-panel a, .rs-admin-list-panel span
{
	color: #b9b9b9;
	cursor: pointer;
	display: block;
	font: bold 1.25rem/2.5rem 'open sans condensed', 'trebuchet ms', arial;
	padding: 0 1em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.6);
	text-transform: uppercase;
	transition: padding-left 0.3s;
}

.rs-admin-list-panel a:hover, .rs-admin-list-panel span:hover
{
	background: linear-gradient(#3db1f1, #0090db);
	color: #000;
	padding-left: 1.25em;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}

.rs-admin-list-panel-children
{
	display: none;
}

/* @section 3. list tab admin */

.rs-admin-list-tab li
{
	background: url('/templates/admin/assets/images/carbon.png') #222;
	border: 1px solid #222;
	border-radius: 0.25em 0.25em 0 0;
	margin-bottom: -1px;
	margin-right: 0.25em;
	vertical-align: bottom;
}

.rs-admin-list-tab > li + li
{
	margin-left: 0.125em;
}

.rs-admin-list-tab a
{
	color: #ccc;
	font: bold 1.25rem/2rem 'open sans condensed', 'trebuchet ms', arial;
	text-transform: uppercase;
}

.rs-admin-list-tab a:hover
{
	text-decoration: none;
}

.rs-admin-list-tab .rs-admin-item-active
{
	border-radius: 0.125em 0.125em 0 0;
	padding: 0.5em 1em;
}

.rs-admin-list-tab .rs-admin-item-active a
{
	color: #fff;
}

.rs-admin-list-tab > li
{
	padding: 0.25em 1em;
}

.rs-admin-list-tab > li:hover
{
	cursor: pointer;
}

.rs-admin-list-tab > li:hover a
{
	color: #fff;
}

/* @section 3.1 javascript enabled */

.rs-js .rs-admin-list-tab .rs-admin-item-active
{
	background: linear-gradient(#dadada, #e2e2e2 40%, #e2e2e2);
	border: 1px solid #b9b9b9;
	border-bottom-color: #e2e2e2;
	pointer-events: none;
}

.rs-js .rs-admin-list-tab .rs-admin-item-active a
{
	color: #474747;
}