/**
 * @tableofcontents
 *
 * 1. list control admin
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list control admin */

.rs-admin-table-default .rs-admin-list-control
{
	margin-top: 0.5em;
}

.rs-admin-list-control a,
.rs-admin-list-control span
{
	background: var(--rs-admin-gradient-quinary);
	border-radius: 0.25em;
	color: gray(102);
	display: inline-block;
	line-height: 2em;
	padding: 0 0.75em;
	text-decoration: none;
}

.rs-admin-list-control a:hover
{
	background: var(--rs-admin-gradient-primary);
	color: gray(255);
}

.rs-admin-list-control span
{
	color: gray(153);
}

/* delete and uninstall */

.rs-admin-item-delete a:hover,
.rs-admin-item-uninstall a:hover
{
	background: var(--rs-admin-gradient-secondary);
	color: gray(255);
}