/**
 * @tableofcontents
 *
 * 1. note
 *    1.1 title
 *    1.2 box
 *    1.3 list
 *    1.4 button
 * 2. success
 * 3. info
 * 4. warning
 * 5. error
 *
 * @since 3.2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. note */

/* @section 1.1 title */

.rs-admin-title-note
{
	font-size: 2.5em;

	& + .rs-admin-box-note
	{
		margin-top: 0.5em;
	}
}

/* @section 1.2 box */

.rs-admin-box-note
{
	border-radius: 0.125em;
	font-size: 1.5em;
	font-weight: bold;
	padding: 0.5em;

	&:before
	{
		float: left;
		font-size: 1.25em;
		width: 1.5em;
	}

	& a
	{
		text-decoration: underline;
	}

	& + .rs-admin-box-note,
	& + .rs-admin-button-note
	{
		margin-top: 1em;
	}
}

/* @section 1.3 list */

.rs-admin-list-note
{
	float: left;

	& li
	{
		list-style: inside decimal;
	}
}

/* @section 1.4 button */

.rs-admin-button-note
{
	@extend %rs-admin-button;
}

/* @section 2. success */

.rs-admin-is-success
{
	color: var(--rs-admin-color-success-dark);

	&.rs-admin-box-note,
	&.rs-admin-button-note,
	&.rs-admin-field-note,
	&.rs-admin-field-note option,
	&.rs-admin-item-note
	{
		background: var(--rs-admin-color-success);
	}

	&.rs-admin-field-note
	{
		border-color: var(--rs-admin-color-success-dark);
	}

	&.rs-admin-box-note:before
	{
		@extend %rs-admin-icon-check-circle;
	}
}

/* @section 3. info */

.rs-admin-is-info
{
	color: var(--rs-admin-color-info-dark);

	&.rs-admin-box-note,
	&.rs-admin-button-note,
	&.rs-admin-field-note,
	&.rs-admin-field-note option,
	&.rs-admin-item-note
	{
		background: var(--rs-admin-color-info);
	}

	&.rs-admin-field-note
	{
		border-color: var(--rs-admin-color-info-dark);
	}

	&.rs-admin-box-note:before
	{
		@extend %rs-admin-icon-info;
	}
}

/* @section 4. warning */

.rs-admin-is-warning
{
	color: var(--rs-admin-color-warning-dark);

	&.rs-admin-box-note,
	&.rs-admin-button-note,
	&.rs-admin-field-note,
	&.rs-admin-field-note option,
	&.rs-admin-item-note
	{
		background: var(--rs-admin-color-warning);
	}

	&.rs-admin-field-note
	{
		border-color: var(--rs-admin-color-warning-dark);
	}

	&.rs-admin-box-note:before
	{
		@extend %rs-admin-icon-warning;
	}
}

/* @section 5. error */

.rs-admin-is-error
{
	color: var(--rs-admin-color-error-dark);

	&.rs-admin-box-note,
	&.rs-admin-button-note,
	&.rs-admin-field-note,
	&.rs-admin-field-note option,
	&.rs-admin-item-note
	{
		background: var(--rs-admin-color-error);
	}

	&.rs-admin-field-note
	{
		border-color: var(--rs-admin-color-error-dark);
	}

	&.rs-admin-box-note:before
	{
		@extend %rs-admin-icon-error;
	}
}