/**
 * @tableofcontents
 *
 * 1. success
 * 2. warning
 * 3. error
 * 4. info
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. success */

.rs-admin-note-success
{
	color: var(--rs-admin-color-success);
}

.rs-admin-note-success.rs-admin-box-note,
.rs-admin-note-success.rs-admin-field-note
{
	background: var(--rs-admin-color-success-light);
	border-color: var(--rs-admin-color-success);
}

.rs-admin-note-success.rs-admin-box-note,
.rs-admin-note-success.rs-admin-field-note,
.rs-admin-note-success.rs-admin-field-select
{
	color: gray(255);
}

.rs-admin-note-success.rs-admin-field-note option
{
	background: var(--rs-admin-color-success-light);
	color: gray(255);
}

/* @section 2. warning */

.rs-admin-note-warning
{
	color: var(--rs-admin-color-warning);
}

.rs-admin-note-warning.rs-admin-box-note,
.rs-admin-note-warning.rs-admin-field-note
{
	background: var(--rs-admin-color-warning-light);
	border-color: var(--rs-admin-color-warning);
}

.rs-admin-note-warning.rs-admin-box-note,
.rs-admin-note-warning.rs-admin-field-note,
.rs-admin-note-warning.rs-admin-field-select
{
	color: gray(255);
}

.rs-admin-note-warning.rs-admin-field-note option
{
	background: var(--rs-admin-color-warning-light);
	color: gray(255);
}

/* @section 3. error */

.rs-admin-note-error
{
	color: var(--rs-admin-color-error);
}

.rs-admin-note-error.rs-admin-box-note,
.rs-admin-note-error.rs-admin-field-note
{
	background: var(--rs-admin-color-error-light);
	border-color: var(--rs-admin-color-error);
}

.rs-admin-note-error.rs-admin-box-note,
.rs-admin-note-error.rs-admin-field-note,
.rs-admin-note-error.rs-admin-field-select
{
	color: gray(255);
}

.rs-admin-note-error.rs-admin-field-note option
{
	background: var(--rs-admin-color-error-light);
	color: gray(255);
}

/* @section 4. info */

.rs-admin-note-info
{
	color: var(--rs-admin-color-primary);
}

.rs-admin-note-info.rs-admin-box-note,
.rs-admin-note-info.rs-admin-field-note
{
	background: var(--rs-admin-color-primary-light);
	border-color: var(--rs-admin-color-primary);
}

.rs-admin-note-info.rs-admin-box-note,
.rs-admin-note-info.rs-admin-field-note,
.rs-admin-note-info.rs-admin-field-select
{
	color: gray(255);
}

.rs-admin-note-info.rs-admin-field-note option
{
	background: var(--rs-admin-color-primary-light);
	color: gray(255);
}