/**
 * @tableofcontents
 *
 * 1. success
 * 2. warning
 * 3. error
 * 4. info
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. success */

.rs-admin-note-success:not(:focus)
{
	color: #356216;
}

.rs-admin-note-success.rs-admin-box-note,
.rs-admin-note-success.rs-admin-field-note:not(:focus)
{
	background: #87c473;
	border-color: #356216;
}

.rs-admin-note-success.rs-admin-field-note option
{
	background: #87c473;
}

/* @section 2. warning */

.rs-admin-note-warning:not(:focus)
{
	color: #a6770c;
}

.rs-admin-note-warning.rs-admin-box-note,
.rs-admin-note-warning.rs-admin-field-note:not(:focus)
{
	background: #e6c56e;
	border-color: #a6770c;
}

.rs-admin-note-warning.rs-admin-field-note option
{
	background: #e6c56e;
}

/* @section 3. error */

.rs-admin-note-error:not(:focus)
{
	color: #c62e3d;
}

.rs-admin-note-error.rs-admin-box-note,
.rs-admin-note-error.rs-admin-field-note:not(:focus)
{
	background: #e3a2a7;
	border-color: #c62e3d;
}

.rs-admin-note-error.rs-admin-field-note option
{
	background: #e3a2a7;
}

/* @section 4. info */

.rs-admin-note-info:not(:focus)
{
	color: #286596;
}

.rs-admin-note-info.rs-admin-box-note,
.rs-admin-note-info.rs-admin-field-note:not(:focus)
{
	background: #7cb4e1;
	border-color: #286596;
}

.rs-admin-note-info.rs-admin-field-note option
{
	background: #7cb4e1;
}