/**
 * @tableofcontents
 *
 * 1. notification
 *    1.1 list
 */

/** @section 1. notification */

/** @section 1.1 list */

.rs-admin-list-notification
{
	background: gray(10);
	overflow: hidden;

	& .rs-admin-item-notification
	{
		margin: 0.5em;
		padding: 0.5em;
	}

	& .rs-admin-title-notification
	{
		text-transform: uppercase;
	}

	& .rs-admin-link-notification,
	& .rs-admin-text-notification
	{
		display: block;
	}

	& .rs-admin-link-notification + .rs-admin-link-notification,
	& .rs-admin-text-notification + .rs-admin-text-notification
	{
		margin-top: 0.5em;
	}

	& .rs-admin-link-notification
	{
		text-decoration: underline;
	}
}
