/**
 * @tableofcontents
 *
 * 1. panel
 *    1.1 list
 *    1.2 notification
 * 2. query
 *    2.1 medium min
 *    2.2 medium max
 */

/** @section 1. panel */

/** @section 1.1 list */

.rs-admin-list-panel
{
	color: gray(185);
	font: bold 1rem var(--rs-admin-font-primary);
	position: relative;
	z-index: 1000;

	& .rs-admin-label-panel,
	& .rs-admin-link-panel
	{
		background: gray(30);
		cursor: pointer;
		display: block;
		line-height: 3.5em;
		overflow: hidden;
		padding: 0 1em;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
	}

	& .rs-admin-label-panel:hover,
	& .rs-admin-link-panel:hover,
	& .rs-admin-text-panel-group:hover > .rs-admin-link-panel
	{
		background: var(--rs-admin-color-primary);
		color: gray(0);
	}

	& .rs-admin-item-panel-logout > .rs-admin-link-panel:hover
	{
		background: var(--rs-admin-color-secondary);
	}

	/* icons */

	& .rs-admin-label-panel-content,
	& .rs-admin-label-panel-access,
	& .rs-admin-label-panel-system,
	& .rs-admin-link-panel-profile,
	& .rs-admin-label-panel-notification,
	& .rs-admin-link-panel-logout
	{
		&:before
		{
			display: inline-block;
			font-size: 1.75em;
			margin-right: 0.5em;
			vertical-align: top;
		}
	}

	& .rs-admin-label-panel-content:before
	{
		@extend %rs-admin-icon-book-open-variant;
	}

	& .rs-admin-label-panel-access:before
	{
		@extend %rs-admin-icon-lock;
	}

	& .rs-admin-label-panel-system:before
	{
		@extend %rs-admin-icon-settings;
	}

	& .rs-admin-link-panel-profile:before
	{
		@extend %rs-admin-icon-account;
	}

	& .rs-admin-label-panel-notification:before
	{
		@extend %rs-admin-icon-bell;
	}

	& .rs-admin-link-panel-logout:before
	{
		@extend %rs-admin-icon-power;
	}

	/* group */

	& .rs-admin-text-panel-group
	{
		display: flex;

		& .rs-admin-link-panel-view
		{
			flex-grow: 1;
		}

		& .rs-admin-link-panel-new
		{
			position: relative;
			text-indent: -999em;
			width: 1.5em;

			&:hover:after
			{
				animation: rotate-right 0.5s;
			}

			&:after
			{
				@extend %rs-admin-icon-plus;
				font-size: 1.5em;
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
				text-indent: 0;
			}
		}
	}
}

/** @section 1.2 notification */

.rs-admin-label-panel-notification
{
	position: relative;

	& .rs-admin-sup-panel-notification
	{
		background: gray(185);
		border-radius: 50%;
		box-shadow: 0 0 0 0.25em gray(30);
		color: gray(30);
		font: bold 0.75em/1.5em var(--rs-admin-font-secondary);
		left: 2.5em;
		line-height: 1.25em;
		position: absolute;
		text-align: center;
		top: 0.75em;
		width: 1.25em;

		/* colors */

		&.rs-admin-is-success
		{
			background: var(--rs-admin-color-success);
		}

		&.rs-admin-is-info
		{
			background: var(--rs-admin-color-info);
		}

		&.rs-admin-is-warning
		{
			background: var(--rs-admin-color-warning);
		}

		&.rs-admin-is-error
		{
			background: var(--rs-admin-color-error);
		}
	}
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-admin-list-panel
	{
		display: flex;

		& > .rs-admin-item-panel
		{
			flex: 1;
			min-width: 0;

			& > .rs-admin-list-panel-children
			{
				left: 0;
				right: 0;
			}
		}
	}
}

/** @section 2.2 medium max */

@media (--media-medium-max)
{
	.rs-admin-item-panel
	{
		& .rs-admin-label-panel:after
		{
			@extend %rs-admin-icon-chevron-right;
			font-size: 1.75em;
			position: absolute;
			right: 0;
			text-align: center;
			width: 2em;
		}

		& .rs-admin-fn-status-panel:checked + .rs-admin-label-panel:after
		{
			@extend %rs-admin-icon-chevron-down;
		}
	}
}