/**
 * @tableofcontents
 *
 * 1. panel
 *    1.1 list
 *    1.2 notification
 *       1.2.1 counter
 *       1.2.2 list
 * 2. query
 *    2.1 medium min
 *    2.2 medium min and large max
 *    2.3 medium max
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. panel */

/* @section 1.1 list */

.rs-admin-list-panel
{
	color: gray(185);
	font: bold 1rem var(--rs-admin-font-primary);
	position: relative;
	z-index: 1000;

	& .rs-admin-link-panel,
	& .rs-admin-text-panel
	{
		background: gray(30);
		cursor: pointer;
		display: block;
		line-height: 3.5em;
		overflow: hidden;
		padding: 0 1em;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
	}

	& .rs-admin-item-panel .rs-admin-text-panel:hover,
	& .rs-admin-item-panel .rs-admin-link-panel:hover,
	& .rs-admin-text-panel-group:hover > .rs-admin-link-panel
	{
		background: var(--rs-admin-gradient-primary);
		color: gray(0);
	}

	& .rs-admin-item-logout > .rs-admin-link-panel:hover
	{
		background: var(--rs-admin-gradient-secondary);
	}

	/* icons */

	& .rs-admin-text-content:before,
	& .rs-admin-text-access:before,
	& .rs-admin-text-system:before,
	& .rs-admin-link-profile:before,
	& .rs-admin-text-notification:before,
	& .rs-admin-link-logout:before
	{
		display: inline-block;
		font-size: 1.75em;
		margin-right: 0.5em;
		margin-top: -0.125em;
		vertical-align: middle;
	}

	& .rs-admin-text-content:before
	{
		@extend %rs-admin-icon-import-contacts;
	}

	& .rs-admin-text-access:before
	{
		@extend %rs-admin-icon-lock;
	}

	& .rs-admin-text-system:before
	{
		@extend %rs-admin-icon-settings;
	}

	& .rs-admin-link-profile:before
	{
		@extend %rs-admin-icon-person;
	}

	& .rs-admin-text-notification:before
	{
		@extend %rs-admin-icon-notifications;
	}

	& .rs-admin-link-logout:before
	{
		@extend %rs-admin-icon-power-settings-new;
	}

	/* link group */

	& .rs-admin-text-panel-group
	{
		display: flex;
		justify-content: space-between;

		& .rs-admin-link-view
		{
			flex: 1 1 0;
		}

		& .rs-admin-link-new
		{
			position: relative;
			text-indent: -999em;
			width: 1.5em;

			&:hover:after
			{
				animation: rotate-right 0.5s;
			}

			&:after
			{
				@extend %rs-admin-icon-add;
				font-size: 1.5em;
				left: 0;
				position: absolute;
				right: 0;
				text-align: center;
				text-indent: 0;
			}
		}
	}
}

.rs-admin-list-panel-children
{
	display: none;
}

/* @section 1.2 notification */

/* @section 1.2.1 counter */

.rs-admin-text-notification
{
	position: relative;
}

.rs-admin-text-notification-counter
{
	border: 0.25em solid;
	border-radius: 50%;
	color: gray(30);
	font-size: 0.625em;
	height: 1.5em;
	left: 2.5em;
	line-height: 1.5em;
	position: absolute;
	text-align: center;
	top: 1em;
	width: 1.5em;
}

/* colors */

.rs-admin-has-success .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-success);
}

.rs-admin-has-info .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-info);
}

.rs-admin-has-warning .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-warning);
}

.rs-admin-has-error .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-error);
}

/* @section 1.2.2 list */

.rs-admin-list-panel-notification
{
	background: gray(30);
	overflow: hidden;

	& .rs-admin-item-panel-notification
	{
		margin: 0.5em;
		padding: 0.5em;
	}

	& .rs-admin-title-panel-notification
	{
		margin-bottom: 0.25em;
		text-transform: uppercase;
	}

	& .rs-admin-link-panel-notification,
	& .rs-admin-text-panel-notification
	{
		display: block;
	}

	& .rs-admin-link-panel-notification
	{
		text-decoration: underline;
	}
}

/* @section 2. query */

/* @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-admin-list-panel
	{
		& > .rs-admin-item-panel
		{
			float: left;
			position: relative;
		}

		&.rs-admin-has-column1 > .rs-admin-item-panel
		{
			width: 100%;
		}

		&.rs-admin-has-column2 > .rs-admin-item-panel
		{
			width: 50%;
		}

		&.rs-admin-has-column3 > .rs-admin-item-panel
		{
			width: 33.33%;
		}

		&.rs-admin-has-column4 > .rs-admin-item-panel
		{
			width: 25%;
		}

		&.rs-admin-has-column5 > .rs-admin-item-panel
		{
			width: 20%;
		}

		&.rs-admin-has-column6 > .rs-admin-item-panel
		{
			width: 16.66%;
		}
	}

	.rs-admin-list-panel-children
	{
		left: 0;
		position: absolute;
		width: 100%;

		& ul
		{
			left: 100%;
			top: 0;
		}
	}
}

/* @section 2.2 medium min and large max */

@media (--media-medium-min) and (--media-large-max)
{
	.rs-admin-list-panel-notification
	{
		width: 200%;
	}
}

/* @section 2.3 medium max */

@media (--media-medium-max)
{
	.rs-admin-item-panel
	{
		& > .rs-admin-text-panel:after
		{
			@extend %rs-admin-icon-chevron-right;
			font-size: 1.75em;
			position: absolute;
			right: 0;
			text-align: center;
			width: 2em;
		}

		&.rs-admin-item-active > .rs-admin-text-panel:after
		{
			@extend %rs-admin-icon-expand-more;
		}
	}

	.rs-admin-item-active .rs-admin-list-panel-children .rs-admin-link-panel,
	.rs-admin-item-active .rs-admin-list-panel-children .rs-admin-text-panel,
	.rs-admin-item-active .rs-admin-list-panel-notification
	{
		background: gray(40);
	}
}