/**
 * @tableofcontents
 *
 * 1. panel
 * 2. item panel
 *    2.1 link panel
 *    2.2 icons before
 *    2.3 icons after
 * 3. list panel
 *    3.1 general
 *    3.2 panel children
 *    3.3 panel children link
 *    3.4 list notification
 * 5. query
 *    5.1 medium min
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. panel */

.rs-admin-component-panel
{
	background: gray(32);
	position: relative;
	z-index: 900;

	& a,
	& a:hover
	{
		text-decoration: none;
	}
}

/* @section 2. item panel */

.rs-admin-item-panel
{
	position: relative;

	& > a,
	& > span
	{
		overflow: hidden;
		padding: 0 0.75em;
		text-overflow: ellipsis;
		text-transform: uppercase;
		white-space: nowrap;
	}
}

/* link logout */

.rs-admin-item-panel.rs-admin-item-logout a:hover
{
	background: var(--rs-admin-gradient-secondary);
}

/* @section 2.1 link panel */

.rs-admin-list-panel-children > li > .rs-admin-link-panel
{
	padding: 0 0.75em;
}

/* @section 2.2 icons before */

.rs-admin-item-panel > a:before,
.rs-admin-item-panel > span:before
{
	font: 1.25em/1.5em var(--rs-admin-font-icon);
	margin-right: 1em;
	text-transform: lowercase;
	vertical-align: middle;
}

.rs-admin-text-content:before
{
	content: 'i';
}

.rs-admin-text-access:before
{
	content: 'j';
}

.rs-admin-text-system:before
{
	content: 'k';
}

.rs-admin-link-profile:before
{
	content: 'l';
}

.rs-admin-text-notification:before
{
	content: 'U';
}

.rs-admin-link-logout:before
{
	content: 'n';
}

/* @section 2.3 icons after */

.rs-admin-item-panel > span:after
{
	content: '˃';
	font: 1.375em/1.25em var(--rs-admin-font-icon);
	position: absolute;
	right: 1.375em;
	top: 0.375em;
}

.rs-admin-item-panel.rs-admin-item-active > span:after
{
	content: '˅';
}

@media (--media-medium-min)
{
	.rs-admin-list-panel .rs-admin-item-panel > span:after
	{
		content: '';
	}
}

/* @section 3. list panel */

/* @section 3.1 general */

.rs-admin-list-panel
{
	font-size: 0.875rem;

	& a,
	& span
	{
		box-sizing: border-box;
		color: gray(185);
		cursor: pointer;
		display: block;
		font: bold 1rem/2.75rem var(--rs-admin-font-primary);
	}
}

@media (--media-medium-min)
{
	.rs-admin-list-panel
	{
		& a,
		& span
		{
			line-height: 3.625em;
		}

		& > li
		{
			float: left;
			position: relative;
		}
	}
}

.rs-admin-list-panel a:hover,
.rs-admin-list-panel span:hover,
.rs-admin-list-panel span:hover a
{
	background: var(--rs-admin-gradient-primary);
	color: gray(0);
}

/* @section 3.2 panel children */

.rs-admin-title-panel
{
	color: gray(185);
	font: bold 1rem/1.5rem var(--rs-admin-font-primary);
	margin-top: 1em;
	padding: 0 0.5em;
	text-transform: uppercase;
}

.rs-admin-list-panel li:hover .rs-admin-list-panel-children
{
	background: gray(32);
}

.rs-admin-item-panel:not(.rs-admin-item-notification) .rs-admin-list-panel-children
{
	text-transform: uppercase;
}

.rs-admin-list-panel-children
{
	display: none;
}

@media (--media-medium-max)
{
	.rs-admin-list-panel-children li
	{
		& > .rs-admin-link-panel,
		& > .rs-admin-wrapper-panel-link
		{
			padding-left: 3em;
		}
	}
}

@media (--media-medium-min)
{
	.rs-admin-list-panel-children
	{
		background: gray(32);
		position: absolute;
		width: 100%;

		& ul
		{
			left: 100%;
			top: 0;
		}
	}
}

/* @section 3.3 panel children link */

.rs-admin-list-panel .rs-admin-wrapper-panel-link
{
	display: flex;
	justify-content: space-between;
	padding: 0 0.75em;
}

.rs-admin-wrapper-panel-link .rs-admin-link-view
{
	flex: 1 1 0;
}

.rs-admin-list-panel .rs-admin-link-new
{
	position: relative;
	text-indent: -999em;
	width: 2.75em;
}

.rs-admin-list-panel .rs-admin-link-new:after
{
	content: 'f';
	font: 0.75em/1em var(--rs-admin-font-icon);
	left: 0;
	margin-top: -0.5em;
	position: absolute;
	right: 0;
	text-align: center;
	text-indent: 0;
	text-transform: none;
	top: 50%;
}

@media (--media-medium-min)
{
	.rs-admin-list-panel .rs-admin-link-new:after
	{
		text-align: right;
	}
}

/* TODO: use .rs-admin-item-panel, .rs-admin-item-panel li over rs-admin-list-panel for the general styling and hover effects */
/* TODO: this way you can exclude the notification by using .rs-admin-item-panel:not(...) */

/* @section 3.4 list notification */

.rs-admin-text-notification-counter
{
	border: 0.25em solid gray(32);
	border-radius: 50%;
	color: gray(32);
	font-size: 0.75em;
	height: 1.5em;
	left: 1.75em;
	line-height: 1.5em;
	position: absolute;
	text-align: center;
	top: 0.75em;
	width: 1.5em;
}

.rs-admin-has-info .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-primary);
}

.rs-admin-has-success .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-success);
}

.rs-admin-has-warning .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-warning);
}

.rs-admin-has-error .rs-admin-text-notification-counter
{
	background: var(--rs-admin-color-error);
}

.rs-admin-item-panel .rs-admin-list-panel-children-notification a,
.rs-admin-item-panel .rs-admin-list-panel-children-notification span
{
	line-height: 1.75em;
	padding: 0.5em 0.75em 0.5em 3em;
	position: relative;

	&:before
	{
		border-radius: 50%;
		color: gray(0);

		/* TODO: add the needed icons to the admin icon font */

		font: 0.875em/1.75em 'icon default';
		height: 1.75em;
		left: 0.625em;
		position: absolute;
		text-align: center;
		top: 0.75em;
		width: 1.75em;
	}

	&.rs-admin-is-success:before
	{
		background: var(--rs-admin-color-success);
		content: '\2714';
	}

	&.rs-admin-is-warning:before
	{
		background: var(--rs-admin-color-warning);
		content: '\21';
	}

	&.rs-admin-is-error:before
	{
		background: var(--rs-admin-color-error);
		content: '\d7';
	}

	&.rs-admin-is-info:before
	{
		background: var(--rs-admin-color-primary);
		content: '\69';
	}
}

@media (--media-medium-min) and (--media-large-max)
{
	.rs-admin-list-panel-children-notification
	{
		width: 200%;
	}
}

/* @section 5. query */

/* @section 5.1 medium min */

@media (--media-medium-min)
{
	.rs-admin-list-panel.rs-admin-has-column1 > li
	{
		width: 100%;
	}

	.rs-admin-list-panel.rs-admin-has-column2 > li
	{
		width: 50%;
	}

	.rs-admin-list-panel.rs-admin-has-column3 > li
	{
		width: 33.33%;
	}

	.rs-admin-list-panel.rs-admin-has-column4 > li
	{
		width: 25%;
	}

	.rs-admin-list-panel.rs-admin-has-column5 > li
	{
		width: 20%;
	}

	.rs-admin-list-panel.rs-admin-has-column6 > li
	{
		width: 16.66%;
	}
}