/**
 * @tableofcontents
 *
 * 1. medium max
 * 2. small max
 * 3. small min
 * 4. medium min
 * 5. rtl direction
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. medium max */

@media (--media-medium-max)
{
	.rs-admin-item-control.rs-admin-item-future-posting
	{
		display: none;
	}
}

/* @section 2. small max */

@media (--media-small-max)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-top: 0.75em;
	}

	a.rs-admin-button-default
	{
		display: block;
		text-align: center;
	}

	button.rs-admin-button-default,
	.rs-admin-field-default,
	.rs-admin-field-select,
	.rs-admin-field-text,
	.rs-admin-field-textarea.rs-field-small
	{
		width: 100%;
	}

	.rs-admin-description-dock, .rs-admin-item-control.rs-admin-item-enable, .rs-admin-item-control.rs-admin-item-disable, .rs-admin-item-control.rs-admin-item-publish, .rs-admin-item-control.rs-admin-item-unpublish
	{
		display: none;
	}
}

/* @section 3. small min */

@media (--media-small-min)
{
	.rs-admin-button-default + .rs-admin-button-default
	{
		margin-left: 0.5em;
	}

	.rs-admin-form-default .rs-admin-button-cancel,
	.rs-admin-form-default .rs-admin-button-delete
	{
		float: left;
	}

	.rs-admin-form-default .rs-admin-button-save,
	.rs-admin-form-default .rs-admin-button-create
	{
		float: right;
	}
}

/* @section 4. medium min */

@media (--media-medium-min)
{
	.rs-admin-sidebar .rs-admin-description-dock
	{
		display: none;
	}
}

/* @section 5. rtl direction */

.rs-admin-rtl .rs-admin-description-dock
{
	float: left;
}

.rs-admin-rtl .rs-admin-table-default .rs-admin-column-move
{
	text-align: right;
}
