/**
 * @tableofcontents
 *
 * 1. tab
 *    1.1 label
 *    1.2 box
 * 2. query
 *    2.1 medium min
 *    2.2 medium max
 */

/** @section 1. tab */

.rs-admin-component-tab
{
	font: 1.25rem var(--rs-admin-font-primary);
}

/** @section 1.1 label */

.rs-admin-label-tab
{
	display: flex;
	font-weight: 500;
	line-height: 2.5em;
	padding: 0 1em;
	text-transform: uppercase;
}

/** @section 1.2 box */

.rs-admin-box-tab
{
	background: gray(90);
	padding: 1em;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-admin-label-tab ~ .rs-admin-label-tab
	{
		margin-left: 0.25rem;
	}

	.rs-admin-fn-status-tab:checked + .rs-admin-label-tab
	{
		background: gray(90);
		color: gray(30);
	}

	.rs-admin-fn-status-tab:not(:checked) + .rs-admin-label-tab
	{
		background: gray(10);
		color: gray(80);
		cursor: pointer;
	}
}

/** @section 2.2 medium max */

@media (--media-medium-max)
{
	.rs-admin-label-tab
	{
		&:after
		{
			flex: 1;
			font-size: 1.5rem;
			text-align: right;
		}

		& ~ .rs-admin-label-tab
		{
			margin-top: 0.125rem;
		}
	}

	.rs-admin-fn-status-tab:checked + .rs-admin-label-tab
	{
		background: gray(10);
		color: gray(80);

		&:after
		{
			@extend %rs-admin-icon-minus;
		}
	}

	.rs-admin-fn-status-tab:not(:checked) + .rs-admin-label-tab
	{
		background: gray(90);
		color: gray(30);
		cursor: pointer;

		&:hover
		{
			background: gray(95);
		}

		&:after
		{
			@extend %rs-admin-icon-plus;
		}
	}
}
