/**
 * @tableofcontents
 *
 * 1. tab
 *    1.1 label
 *    1.2 box
 * 2. query
 *    2.1 medium min
 *    2.2 medium max
 */

/** @section 1. tab */

.rs-admin-component-tab
{
	font: 1.25rem var(--rs-admin-font-primary);
}

/** @section 1.1 label */

.rs-admin-label-tab
{
	cursor: pointer;
	display: flex;
	font-weight: bold;
	line-height: 2.5em;
	padding: 0 1em;
}

/** @section 1.2 box */

.rs-admin-box-tab
{
	background: gray(230);
	padding: 0.5em 1em;
}

/** @section 2. query */

/** @section 2.1 medium min */

@media (--media-medium-min)
{
	.rs-admin-label-tab
	{
		background: gray(30);
		color: gray(200);
		margin-right: 0.25em;
	}

	.rs-admin-fn-status-tab:checked + .rs-admin-label-tab
	{
		background: gray(230);
		color: gray(70);
	}
}

/** @section 2.2 medium max */

@media (--media-medium-max)
{
	.rs-admin-label-tab
	{
		background: gray(230);
		color: gray(70);

		&:hover
		{
			background: gray(240);
		}

		&:after
		{
			@extend %rs-admin-icon-plus;
			flex: 1;
			font-size: 1.5rem;
			text-align: right;
		}

		& ~ .rs-admin-label-tab
		{
			border-top: 0.125rem solid gray(185);
		}
	}

	.rs-admin-fn-status-tab:checked + .rs-admin-label-tab
	{
		background: gray(30);
		color: gray(200);

		&:after
		{
			@extend %rs-admin-icon-minus;
		}
	}
}
