/**
 * @tableofcontents
 *
 * 1. admin table
 *    1.1 body
 *    1.2 row group
 *    1.3 several elements
 *    1.4 list control admin
 *    1.5 move control
 *    1.6 head and foot
 *    1.7 column move
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. admin table */

.rs-admin-table-default
{
	color: gray(71);
}

.rs-admin-table-default caption,
.rs-admin-table-default td,
.rs-admin-table-default th
{
	text-align: left;
}

.rs-admin-table-default th ~ th:last-child,
.rs-admin-table-default td ~ td:last-child
{
	text-align: right;
}

/* @section 1.1 body */

.rs-admin-table-default tbody
{
	border: solid gray(185);
	border-width: 0 1px;
}

/* odd look */

.rs-admin-table-default tbody:nth-child(odd) tr
{
	background: gray(226);
}

/* even look */

.rs-admin-table-default tbody:nth-child(even) tr
{
	background: gray(218);
}

.rs-admin-table-default tbody + tbody tr,
.rs-admin-table-default tbody tr + tr
{
	border-top: 1px solid gray(185);
}

.rs-admin-table-default caption + tbody tr:last-child
{
	border-bottom: 1px solid gray(185);
}

.rs-admin-table-default tbody td
{
	padding: 0.25em 0.5em;
}

/* row disabled */

.rs-admin-table-default tbody .rs-admin-row-disabled
{
	background: gray(221);
	color: gray(185);
}

/* @section 1.2 row group */

.rs-admin-table-default tbody .rs-admin-row-group
{
	font-weight: bold;
	text-transform: uppercase;
}

.rs-admin-table-default tbody .rs-admin-row-group td
{
	padding: 1.25em 0.75em;
}

.rs-admin-table-default tbody .rs-admin-row-group td:before
{
	content: 's';
	font: 1.5rem var(--rs-admin-font-icon);
	margin-right: 0.5em;
	text-transform: lowercase;
	vertical-align: text-bottom;
}

/* @section 1.3 several elements */

.rs-admin-table-default tbody .rs-admin-link-parent
{
	color: gray(102);
	text-decoration: underline;
}

.rs-admin-table-default tbody .rs-admin-link-parent:hover
{
	color: gray(71);
}

.rs-admin-table-default tbody .rs-admin-link-view
{
	color: gray(71);
	font-weight: bold;
	text-decoration: underline;
}

.rs-admin-table-default tbody .rs-admin-icon-flag
{
	margin-right: 1em;
}

/* @section 1.4 list control admin */

.rs-admin-table-default tbody .rs-admin-list-control
{
	margin-top: 0.5em;
}

.rs-admin-desktop .rs-admin-table-default tbody .rs-admin-list-control
{
	visibility: hidden;
}

.rs-admin-desktop .rs-admin-table-default tbody tr:hover .rs-admin-list-control
{
	visibility: visible;
}

/* @section 1.5 move control */

.rs-admin-table-default .rs-button-moveup,
.rs-admin-table-default .rs-button-movedown
{
	color: gray(71);
	display: block;
	min-height: 2.5em;
	position: relative;
	transition: color 0.4s;
}

.rs-admin-table-default .rs-button-moveup:hover,
.rs-admin-table-default .rs-button-movedown:hover
{
	color: var(--rs-admin-color-primary);
}

.rs-admin-table-default .rs-button-moveup:before,
.rs-admin-table-default .rs-button-movedown:before
{
	display: block;
	font: 1.5rem var(--rs-admin-font-icon);
	position: absolute;
	right: 0.25em;
	text-indent: 0;
}

.rs-admin-table-default .rs-button-moveup:before
{
	content: 'b';
	top: 0.25em;
}

.rs-admin-table-default .rs-button-movedown:before
{
	bottom: 0.25em;
	content: 'c';
}

/* disabled move control */

.rs-admin-table-default span.rs-button-moveup:before,
.rs-admin-table-default span.rs-button-movedown:before
{
	color: gray(185);
}

/* @section 1.6 head and foot */

.rs-admin-table-default caption,
.rs-admin-table-default thead,
.rs-admin-table-default tfoot
{
	border: 1px solid gray(34);
}

.rs-admin-table-default caption,
.rs-admin-table-default thead tr,
.rs-admin-table-default tfoot tr
{
	background: gray(32);
	color: gray(204);
	font: bold 1.25rem var(--rs-admin-font-primary);
	text-transform: uppercase;
}

.rs-admin-table-default caption,
.rs-admin-table-default thead th,
.rs-admin-table-default tfoot td
{
	padding: 0.25em 0.5em;
}

/* @section 1.7 column move */

.rs-admin-table-default tr td.rs-admin-column-move,
.rs-admin-table-default tr th.rs-admin-column-move
{
	text-align: left;
	text-indent: -999em;
}

.rs-admin-table-default thead .rs-admin-column-move,
.rs-admin-table-default tfoot .rs-admin-column-move
{
	display: block;
	position: relative;
}

.rs-admin-table-default thead .rs-admin-column-move:before,
.rs-admin-table-default tfoot .rs-admin-column-move:before
{
	content: 'a';
	font: 1.25rem/2.375rem var(--rs-admin-font-icon);
	position: absolute;
	right: 1.125em;
	text-indent: 0;
	text-transform: lowercase;
	top: 0;
}