/**
 * @tableofcontents
 *
 * 1. table
 *    1.1 head and foot
 *    1.2 body
 * 2. wrapper table
 */

/** @section 1. table */

.rs-admin-table-default
{
	@extend %table-default;
	color: gray(30);
	font: 1.25rem var(--rs-admin-font-primary);

	& caption,
	& thead th,
	& tfoot td
	{
		font-weight: 500;
		text-transform: uppercase;
	}

	& caption,
	& th,
	& td
	{
		padding: 1em;
	}

	/** @section 1.1 head and foot */

	& caption,
	& thead tr,
	& tfoot tr
	{
		background: gray(10);
		color: gray(80);
	}

	/** @section 1.2 body */

	& tbody
	{
		background: gray(90);

		& tr:not(:last-child)
		{
			border-bottom: 0.125rem solid gray(100);
		}

		& tr.rs-admin-is-children td:first-child
		{
			padding-left: 1.5em;

			&:before
			{
				@extend %rs-admin-icon-subdirectory-arrow-right;
			}
		}

		& tr.rs-admin-is-corrupted
		{
			text-decoration: line-through;
		}

		& tr.rs-admin-is-disabled
		{
			color: gray(70);
		}

		& td > a
		{
			text-decoration: underline;
		}
	}
}

/** @section 2. wrapper table */

.rs-admin-wrapper-table
{
	@extend %wrapper-table;
}
