/**
 * @tableofcontents
 *
 * 1. table
 *    1.1 head and foot
 *    1.2 body
 *    1.3 move
 * 2. wrapper table
 */

/** @section 1. table */

.rs-admin-table-default
{
	@extend %table-default;
	color: gray(70);
	font: 1.25rem var(--rs-admin-font-primary);

	& caption,
	& th,
	& td
	{
		padding: 0.5em 1em;
	}

	/** @section 1.1 head and foot */

	& caption,
	& thead tr,
	& tfoot tr
	{
		background: gray(30);
		color: gray(200);
	}

	/** @section 1.2 body */

	& tbody
	{
		background: gray(230);

		& tr:not(:last-child)
		{
			border-bottom: 0.125rem solid gray(185);
		}

		& tr.rs-admin-has-parent td:first-child
		{
			padding-left: 1.5em;

			&:before
			{
				@extend %rs-admin-icon-subdirectory-arrow-right;
			}
		}

		& tr.rs-admin-is-disabled
		{
			color: gray(185);
			text-decoration: line-through;
		}
	}

	/** @section 1.3 move */

	& .rs-admin-col-move
	{
		direction: rtl;
		padding: 1.25em 0;
		position: relative;
		text-indent: -999em;

		&:before,
		&:after
		{
			color: gray(185);
			font-size: 2em;
			position: absolute;
			right: 5%;
			text-indent: 0;
		}

		&:before
		{
			@extend %rs-admin-icon-expand-less;
			top: 5%;
			transition: top 0.1s;
		}

		&:after
		{
			@extend %rs-admin-icon-expand-more;
			bottom: 5%;
			transition: bottom 0.1s;
		}

		&.rs-admin-is-active
		{
			cursor: move;

			&:before,
			&:after
			{
				color: gray(70);
			}

			&:active:before
			{
				top: 0;
			}

			&:active:after
			{
				bottom: 0;
			}

			&:hover:before,
			&:hover:after
			{
				color: var(--rs-admin-color-primary);
			}
		}
	}
}

/** @section 2. wrapper table */

.rs-admin-wrapper-table
{
	@extend %wrapper-table;
}
