/**
 * @tableofcontents
 *
 * 1. admin table
 *    1.1 head and foot
 *    1.2 body
 *    1.3 moveup and movedown
 *    1.4 rank
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. admin table */

.rs-admin-table-default
{
	@extend %table-default;
	color: gray(71);
	font: 1.25rem var(--rs-admin-font-primary);

	& caption,
	& th,
	& td
	{
		padding: 0.5em 0.75em;
	}

	/* @section 1.1 head and foot */

	& caption,
	& thead tr,
	& tfoot tr
	{
		background: gray(32);
		color: gray(204);
		text-transform: uppercase;
	}

	/* @section 1.2 body */

	& tbody
	{
		/* odd look */

		&:nth-child(odd) tr
		{
			background: gray(226);
		}

		/* even look */

		&:nth-child(even) tr
		{
			background: gray(218);
		}

		& tr.rs-admin-row-group
		{
			background: gray(200);
			font-weight: bold;
			text-transform: uppercase;
		}

		& tr:not(:last-child)
		{
			border-bottom: 1px solid gray(185);
		}

		& + tbody tr:first-child
		{
			border-top: 1px solid gray(185);
		}

		& tr.rs-admin-is-disabled
		{
			color: gray(185);
			text-decoration: line-through;
		}
	}

	/* @section 1.3 moveup and movedown */

	& .rs-admin-button-moveup,
	& .rs-admin-button-movedown
	{
		color: gray(71);
		display: block;
		min-height: 2.5em;
		position: relative;
		transition: color 0.2s;

		&.rs-admin-is-disabled
		{
			opacity: 0.1;
			pointer-events: none;
		}

		&:hover
		{
			color: var(--rs-admin-color-primary);
		}

		&:before
		{
			display: block;
			font: 1.5rem var(--rs-admin-font-icon);
			position: absolute;
			right: 0.25em;
			text-indent: 0;
		}
	}

	& .rs-admin-button-moveup:before
	{
		content: 'b';
		top: 0.25em;
	}

	& .rs-admin-button-movedown:before
	{
		bottom: 0.25em;
		content: 'c';
	}

	/* @section 1.4 rank */

	& tr th.rs-admin-col-rank,
	& tr td.rs-admin-col-rank
	{
		direction: ltr;
		text-align: left;
		text-indent: -999em;
	}

	& thead .rs-admin-col-rank,
	& tfoot .rs-admin-col-rank
	{
		display: block;
		position: relative;

		& :before
		{
			content: 'a';
			font: 1em/2.375em var(--rs-admin-font-icon);
			position: absolute;
			right: 1.375em;
			text-indent: 0;
			text-transform: lowercase;
			top: 0;
		}
	}
}