/**
 * @tableofcontents
 *
 * 1. links
 * 2. title accordion admin
 *    2.1 javascript enabled
 *    2.2 last element
 * 3. several admin titles
 * 4. title content admin
 * 5. flag
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. links */

.rs-admin-link-default
{
	color: gray(102);
	text-decoration: underline;
}

/* @section 2. title accordion admin */

.rs-admin-title-accordion
{
	background: var(--rs-admin-gradient-quaternary);
	border: 1px solid gray(185);
	box-sizing: border-box;
	font: bold 1.25rem/2.5rem var(--rs-admin-font-primary);
	padding: 0 1em;
	text-transform: uppercase;
	width: 100%;
}

.rs-admin-title-accordion:hover
{
	background: gray(240);
}

.rs-admin-title-accordion:not(.rs-admin-title-active)
{
	cursor: pointer;
}

.rs-admin-set-accordion:not(:last-child) .rs-admin-title-accordion
{
	border-bottom: none;
}

.rs-admin-title-accordion:not(.rs-admin-title-active)
{
	cursor: pointer;
}

.rs-admin-title-accordion,
.rs-admin-title-accordion a
{
	color: gray(68);
}

/* @section 2.1 javascript enabled */

.rs-is-js .rs-admin-title-accordion
{
	cursor: pointer;
}

/* @section 2.2 last element */

.rs-is-js .rs-admin-set-accordion:last-child .rs-admin-title-accordion
{
	border-bottom-width: 0;
}

/* @section 3. several admin titles */

.rs-is-js .rs-admin-title-accordion.rs-admin-title-active
{
	background: gray(32);
	border: 1px solid gray(34);
}

.rs-is-js .rs-admin-title-accordion.rs-admin-title-active,
.rs-is-js .rs-admin-title-accordion.rs-admin-title-active a
{
	color: gray(204);
}

/* @section 4. title content admin */

.rs-admin-title-content
{
	font-size: 2em;
	margin: 1em 0;
}

.rs-admin-title-content a
{
	color: gray(32);
}

/* @section 5. flag */

.rs-admin-text-flag
{
	background: var(--rs-admin-color-primary);
	border-radius: 0.125em;
	color: gray(255);
	display: inline-block;
	font-size: 0.75em;
	line-height: 1.25em;
	padding: 0.375em 0.5em;
	text-transform: uppercase;
}

.rs-admin-table-default .rs-admin-text-flag
{
	margin-right: 1em;
}