/**
 * @tableofcontents
 *
 * 1. link
 * 2. title
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. link */

.rs-admin-link-default
{
	color: gray(102);
	text-decoration: underline;
}

/* @section 2. title */

.rs-admin-title-content
{
	color: gray(32);
	font-size: 2em;
	margin: 1em 0;

	a
	{
		color: inherit;
	}
}
