/**
 * @tableofcontents
 *
 * 1. highlight
 */

/* @section 1. highlight */

.php-comment, .php-comment a
{
	opacity: 0.5;
}

.php-keyword1, .php-keyword1 a
{
    color: #e71818;
}

.php-quote, .php-quote a
{
    color: #008000;
}

.php-var, .php-var a
{
    color: #d59401;
}
