/**
 * @tableofcontents
 *
 * 1. lazy load
 *
 * @since 2.0.1
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. lazy load */

.rs-placeholder-lazy-load
{
	display: none;
}

.rs-js .rs-placeholder-lazy-load
{
	display: block;
	height: 0.5em;
}