/* accordion */

.js .box_accordion
{
	display: none;
}

/* box code */

.box_code
{
	white-space: pre-wrap;
}

/* several boxes */

.box_comment, .box_content, .box_extra
{
	word-wrap: break-word;
}

/* tab */

.box_tab
{
	overflow: hidden;
}

.set_tab
{
	height: 100%;
}