/**
 * @tableofcontents
 *
 * 1. box accordion
 * 2. box code
 * 3. several boxes
 * 4. box tab
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box accordion */

.js .box_accordion
{
	display: none;
}

/* @section 2. box code */

.box_code
{
	white-space: pre-wrap;
}

/* @section 3. several boxes */

.box_comment, .box_content, .box_extra
{
	word-wrap: break-word;
}

/* @section 4. box tab */

.box_tab
{
	overflow: hidden;
}

.set_tab
{
	height: 100%;
}