/* accordion */

.js .box_accordion
{
	display: none;
}

/* several boxes */

.box_comment, .box_content, .box_extra
{
	word-wrap: break-word;
}

/* tab menue */

.box_tab_menue
{
	overflow: hidden;
}

.set_tab_menue
{
	height: 100%;
}