/**
 * @tableofcontents
 *
 * 1. dialog
 * 2. dialog overlay
 *
 * @since 2.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. dialog */

.dialog
{
	left: 50%;
	margin: -5em 0 0 -15em;
	position: fixed;
	top: 50%;
	z-index: 1100;
	width: 30em;
}

/* @section 2. dialog overlay */

.dialog_overlay
{
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}