/**
 * @tableofcontents
 *
 * 1. dialog
 * 2. dialog overlay
 */

/* @section 1. dialog */

.dialog
{
	left: 50%;
	margin: -5em 0 0 -15em;
	position: fixed;
	top: 50%;
	z-index: 1100;
	width: 30em;
}

/* @section 2. dialog overlay */

.dialog_overlay
{
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}