/**
 * @tableofcontents
 *
 * 1. hide
 * 2. clear fix
 */

/* @section 1. hide */

.js .hide_if_js, .hidden_legend legend
{
	display: none;
}

/* @section 2. clear fix */

.clear_fix
{
	clear: both;
}

.clear_fix:after
{
	content: '';
	display: block;
	height: 0;
	clear: both
}