/**
 * @tableofcontents
 *
 * 1. grid
 *    1.1 whole
 *    1.2 halve
 *    1.2 third
 *    1.3 quarter
 *    1.4 fifth
 *    1.5 sixth
 *    1.7 seventh
 *    1.8 eighth
 *    1.9 golden ratio
 */

/* @section 1. grid */

.grid, .grid_space
{
	float: left;
}

.grid + .grid:last-child, .grid_space + .grid_space:last-child
{
	float: right;
}

/* @section 1.1 whole */

.s1o1
{
	width: 100%;
}

/* @section 1.2 halve */

.s1o2, .s2o4, .s3o6, .s4o8
{
	width: 50%;
}

/* @section 1.2 third */

.s1o3, .s2o6
{
	width: 33.33%;
}

.s2o3, .s4o6
{
	width: 66.66%;
}

/* @section 1.3 quarter */

.s1o4, .s2o8
{
	width: 25%;
}

.s3o4, .s6o8
{
	width: 75%;
}

/* @section 1.4 fifth */

.s1o5
{
	width: 20%;
}

.s2o5
{
	width: 40%;
}

.s3o5
{
	width: 60%;
}

.s4o5
{
	width: 80%;
}

/* @section 1.5 sixth */

.s1o6
{
	width: 16.66%;
}

.s5o6
{
	width: 83.33%;
}

/* @section 1.7 seventh */

.s1o7
{
	width: 14.28%;
}

.s2o7
{
	width: 28.58%;
}

.s3o7
{
	width: 42.86%;
}

.s4o7
{
	width: 57.14%;
}

.s5o7
{
	width: 71.42%;
}

.s6o7
{
	width: 85.72%;
}

/* @section 1.8 eighth */

.s1o8
{
	width: 12.5%;
}

.s3o8
{
	width: 37.5%;
}

.s5o8
{
	width: 62.5%;
}

.s7o8
{
	width: 87.5%;
}

/* @section 1.9 golden ratio */

.gr1
{
	width: 61.8%;
}

.gr2
{
	width: 38.2%;
}