/* dropdown list */

.list_dropdown, .list_dropdown li
{
	cursor: pointer;
	position: relative;
	z-index: 900;
}

.list_dropdown a
{
	display: inline-block;
	white-space: nowrap;
}

.list_dropdown li:hover > ul, .list_dropdown .item_touch > ul
{
	display: block;
}

.list_dropdown ul
{
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
}

.list_dropdown ul ul
{
	left: 100%;
	top: 0;
}

/* tab list */

.list_tab li
{
	display: inline-block;
}

/* tooltip */

.has_tooltip
{
	cursor: help;
	position: relative;
}

a.has_tooltip
{
	cursor: pointer;
}

.has_tooltip:focus .tooltip, .has_tooltip:hover .tooltip
{
	display: block;
}

.tooltip
{
	position: absolute;
	display: none;
	z-index: 500;
}