/**
 * @tableofcontents
 *
 * 1. list dropdown
 *    1.1 children elements
 * 2. list tab
 * 3. set tab
 * 4. title accordion
 * 5. tooltip
 *
 * @since 2.1.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. list dropdown */

.list_dropdown a
{
	display: block;
	white-space: nowrap;
}

.list_dropdown li
{
	cursor: pointer;
	position: relative;
	z-index: 500;
}

.list_dropdown li:hover > ul, .list_dropdown .item_touch > ul
{
	display: block;
}

/* @section 1.1 children elements */

.list_dropdown ul
{
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
}

.list_dropdown ul ul
{
	left: 100%;
	top: 0;
}

/* @section 2. list tab */

.list_tab li
{
	display: inline-block;
}

.js .list_tab .item_active
{
	pointer-events: none;
}

/* @section 3. set tab */

.js .set_tab
{
	display: none;
}

.js .set_tab.set_active
{
	display: block;
}

/* @section 4. title accordion */

.js .title_accordion_default.title_active
{
	pointer-events: none;
}

/* @section 5. tooltip */

.tooltip
{
	cursor: help;
	position: relative;
}

.tooltip.link_default
{
	cursor: pointer;
}

.tooltip:after
{
	content: attr(data-tooltip);
	opacity: 0;
	pointer-events: none;
	position: absolute;
	z-index: 500;
}

.tooltip:focus:after, .tooltip:hover:after
{
	opacity: 1;
}
