/**
 * @tableofcontents
 *
 * 1. box validator
 * 2. description validator
 */

/* @section 1. box validator */

.box_validator
{
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	background: #fff;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	font: 0.875em arial;
	padding: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	z-index: 2000;
}

/* @section 2. description validator */

.description_validator
{
	font: 0.75em  arial;
}