/**
 * @tableofcontents
 *
 * 1. box validator
 *    1.1 screen min 50em
 *    1.2 screen max 50em
 *
 * @since 2.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. box validator */

.box_validator
{
	bottom: 1em;
	font: 0.875em arial;
	position: fixed;
	right: 1em;
	z-index: 900;
}

/* box note */

.box_validator .box_note:before
{
	float: left;
}

/* @section 1.1 screen min 50em */

@media screen and (min-width: 50em)
{
	.box_validator
	{
		width: 20em;
	}
}

/* @section 1.2 screen max 50em */

@media screen and (max-width: 50em)
{
	.box_validator
	{
		left: 1em;
	}
}