/**
 * @tableofcontents
 *
 * 1. share this
 *    1.1 list
 *    1.2 link
 *    1.3 icon
 *
 * @since 3.0.0
 *
 * @package Redaxscript
 * @author Henry Ruhs
 */

/* @section 1. share this */

/* @section 1.1 list */

.rs-list-share-this
{
	margin-top: 2em;

	& li
	{
		float: left;
		margin: 0 3.5em 2em 0;
	}
}

/* @section 1.2 link */

.rs-link-share-this
{
	display: inline-block;
	height: 2.75em;
	position: relative;
	text-indent: -999em;

	&:before
	{
		background: rgba(0, 0, 0, 0.15);
		border-radius: 2em;
		color: #fff;
		content: 'a';
		font: 1.125em/2.25em 'icon share this';
		left: 0;
		position: absolute;
		text-align: center;
		text-indent: 0;
		top: 0;
		transition: background 0.4s;
		width: 2.25em;
	}

	&:after
	{
		bottom: -1.25em;
		color: rgba(0, 0, 0, 0.15);
		content: attr(data-counter);
		font: bold 1em arial;
		left: 0;
		position: absolute;
		text-align: center;
		text-indent: 0;
		width: 2.5em;
	}
}

/* @section 1.3 icon */

.rs-link-share-this
{
	/* facebook */
	
	&.rs-link-facebook
	{
		&:before
		{
			@extend %rs-icon-401-facebook;
		}

		&:hover:before
		{
			background: var(--rs-color-facebook);
		}
	}

	/* google plus */
	
	&.rs-link-googleplus
	{
		&:before
		{
			@extend %rs-icon-396-google-plus;
		}

		&:hover:before
		{
			background: var(--rs-color-googleplus);
		}
	}

	/* twitter */
	
	&.rs-link-twitter
	{
		&:before
		{
			@extend %rs-icon-407-twitter;
		}

		&:hover:before
		{
			background: var(--rs-color-twitter);
		}
	}

	/* pinterest */
	
	&.rs-link-pinterest
	{
		&:before
		{
			@extend %rs-icon-466-pinterest;
		}

		&:hover:before
		{
			background: var(--rs-color-pinterest);
		}
	}

	/* linkedin */

	&.rs-link-linkedin
	{
		&:before
		{
			@extend %rs-icon-459-linkedin2;
		}

		&:hover:before
		{
			background: var(--rs-color-linkedin);
		}
	}

	/* stumbleupon */

	&.rs-link-stumbleupon
	{
		&:before
		{
			@extend %rs-icon-463-stumbleupon;
		}

		&:hover:before
		{
			background: var(--rs-color-stumbleupon);
		}
	}

	/* delicious */

	&.rs-link-delicious
	{
		&:before
		{
			@extend %rs-icon-462-delicious;
		}

		&:hover:before
		{
			background: var(--rs-color-stumbleupon);
		}
	}
}